Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

fix: renovate groups
  .github/renovate/packageRules.json5
Labels: area/ci

fix: renovate groups
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): add spegel group
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): add spegel group
  .github/renovate/packageRules.json5
Labels: area/ci

feat: remove k8s-gateway
  kubernetes/apps/network/k8s-gateway/README.md
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/network/k8s-gateway/app/kustomization.yaml
  kubernetes/apps/network/k8s-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/flux/repositories/helm/k8s-gateway.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/vars/cluster-ipam.yaml
Labels: area/k8s

feat: remove k8s-gateway
  kubernetes/apps/network/k8s-gateway/README.md
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/network/k8s-gateway/app/kustomization.yaml
  kubernetes/apps/network/k8s-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/flux/repositories/helm/k8s-gateway.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/vars/cluster-ipam.yaml
Labels: area/k8s

fix(capacitor): update rbac
  kubernetes/apps/flux-system/capacitor/app/clusterrole.yaml
Labels: area/k8s

fix(capacitor): update rbac
  kubernetes/apps/flux-system/capacitor/app/clusterrole.yaml
Labels: area/k8s

fix: update flux file match
  .github/renovate/fileMatch.json5
Labels: area/ci

fix: update flux file match
  .github/renovate/fileMatch.json5
Labels: area/ci

fix(renovate): don't pin flux oci
  .github/renovate/noPin.json5
Labels: area/ci

fix(renovate): don't pin flux oci
  .github/renovate/noPin.json5
Labels: area/ci

chore: add krew
  .mise.toml
Labels: none

chore: add krew
  .mise.toml
Labels: none

fix: slow down some updates
  .github/renovate/packageRules.json5
Labels: area/ci

fix: slow down some updates
  .github/renovate/packageRules.json5
Labels: area/ci

fix: increase adguard disk
  kubernetes/apps/adguard-home/adguard-home/app/helmrelease.yaml
Labels: area/k8s

fix: increase adguard disk
  kubernetes/apps/adguard-home/adguard-home/app/helmrelease.yaml
Labels: area/k8s

fix: whoops
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/k8s

fix: whoops
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/k8s

fix: update reflector to match other helm releases
  kubernetes/apps/tools/reflector/app/helmrelease.yaml
Labels: area/k8s

fix: update reflector to match other helm releases
  kubernetes/apps/tools/reflector/app/helmrelease.yaml
Labels: area/k8s

feat: start kyverno
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/namespace.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/kyverno.yaml
Labels: area/k8s

feat: start kyverno
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/namespace.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/kyverno.yaml
Labels: area/k8s

feat: add kyverno policy
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/policies/defaultPodResources.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
Labels: area/k8s

feat: add kyverno policy
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/policies/defaultPodResources.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
Labels: area/k8s

fix: update name
  kubernetes/apps/kyverno/kyverno/policies/defaultPodResources.yaml
Labels: area/k8s

fix: update name
  kubernetes/apps/kyverno/kyverno/policies/defaultPodResources.yaml
Labels: area/k8s

feat(kyverno): more policies
  kubernetes/apps/kyverno/kyverno/policies/disallowEmptyIngress.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/safeToEvict.yaml
Labels: area/k8s

feat(kyverno): more policies
  kubernetes/apps/kyverno/kyverno/policies/disallowEmptyIngress.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/safeToEvict.yaml
Labels: area/k8s

fix(renovate): don't pin ghar
  .github/renovate/noPin.json5
Labels: area/ci

fix(renovate): don't pin ghar
  .github/renovate/noPin.json5
Labels: area/ci

feat: kometa simple deploy
  kubernetes/apps/media/kometa/app/configs/config.yaml
  kubernetes/apps/media/kometa/app/externalsecret.yaml
  kubernetes/apps/media/kometa/app/helmrelease.yaml
  kubernetes/apps/media/kometa/app/kustomization.yaml
  kubernetes/apps/media/kometa/ks.yaml
Labels: area/k8s

feat: kometa simple deploy
  kubernetes/apps/media/kometa/app/configs/config.yaml
  kubernetes/apps/media/kometa/app/externalsecret.yaml
  kubernetes/apps/media/kometa/app/helmrelease.yaml
  kubernetes/apps/media/kometa/app/kustomization.yaml
  kubernetes/apps/media/kometa/ks.yaml
Labels: area/k8s

fix: yml → yaml
  kubernetes/apps/media/kometa/app/kustomization.yaml
Labels: area/k8s

fix: yml → yaml
  kubernetes/apps/media/kometa/app/kustomization.yaml
Labels: area/k8s

fix(kometa): missed a bit
  kubernetes/apps/media/kustomization.yaml
Labels: area/k8s

fix(kometa): missed a bit
  kubernetes/apps/media/kustomization.yaml
Labels: area/k8s

fix(kometa): pvc
  kubernetes/apps/media/kometa/app/kustomization.yaml
  kubernetes/apps/media/kometa/app/pvc.yaml
Labels: area/k8s

fix(kometa): pvc
  kubernetes/apps/media/kometa/app/kustomization.yaml
  kubernetes/apps/media/kometa/app/pvc.yaml
Labels: area/k8s

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*
