Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

fix(n8n): use sourceRef + credentialMappings for cowtail workflow
  kubernetes/apps/services/n8n-operator/n8n/workflows/cowtail-digest.yaml
Labels: area/k8s

fix(n8n): add disableStartTls to smtp credential
  kubernetes/apps/services/n8n-operator/n8n/credentials/smtp.yaml
Labels: area/k8s

fix(n8n): add settings.executionOrder to cowtail workflow
  kubernetes/apps/services/n8n-operator/n8n/workflows/cowtail-digest.yaml
Labels: area/k8s

fix(n8n): use cluster-internal service URL for convex actions
  kubernetes/apps/services/n8n-operator/n8n/workflows/cowtail-digest.yaml
Labels: area/k8s

fix(n8n): use maude's fastmail smtp instead of cluster relay
  kubernetes/apps/services/n8n-operator/n8n/credentials/smtp.yaml
Labels: area/k8s

fix(n8n): clean up smtp credential to match onepassword pattern
  kubernetes/apps/services/n8n-operator/n8n/credentials/smtp.yaml
Labels: area/k8s

fix(n8n): use maude-smtp item in kubernetes vault for smtp creds
  kubernetes/apps/services/n8n-operator/n8n/credentials/smtp.yaml
Labels: area/k8s

fix(renovate): set GOCACHE/GOPATH to /tmp for non-root user
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
Labels: area/k8s

fix(renovate): set HOME=/tmp/home for containerbase go cache
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
Labels: area/k8s

fix(renovate): use container's native UID 12021 (ubuntu) instead of 568
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
Labels: area/k8s

feat(n8n-operator): upgrade to v0.13.0
  kubernetes/apps/services/n8n-operator/operator/helmrelease.yaml
Labels: area/k8s

fix(n8n): remove disableStartTls when secure=true (n8n schema prohibits it)
  kubernetes/apps/services/n8n-operator/n8n/credentials/smtp.yaml
Labels: area/k8s

feat(services): add cowtail k8s alert dashboard
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
  kubernetes/apps/services/cowtail/app/kustomization.yaml
  kubernetes/apps/services/cowtail/ks.yaml
Labels: area/k8s

feat(convex): add external ingress for API and actions
  kubernetes/apps/services/convex/app/helmrelease.yaml
Labels: area/k8s

Revert "feat(convex): add external ingress for API and actions"
  kubernetes/apps/services/convex/app/helmrelease.yaml
Labels: area/k8s

fix(cowtail): pin image tag to 0.1.3 (has nginx proxy)
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

feat(cowtail): bump to v0.2.0 — live Prometheus cluster health
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

feat(cowtail): bump to v0.2.1 — ceph link, actions proxy
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

fix(cowtail): bump to v0.2.2 — digest scroll fix
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

feat(cowtail): bump to v0.3.0
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

feat(cowtail): bump to v0.3.1 — runtime config, ceph dashboard ConfigMap
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

fix(cowtail): correct ConfigMap name reference
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

fix(cowtail): bump to v0.3.2, mount ConfigMap to /etc/cowtail
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

feat(cowtail): change digest email to daily at 8 PM
  kubernetes/apps/services/n8n-operator/n8n/workflows/cowtail-digest.yaml
Labels: area/k8s

feat(n8n): add cowtail weekly review workflow
  kubernetes/apps/services/n8n-operator/n8n/kustomization.yaml
  kubernetes/apps/services/n8n-operator/n8n/workflows/cowtail-weekly-review.yaml
Labels: area/k8s

feat(n8n): add error handler workflow for all n8n workflows
  kubernetes/apps/services/n8n-operator/n8n/kustomization.yaml
  kubernetes/apps/services/n8n-operator/n8n/workflows/error-handler.yaml
Labels: area/k8s

feat(n8n): set default error workflow globally on N8nInstance
  kubernetes/apps/services/n8n-operator/n8n/n8ninstance.yaml
Labels: area/k8s

feat(n8n): add OPENCLAW_WEBHOOK_TOKEN env var from 1Password
  kubernetes/apps/services/n8n-operator/n8n/externalsecrets.yaml
  kubernetes/apps/services/n8n-operator/n8n/n8ninstance.yaml
Labels: area/k8s

fix(n8n): use 1Password for webhook token in weekly review and error handler
  kubernetes/apps/services/n8n-operator/n8n/workflows/cowtail-weekly-review.yaml
  kubernetes/apps/services/n8n-operator/n8n/workflows/error-handler.yaml
Labels: area/k8s

fix(n8n): weekly review sends raw JSON alerts, not HTML
  kubernetes/apps/services/n8n-operator/n8n/workflows/cowtail-weekly-review.yaml
Labels: area/k8s

fix(n8n): rename Fetch Week HTML to Fetch Week Alerts
  kubernetes/apps/services/n8n-operator/n8n/workflows/cowtail-weekly-review.yaml
Labels: area/k8s

feat(cowtail): bump to v0.4.0 — fixes table + UI
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

feat(cowtail): bump to v0.4.1 — digest email fixes section
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

fix(cowtail): bump to v0.4.2 — nav links, scrollable sidebar
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

fix(cowtail): bump to v0.4.3 — back links on fixes/digest
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

fix(observability): tune recurring alert thresholds from weekly review
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/k8s

fix(infra): address recurring alert patterns from weekly review
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  talos/patches/controlplane/etcd.yaml
  talos/patches/global/sysctl.yaml
Labels: area/k8s, distro/talos

fix(talos): correct rhea install disk from sdb to sda
  talos/talconfig.yaml
Labels: distro/talos

feat(cowtail): bump to v0.4.4 — fixes page redesign
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

fix(cowtail): bump to v0.4.5 — wrench icon fix
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*
