Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*

feat: volsync
  .github/workflows/meta-flux-diff.yaml
  .github/workflows/resources/schema-hacks/replicationdestination.volsync.backube-v1alpha1.yaml
  .github/workflows/resources/schema-hacks/replicationsource.volsync.backube-v1alpha1.yaml
  .github/workflows/resources/schemas/schemahacks.json
  kubernetes/apps/kyverno/kyverno/policies/volsync-movers.yaml
  kubernetes/templates/volsync/kustomization.yaml
  kubernetes/templates/volsync/nfs-externalsecret.yaml
  kubernetes/templates/volsync/nfs-replicationdestination.yaml
  kubernetes/templates/volsync/nfs-replicationsource.yaml
Labels: area/ci, area/k8s

feat: volsync
  .github/workflows/meta-flux-diff.yaml
  .github/workflows/resources/schema-hacks/replicationdestination.volsync.backube-v1alpha1.yaml
  .github/workflows/resources/schema-hacks/replicationsource.volsync.backube-v1alpha1.yaml
  .github/workflows/resources/schemas/schemahacks.json
  kubernetes/apps/kyverno/kyverno/policies/volsync-movers.yaml
  kubernetes/templates/volsync/kustomization.yaml
  kubernetes/templates/volsync/nfs-externalsecret.yaml
  kubernetes/templates/volsync/nfs-replicationdestination.yaml
  kubernetes/templates/volsync/nfs-replicationsource.yaml
Labels: area/ci, area/k8s

chore: remove satisfactory
  .gitignore
  kubernetes/apps/services/kustomization.yaml
  kubernetes/apps/services/satisfactory/app/configs/config.yaml
  kubernetes/apps/services/satisfactory/app/helmrelease.yaml
  kubernetes/apps/services/satisfactory/app/kustomization.yaml
  kubernetes/apps/services/satisfactory/app/pvc.yaml
  kubernetes/apps/services/satisfactory/ks.yaml
Labels: area/k8s

chore: remove satisfactory
  .gitignore
  kubernetes/apps/services/kustomization.yaml
  kubernetes/apps/services/satisfactory/app/configs/config.yaml
  kubernetes/apps/services/satisfactory/app/helmrelease.yaml
  kubernetes/apps/services/satisfactory/app/kustomization.yaml
  kubernetes/apps/services/satisfactory/app/pvc.yaml
  kubernetes/apps/services/satisfactory/ks.yaml
Labels: area/k8s

Revert "⬆(group): chart cilium ( 1.17.0-pre.2 → 1.17.0-pre.3 )"
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/helmfile.yaml
Labels: area/k8s, distro/talos

Revert "⬆(group): chart cilium ( 1.17.0-pre.2 → 1.17.0-pre.3 )"
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/helmfile.yaml
Labels: area/k8s, distro/talos

fix: missing piece of volsync template
  kubernetes/templates/volsync/kustomization.yaml
  kubernetes/templates/volsync/pvc.yaml
Labels: area/k8s

fix: missing piece of volsync template
  kubernetes/templates/volsync/kustomization.yaml
  kubernetes/templates/volsync/pvc.yaml
Labels: area/k8s

feat: radarr-3d
  kubernetes/apps/arrs/kustomization.yaml
  kubernetes/apps/arrs/radarr-3d/app/externalsecret.yaml
  kubernetes/apps/arrs/radarr-3d/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr-3d/app/kustomization.yaml
  kubernetes/apps/arrs/radarr-3d/app/resources/pushover-notify.sh
  kubernetes/apps/arrs/radarr-3d/ks.yaml
Labels: area/k8s

feat: radarr-3d
  kubernetes/apps/arrs/kustomization.yaml
  kubernetes/apps/arrs/radarr-3d/app/externalsecret.yaml
  kubernetes/apps/arrs/radarr-3d/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr-3d/app/kustomization.yaml
  kubernetes/apps/arrs/radarr-3d/app/resources/pushover-notify.sh
  kubernetes/apps/arrs/radarr-3d/ks.yaml
Labels: area/k8s

fix: actually apply the policy...
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
Labels: area/k8s

fix: actually apply the policy...
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
Labels: area/k8s

fix: recyclarr config separation
  kubernetes/apps/arrs/recyclarr/app/helmrelease.yaml
  kubernetes/apps/arrs/recyclarr/app/kustomization.yaml
  kubernetes/apps/arrs/recyclarr/app/resources/radarr.yaml
  kubernetes/apps/arrs/recyclarr/app/resources/recyclarr.yaml
  kubernetes/apps/arrs/recyclarr/app/resources/recyclarr.yml
  kubernetes/apps/arrs/recyclarr/app/resources/sonarr.yaml
Labels: area/k8s

fix: recyclarr config separation
  kubernetes/apps/arrs/recyclarr/app/helmrelease.yaml
  kubernetes/apps/arrs/recyclarr/app/kustomization.yaml
  kubernetes/apps/arrs/recyclarr/app/resources/radarr.yaml
  kubernetes/apps/arrs/recyclarr/app/resources/recyclarr.yaml
  kubernetes/apps/arrs/recyclarr/app/resources/recyclarr.yml
  kubernetes/apps/arrs/recyclarr/app/resources/sonarr.yaml
Labels: area/k8s

fix: yml → yaml
  kubernetes/apps/arrs/recyclarr/app/resources/recyclarr.yaml
Labels: area/k8s

fix: yml → yaml
  kubernetes/apps/arrs/recyclarr/app/resources/recyclarr.yaml
Labels: area/k8s

fix: recyclarr fixes
  kubernetes/apps/arrs/recyclarr/app/externalsecret.yaml
  kubernetes/apps/arrs/recyclarr/app/kustomization.yaml
  kubernetes/apps/arrs/recyclarr/app/pvc.yaml
Labels: area/k8s

fix: recyclarr fixes
  kubernetes/apps/arrs/recyclarr/app/externalsecret.yaml
  kubernetes/apps/arrs/recyclarr/app/kustomization.yaml
  kubernetes/apps/arrs/recyclarr/app/pvc.yaml
Labels: area/k8s

fix: full path
  kubernetes/apps/arrs/recyclarr/app/resources/recyclarr.yaml
Labels: area/k8s

fix: full path
  kubernetes/apps/arrs/recyclarr/app/resources/recyclarr.yaml
Labels: area/k8s

feat: recyclarr radarr-3d
  kubernetes/apps/arrs/recyclarr/app/externalsecret.yaml
  kubernetes/apps/arrs/recyclarr/app/helmrelease.yaml
  kubernetes/apps/arrs/recyclarr/app/kustomization.yaml
  kubernetes/apps/arrs/recyclarr/app/resources/radarr-3d.yaml
  kubernetes/apps/arrs/recyclarr/app/resources/recyclarr.yaml
Labels: area/k8s

feat: recyclarr radarr-3d
  kubernetes/apps/arrs/recyclarr/app/externalsecret.yaml
  kubernetes/apps/arrs/recyclarr/app/helmrelease.yaml
  kubernetes/apps/arrs/recyclarr/app/kustomization.yaml
  kubernetes/apps/arrs/recyclarr/app/resources/radarr-3d.yaml
  kubernetes/apps/arrs/recyclarr/app/resources/recyclarr.yaml
Labels: area/k8s

fix: erroneous namespace
  kubernetes/apps/tools/reflector/app/helmrelease.yaml
Labels: area/k8s

fix: erroneous namespace
  kubernetes/apps/tools/reflector/app/helmrelease.yaml
Labels: area/k8s

feat: descheduler
  kubernetes/apps/tools/descheduler/app/helmrelease.yaml
  kubernetes/apps/tools/descheduler/app/kustomization.yaml
  kubernetes/apps/tools/descheduler/ks.yaml
Labels: area/k8s

feat: descheduler
  kubernetes/apps/tools/descheduler/app/helmrelease.yaml
  kubernetes/apps/tools/descheduler/app/kustomization.yaml
  kubernetes/apps/tools/descheduler/ks.yaml
Labels: area/k8s

fix: every time
  kubernetes/apps/tools/kustomization.yaml
Labels: area/k8s

fix: every time
  kubernetes/apps/tools/kustomization.yaml
Labels: area/k8s

fix: add repo
  kubernetes/flux/repositories/helm/descheduler.yaml
Labels: area/k8s

fix: add repo
  kubernetes/flux/repositories/helm/descheduler.yaml
Labels: area/k8s

fix: every time... again
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/k8s

fix: every time... again
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/k8s

feat: add home assistant
  kubernetes/apps/home-assistant/home-assistant/app/externalsecret.yaml
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home-assistant/home-assistant/app/kustomization.yaml
  kubernetes/apps/home-assistant/home-assistant/ks.yaml
  kubernetes/apps/home-assistant/kustomization.yaml
  kubernetes/apps/home-assistant/namespace.yaml
Labels: area/k8s

feat: add home assistant
  kubernetes/apps/home-assistant/home-assistant/app/externalsecret.yaml
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home-assistant/home-assistant/app/kustomization.yaml
  kubernetes/apps/home-assistant/home-assistant/ks.yaml
  kubernetes/apps/home-assistant/kustomization.yaml
  kubernetes/apps/home-assistant/namespace.yaml
Labels: area/k8s

chore: update hass configs
  kubernetes/apps/home-assistant/home-assistant/app/externalsecret.yaml
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
Labels: area/k8s

chore: update hass configs
  kubernetes/apps/home-assistant/home-assistant/app/externalsecret.yaml
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
Labels: area/k8s

chore: add ha subdomain to certs
  kubernetes/apps/network/ingress-nginx/certificates/production.yaml
  kubernetes/apps/network/ingress-nginx/certificates/staging.yaml
Labels: area/k8s

chore: add ha subdomain to certs
  kubernetes/apps/network/ingress-nginx/certificates/production.yaml
  kubernetes/apps/network/ingress-nginx/certificates/staging.yaml
Labels: area/k8s

fix: add hass postgres url
  kubernetes/apps/home-assistant/home-assistant/app/externalsecret.yaml
Labels: area/k8s

fix: add hass postgres url
  kubernetes/apps/home-assistant/home-assistant/app/externalsecret.yaml
Labels: area/k8s
