Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

fix: namespace
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
Labels: area/k8s

fix: whoops
  kubernetes/apps/database/dragonfly/ks.yaml
Labels: area/k8s

fix: whoops
  kubernetes/apps/database/dragonfly/ks.yaml
Labels: area/k8s

chore: update openebs
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/k8s

chore: update openebs
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/k8s

fix: localpv
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/k8s

fix: localpv
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/k8s

fix: disable new features
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/k8s

fix: disable new features
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/k8s

Revert "⏫(helm): chart ingress-nginx ( 4.12.3 → 4.13.0 )"
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/k8s

Revert "⏫(helm): chart ingress-nginx ( 4.12.3 → 4.13.0 )"
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/k8s

chore: tool updates
  .mise.toml
Labels: none

chore: tool updates
  .mise.toml
Labels: none

different action runner
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/rbac.yaml
Labels: area/k8s

different action runner
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/rbac.yaml
Labels: area/k8s

external secret
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/externalsecret.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/kustomization.yaml
Labels: area/k8s

external secret
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/externalsecret.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/kustomization.yaml
Labels: area/k8s

update
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/helmrelease.yaml
Labels: area/k8s

update
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/helmrelease.yaml
Labels: area/k8s

remove trunk
  .github/workflows/cache-trunk.yaml
  .github/workflows/check-trunk.yaml
Labels: area/ci

remove trunk
  .github/workflows/cache-trunk.yaml
  .github/workflows/check-trunk.yaml
Labels: area/ci

migrate plex to home-ops
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/k8s

migrate plex to home-ops
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/k8s

robust script
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/k8s

robust script
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/k8s

Updates ingress-nginx config
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/k8s

Updates ingress-nginx config
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/k8s

Adds proxy busy buffers size
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
Labels: area/k8s

Adds proxy busy buffers size
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
Labels: area/k8s

feat: Adds Project Zomboid service
  kubernetes/apps/services/zomboid/app/externalsecret.yaml
  kubernetes/apps/services/zomboid/app/helmrelease.yaml
  kubernetes/apps/services/zomboid/app/kustomization.yaml
  kubernetes/apps/services/zomboid/app/pvc.yaml
  kubernetes/apps/services/zomboid/ks.yaml
  kubernetes/flux/vars/cluster-ipam.yaml
Labels: area/k8s

fix: Updates zomboid server image repository
  kubernetes/apps/services/zomboid/app/helmrelease.yaml
Labels: area/k8s

feat: Add project convention documentation to Cursor rules
  .cursor/rules/fluxcd.mdc
  .cursor/rules/helmrelease.mdc
  .cursor/rules/k8s-yaml-style.mdc
  .cursor/rules/project-structure.mdc
  .cursor/rules/sops.mdc
  .cursor/rules/talos.mdc
Labels: none

feat(loki): Configure Loki ruler and admin bucket names
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/k8s

feat: Add project convention documentation to Cursor rules
  .cursor/rules/fluxcd.mdc
  .cursor/rules/helmrelease.mdc
  .cursor/rules/k8s-yaml-style.mdc
  .cursor/rules/project-structure.mdc
  .cursor/rules/sops.mdc
  .cursor/rules/talos.mdc
Labels: none

feat(loki): Configure Loki ruler and admin bucket names
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/k8s

fix(profilarr): Updates user and group IDs
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
Labels: area/k8s

fix(profilarr): Updates user and group IDs
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
Labels: area/k8s

fix(profilarr): add empty dir
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
Labels: area/k8s

fix(profilarr): add empty dir
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
Labels: area/k8s

fix(profilarr): pin to 1.1.2 for now
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
Labels: area/k8s

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*
