Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

feat(envoy): cut Sonarr DNS to native OIDC
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr/app/kustomization.yaml
  kubernetes/apps/arrs/sonarr/app/service-envoy-dns.yaml
Labels: area/k8s

feat(envoy): cut Sonarr DNS to native OIDC (#4240)
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr/app/kustomization.yaml
  kubernetes/apps/arrs/sonarr/app/service-envoy-dns.yaml
Labels: area/k8s

docs(envoy): record Sonarr production cutover
  .hermes/docs/migrations/2026-07-29-envoy-oidc.md
Labels: none

docs(envoy): record Sonarr production cutover (#4241)
  .hermes/docs/migrations/2026-07-29-envoy-oidc.md
Labels: none

fix(rook-ceph): bound mgr recent log ring
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/k8s

fix(rook-ceph): increase operator memory limit
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/k8s

test(envoy): generalize protected app OIDC contract
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-protected-app-envoy-oidc.sh
  scripts/tests/test-sonarr-envoy-oidc.sh
Labels: area/ci

test(envoy): generalize protected app OIDC contract (#4244)
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-protected-app-envoy-oidc.sh
  scripts/tests/test-sonarr-envoy-oidc.sh
Labels: area/ci

feat(envoy): migrate Radarr cohort to native OIDC
  kubernetes/apps/arrs/radarr-3d/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/radarr-3d/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr-3d/app/httproute-envoy-api.yaml
  kubernetes/apps/arrs/radarr-3d/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/radarr-3d/app/kustomization.yaml
  kubernetes/apps/arrs/radarr-3d/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/radarr-3d/app/service-envoy-dns.yaml
  kubernetes/apps/arrs/radarr/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/radarr/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr/app/httproute-envoy-api.yaml
  kubernetes/apps/arrs/radarr/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/radarr/app/kustomization.yaml
  kubernetes/apps/arrs/radarr/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/radarr/app/service-envoy-dns.yaml
Labels: area/k8s

feat(envoy): migrate Radarr cohort to native OIDC (#4245)
  kubernetes/apps/arrs/radarr-3d/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/radarr-3d/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr-3d/app/httproute-envoy-api.yaml
  kubernetes/apps/arrs/radarr-3d/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/radarr-3d/app/kustomization.yaml
  kubernetes/apps/arrs/radarr-3d/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/radarr-3d/app/service-envoy-dns.yaml
  kubernetes/apps/arrs/radarr/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/radarr/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr/app/httproute-envoy-api.yaml
  kubernetes/apps/arrs/radarr/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/radarr/app/kustomization.yaml
  kubernetes/apps/arrs/radarr/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/radarr/app/service-envoy-dns.yaml
Labels: area/k8s

fix(envoy): use the live OIDC secret store
  kubernetes/apps/arrs/radarr-3d/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/radarr/app/externalsecret-oidc.yaml
Labels: area/k8s

fix(envoy): use the live OIDC secret store (#4246)
  kubernetes/apps/arrs/radarr-3d/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/radarr/app/externalsecret-oidc.yaml
Labels: area/k8s

test(envoy): require the live OIDC secret store
  scripts/tests/test-protected-app-envoy-oidc.sh
Labels: none

fix(envoy): isolate migrated OAuth2 DNS hosts
  kubernetes/apps/arrs/oauth2-proxy/app/helmrelease.yaml
Labels: area/k8s

test(envoy): require the live OIDC secret store (#4247)
  scripts/tests/test-protected-app-envoy-oidc.sh
Labels: none

fix(envoy): isolate migrated OAuth2 DNS hosts (#4248)
  kubernetes/apps/arrs/oauth2-proxy/app/helmrelease.yaml
Labels: area/k8s

feat(envoy): migrate Prowlarr and SABnzbd
  kubernetes/apps/arrs/oauth2-proxy/app/helmrelease.yaml
  kubernetes/apps/arrs/prowlarr/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/prowlarr/app/helmrelease.yaml
  kubernetes/apps/arrs/prowlarr/app/httproute-envoy-api.yaml
  kubernetes/apps/arrs/prowlarr/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/prowlarr/app/kustomization.yaml
  kubernetes/apps/arrs/prowlarr/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/prowlarr/app/service-envoy-dns.yaml
  kubernetes/apps/arrs/sabnzbd/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/arrs/sabnzbd/app/httproute-envoy-api.yaml
  kubernetes/apps/arrs/sabnzbd/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/sabnzbd/app/kustomization.yaml
  kubernetes/apps/arrs/sabnzbd/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/sabnzbd/app/service-envoy-dns.yaml
Labels: area/k8s

feat(envoy): migrate Prowlarr and SABnzbd (#4249)
  kubernetes/apps/arrs/oauth2-proxy/app/helmrelease.yaml
  kubernetes/apps/arrs/prowlarr/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/prowlarr/app/helmrelease.yaml
  kubernetes/apps/arrs/prowlarr/app/httproute-envoy-api.yaml
  kubernetes/apps/arrs/prowlarr/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/prowlarr/app/kustomization.yaml
  kubernetes/apps/arrs/prowlarr/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/prowlarr/app/service-envoy-dns.yaml
  kubernetes/apps/arrs/sabnzbd/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/arrs/sabnzbd/app/httproute-envoy-api.yaml
  kubernetes/apps/arrs/sabnzbd/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/sabnzbd/app/kustomization.yaml
  kubernetes/apps/arrs/sabnzbd/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/sabnzbd/app/service-envoy-dns.yaml
Labels: area/k8s

test(envoy): enforce full-host OIDC boundaries
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-full-host-envoy-oidc.sh
Labels: area/ci

test(envoy): enforce full-host OIDC boundaries (#4250)
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-full-host-envoy-oidc.sh
Labels: area/ci

test(envoy): validate per-app backend ports
  scripts/tests/test-protected-app-envoy-oidc.sh
Labels: none

test(envoy): validate full-host backend ports
  scripts/tests/test-full-host-envoy-oidc.sh
Labels: none

test(envoy): validate per-app backend ports (#4251)
  scripts/tests/test-full-host-envoy-oidc.sh
  scripts/tests/test-protected-app-envoy-oidc.sh
Labels: none

feat(envoy): migrate final protected hosts
  kubernetes/apps/arrs/bazarr/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
  kubernetes/apps/arrs/bazarr/app/httproute-envoy-api.yaml
  kubernetes/apps/arrs/bazarr/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/bazarr/app/kustomization.yaml
  kubernetes/apps/arrs/bazarr/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/bazarr/app/service-envoy-dns.yaml
  kubernetes/apps/arrs/listenarr/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/listenarr/app/helmrelease.yaml
  kubernetes/apps/arrs/listenarr/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/listenarr/app/kustomization.yaml
  kubernetes/apps/arrs/listenarr/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/listenarr/app/service-envoy-dns.yaml
  kubernetes/apps/arrs/listenarr/ks.yaml
  kubernetes/apps/arrs/oauth2-proxy/app/helmrelease.yaml
  kubernetes/apps/arrs/profilarr/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
  kubernetes/apps/arrs/profilarr/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/profilarr/app/kustomization.yaml
  kubernetes/apps/arrs/profilarr/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/profilarr/app/service-envoy-dns.yaml
  kubernetes/apps/arrs/whisparr/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
  kubernetes/apps/arrs/whisparr/app/httproute-envoy-api.yaml
  kubernetes/apps/arrs/whisparr/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/whisparr/app/kustomization.yaml
  kubernetes/apps/arrs/whisparr/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/whisparr/app/service-envoy-dns.yaml
  kubernetes/apps/services/homarr/app/externalsecret-oidc.yaml
  kubernetes/apps/services/homarr/app/helmrelease.yaml
  kubernetes/apps/services/homarr/app/httproute-envoy-browser.yaml
  kubernetes/apps/services/homarr/app/kustomization.yaml
  kubernetes/apps/services/homarr/app/securitypolicy-oidc.yaml
  kubernetes/apps/services/homarr/app/service-envoy-dns.yaml
Labels: area/k8s

feat(envoy): migrate final protected hosts (#4252)
  kubernetes/apps/arrs/bazarr/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
  kubernetes/apps/arrs/bazarr/app/httproute-envoy-api.yaml
  kubernetes/apps/arrs/bazarr/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/bazarr/app/kustomization.yaml
  kubernetes/apps/arrs/bazarr/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/bazarr/app/service-envoy-dns.yaml
  kubernetes/apps/arrs/listenarr/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/listenarr/app/helmrelease.yaml
  kubernetes/apps/arrs/listenarr/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/listenarr/app/kustomization.yaml
  kubernetes/apps/arrs/listenarr/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/listenarr/app/service-envoy-dns.yaml
  kubernetes/apps/arrs/listenarr/ks.yaml
  kubernetes/apps/arrs/oauth2-proxy/app/helmrelease.yaml
  kubernetes/apps/arrs/profilarr/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
  kubernetes/apps/arrs/profilarr/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/profilarr/app/kustomization.yaml
  kubernetes/apps/arrs/profilarr/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/profilarr/app/service-envoy-dns.yaml
  kubernetes/apps/arrs/whisparr/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
  kubernetes/apps/arrs/whisparr/app/httproute-envoy-api.yaml
  kubernetes/apps/arrs/whisparr/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/whisparr/app/kustomization.yaml
  kubernetes/apps/arrs/whisparr/app/securitypolicy-oidc.yaml
  kubernetes/apps/arrs/whisparr/app/service-envoy-dns.yaml
  kubernetes/apps/services/homarr/app/externalsecret-oidc.yaml
  kubernetes/apps/services/homarr/app/helmrelease.yaml
  kubernetes/apps/services/homarr/app/httproute-envoy-browser.yaml
  kubernetes/apps/services/homarr/app/kustomization.yaml
  kubernetes/apps/services/homarr/app/securitypolicy-oidc.yaml
  kubernetes/apps/services/homarr/app/service-envoy-dns.yaml
Labels: area/k8s

test(envoy): guard protected auth retirement
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-full-host-envoy-oidc.sh
  scripts/tests/test-protected-app-envoy-oidc.sh
  scripts/tests/test-protected-auth-retirement.sh
Labels: area/ci

test(envoy): guard protected auth retirement (#4253)
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-full-host-envoy-oidc.sh
  scripts/tests/test-protected-app-envoy-oidc.sh
  scripts/tests/test-protected-auth-retirement.sh
Labels: area/ci

test(envoy): quiet expected retirement search
  scripts/tests/test-protected-auth-retirement.sh
Labels: none

test(envoy): quiet expected retirement search (#4254)
  scripts/tests/test-protected-auth-retirement.sh
Labels: none

test(envoy): quiet retired ingress probes
  scripts/tests/test-protected-auth-retirement.sh
Labels: none

test(envoy): quiet retired ingress probes (#4255)
  scripts/tests/test-protected-auth-retirement.sh
Labels: none

feat(envoy): retire protected oauth2 proxy
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
  kubernetes/apps/arrs/kustomization.yaml
  kubernetes/apps/arrs/listenarr/app/helmrelease.yaml
  kubernetes/apps/arrs/oauth2-proxy/app/externalsecret.yaml
  kubernetes/apps/arrs/oauth2-proxy/app/helmrelease.yaml
  kubernetes/apps/arrs/oauth2-proxy/app/kustomization.yaml
  kubernetes/apps/arrs/oauth2-proxy/app/ocirepository.yaml
  kubernetes/apps/arrs/oauth2-proxy/app/poddisruptionbudget.yaml
  kubernetes/apps/arrs/oauth2-proxy/ks.yaml
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
  kubernetes/apps/arrs/prowlarr/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr-3d/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr/app/helmrelease.yaml
  kubernetes/apps/arrs/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
  kubernetes/apps/services/homarr/app/helmrelease.yaml
Labels: area/k8s

feat(envoy): retire protected OAuth2 Proxy (#4256)
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
  kubernetes/apps/arrs/kustomization.yaml
  kubernetes/apps/arrs/listenarr/app/helmrelease.yaml
  kubernetes/apps/arrs/oauth2-proxy/app/externalsecret.yaml
  kubernetes/apps/arrs/oauth2-proxy/app/helmrelease.yaml
  kubernetes/apps/arrs/oauth2-proxy/app/kustomization.yaml
  kubernetes/apps/arrs/oauth2-proxy/app/ocirepository.yaml
  kubernetes/apps/arrs/oauth2-proxy/app/poddisruptionbudget.yaml
  kubernetes/apps/arrs/oauth2-proxy/ks.yaml
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
  kubernetes/apps/arrs/prowlarr/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr-3d/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr/app/helmrelease.yaml
  kubernetes/apps/arrs/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
  kubernetes/apps/services/homarr/app/helmrelease.yaml
Labels: area/k8s

test(envoy): guard Profilarr Hermes machine route
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-profilarr-hermes-machine-route.sh
Labels: area/ci

test(envoy): guard Profilarr Hermes machine route (#4257)
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-profilarr-hermes-machine-route.sh
Labels: area/ci

test(envoy): fix Profilarr route assertions
  scripts/tests/test-profilarr-hermes-machine-route.sh
Labels: none

test(envoy): fix Profilarr route assertions (#4258)
  scripts/tests/test-profilarr-hermes-machine-route.sh
Labels: none

feat(envoy): restore Profilarr Hermes API
  kubernetes/apps/arrs/profilarr/app/httproute-envoy-api-hermes.yaml
  kubernetes/apps/arrs/profilarr/app/kustomization.yaml
  kubernetes/apps/arrs/profilarr/app/securitypolicy-hermes-machine.yaml
Labels: area/k8s

feat(envoy): restore Profilarr Hermes API (#4259)
  kubernetes/apps/arrs/profilarr/app/httproute-envoy-api-hermes.yaml
  kubernetes/apps/arrs/profilarr/app/kustomization.yaml
  kubernetes/apps/arrs/profilarr/app/securitypolicy-hermes-machine.yaml
Labels: area/k8s

docs(envoy): record protected auth completion
  .hermes/docs/migrations/2026-07-29-envoy-oidc.md
Labels: none

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*
