Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

chore(network): update cloudflare-ddns image digest
  kubernetes/apps/network/cloudflare-ddns/app/helmrelease.yaml
Labels: area/k8s

chore(network): update cloudflare-ddns image digest (#3995)
  kubernetes/apps/network/cloudflare-ddns/app/helmrelease.yaml
Labels: area/k8s

chore(arrs): update Shelfmark to v1.3.4
  kubernetes/apps/arrs/cwa-bdl/app/helmrelease.yaml
Labels: area/k8s

chore(arrs): update Shelfmark to v1.3.4 (#3997)
  kubernetes/apps/arrs/cwa-bdl/app/helmrelease.yaml
Labels: area/k8s

revert(arrs): roll back Shelfmark v1.3.4
  kubernetes/apps/arrs/cwa-bdl/app/helmrelease.yaml
Labels: area/k8s

revert(arrs): roll back Shelfmark v1.3.4 (#3998)
  kubernetes/apps/arrs/cwa-bdl/app/helmrelease.yaml
Labels: area/k8s

fix(tuppr): recreate cleanup job on image changes
  kubernetes/apps/system-upgrade/tuppr/upgrades/legacy-plan-cleanup.yaml
Labels: area/k8s

fix(cowtail): update to 0.15.3
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

fix(cowtail): update to 0.15.3 (#4000)
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

fix(talos): prefer reliable NTP sources
  talos/patches/global/ntp.yaml
Labels: distro/talos

fix(talos): prefer reliable NTP sources (#4001)
  talos/patches/global/ntp.yaml
Labels: distro/talos

feat(flux): deploy read-only Konflate reviews
  kubernetes/apps/flux-system/konflate/app/helmrelease.yaml
  kubernetes/apps/flux-system/konflate/app/kustomization.yaml
  kubernetes/apps/flux-system/konflate/app/ocirepository.yaml
  kubernetes/apps/flux-system/konflate/ks.yaml
Labels: area/k8s

feat(flux): deploy read-only Konflate reviews (#4002)
  kubernetes/apps/flux-system/konflate/app/helmrelease.yaml
  kubernetes/apps/flux-system/konflate/app/kustomization.yaml
  kubernetes/apps/flux-system/konflate/app/ocirepository.yaml
  kubernetes/apps/flux-system/konflate/ks.yaml
Labels: area/k8s

test: exercise Konflate warning taxonomy
  kubernetes/apps/database/rabbitmq/cluster/kustomization.yaml
  kubernetes/apps/database/rabbitmq/ks.yaml
  kubernetes/apps/services/plane-github-bridge/app/deployment.yaml
  kubernetes/apps/services/plane-github-bridge/app/konflate-warning-clusterrolebinding.yaml
  kubernetes/apps/services/plane-github-bridge/app/kustomization.yaml
Labels: area/k8s

perf(ci): remove orchestration delays
  .github/workflows/meta-flux-diff.yaml
  .github/workflows/meta-static-analysis.yaml
  scripts/plan-helm-image-shards
  scripts/tests/test-helm-image-inventory.sh
Labels: area/ci

test: benchmark optimized Flate diff
  kubernetes/apps/flux-system/konflate/app/kustomization.yaml
Labels: area/k8s

perf(ci): remove orchestration delays (#4004)
  .github/workflows/meta-flux-diff.yaml
  .github/workflows/meta-static-analysis.yaml
  scripts/plan-helm-image-shards
  scripts/tests/test-helm-image-inventory.sh
Labels: area/ci

fix(ci): enforce image shard latency budget
  .github/workflows/meta-static-analysis.yaml
  scripts/check-helmrelease-images
  scripts/tests/test-helm-image-inventory.sh
Labels: area/ci

fix(ci): enforce image shard latency budget (#4006)
  .github/workflows/meta-static-analysis.yaml
  scripts/check-helmrelease-images
  scripts/tests/test-helm-image-inventory.sh
Labels: area/ci

fix(ci): restore dynamic image shard planning
  .github/workflows/meta-static-analysis.yaml
  scripts/check-helmrelease-images
  scripts/plan-helm-image-shards
  scripts/tests/test-helm-image-inventory.sh
Labels: area/ci

fix(ci): restore dynamic image shard planning (#4007)
  .github/workflows/meta-static-analysis.yaml
  scripts/check-helmrelease-images
  scripts/plan-helm-image-shards
  scripts/tests/test-helm-image-inventory.sh
Labels: area/ci

chore(cowtail): update to 0.16.0
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

chore(cowtail): update to 0.16.0
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

fix(cowtail): depend on external secret store
  kubernetes/apps/services/cowtail/ks.yaml
Labels: area/k8s

fix(cowtail): depend on external secret store
  kubernetes/apps/services/cowtail/ks.yaml
Labels: area/k8s

feat(konflate): prepare GitHub write-back
  kubernetes/apps/flux-system/konflate/app/externalsecret.yaml
  kubernetes/apps/flux-system/konflate/app/helmrelease.yaml
  kubernetes/apps/flux-system/konflate/app/kustomization.yaml
  kubernetes/apps/flux-system/konflate/ks.yaml
Labels: area/k8s

feat(konflate): enable GitHub write-back (#4010)
  kubernetes/apps/flux-system/konflate/app/externalsecret.yaml
  kubernetes/apps/flux-system/konflate/app/helmrelease.yaml
  kubernetes/apps/flux-system/konflate/app/kustomization.yaml
  kubernetes/apps/flux-system/konflate/ks.yaml
Labels: area/k8s

test(konflate): verify GitHub write-back
  kubernetes/apps/flux-system/konflate/app/helmrelease.yaml
Labels: area/k8s

fix(konflate): enable immediate webhook renders
  kubernetes/apps/flux-system/konflate/app/externalsecret.yaml
  kubernetes/apps/flux-system/konflate/app/helmrelease.yaml
  kubernetes/apps/flux-system/konflate/app/kustomization.yaml
  kubernetes/apps/flux-system/konflate/app/webhook-ingress.yaml
Labels: area/k8s

fix(konflate): enable immediate webhook renders (#4012)
  kubernetes/apps/flux-system/konflate/app/externalsecret.yaml
  kubernetes/apps/flux-system/konflate/app/helmrelease.yaml
  kubernetes/apps/flux-system/konflate/app/kustomization.yaml
  kubernetes/apps/flux-system/konflate/app/webhook-ingress.yaml
Labels: area/k8s

test(konflate): measure webhook latency
  kubernetes/apps/flux-system/konflate/app/helmrelease.yaml
Labels: area/k8s

fix(flux): orphan resources during operator migration
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/k8s

fix(flux): orphan resources during operator migration (#4014)
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/k8s

feat(flux): install operator without instance
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/k8s

feat(flux): install operator without instance (#4015)
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/k8s

feat(flux): add operator-managed instance
  kubernetes/apps/flux-system/flux-instance/app/helm-values.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomizeconfig.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/flux-system/flux-operator/app/helm-values.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomizeconfig.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  talos/helmfile.yaml
Labels: area/k8s, distro/talos

feat(flux): add operator-managed instance (#4016)
  kubernetes/apps/flux-system/flux-instance/app/helm-values.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomizeconfig.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/flux-system/flux-operator/app/helm-values.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomizeconfig.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  talos/helmfile.yaml
Labels: area/k8s, distro/talos

fix(flux): disable invalid instance health hook
  kubernetes/apps/flux-system/flux-instance/app/helm-values.yaml
Labels: area/k8s

fix(flux): disable invalid instance health hook (#4019)
  kubernetes/apps/flux-system/flux-instance/app/helm-values.yaml
Labels: area/k8s

chore(flux): suspend legacy distribution
  kubernetes/flux/config/flux.yaml
Labels: area/k8s

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*
