Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*

chore(flux): adopt legacy notification resources
  kubernetes/apps/flux-system/notifications/app/github-dispatch/alert.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/externalsecret.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/provider.yaml
  kubernetes/apps/flux-system/notifications/ks.yaml
Labels: area/k8s

chore(flux): adopt legacy notification resources (#4219)
  kubernetes/apps/flux-system/notifications/app/github-dispatch/alert.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/externalsecret.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/provider.yaml
  kubernetes/apps/flux-system/notifications/ks.yaml
Labels: area/k8s

chore(zoo-fleet): deploy v0.2.6
  kubernetes/apps/iot/zoo-fleet/README.md
  kubernetes/apps/iot/zoo-fleet/app/helmrelease.yaml
  kubernetes/apps/iot/zoo-fleet/app/ocirepository.yaml
Labels: area/k8s

chore(flux): remove legacy failure notifications
  docs/flux-dependency-diagram.md
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/notifications/README.md
  kubernetes/apps/flux-system/notifications/app/github-dispatch/alert.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/externalsecret.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/provider.yaml
  kubernetes/apps/flux-system/notifications/app/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/alert.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/externalsecret.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/provider.yaml
  kubernetes/apps/flux-system/notifications/ks.yaml
Labels: area/docs, area/k8s

fix(documenso): wait for external secret store
  kubernetes/apps/services/documenso/ks.yaml
Labels: area/k8s

fix(documenso): wait for external secret store (#4223)
  kubernetes/apps/services/documenso/ks.yaml
Labels: area/k8s

chore(flux): remove legacy failure notifications (#4222)
  docs/flux-dependency-diagram.md
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/notifications/README.md
  kubernetes/apps/flux-system/notifications/app/github-dispatch/alert.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/externalsecret.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/provider.yaml
  kubernetes/apps/flux-system/notifications/app/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/alert.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/externalsecret.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/provider.yaml
  kubernetes/apps/flux-system/notifications/ks.yaml
Labels: area/docs, area/k8s

chore(zoo-fleet): deploy v0.2.7
  kubernetes/apps/iot/zoo-fleet/README.md
  kubernetes/apps/iot/zoo-fleet/app/helmrelease.yaml
  kubernetes/apps/iot/zoo-fleet/app/ocirepository.yaml
Labels: area/k8s

chore(github): remove Flux failure issue automation
  .github/labels.json
  .github/workflows/flux-failure-issue.yaml
  .github/workflows/meta-static-analysis.yaml
  scripts/handle-flux-failure-event
  scripts/tests/test-flux-failure-event.sh
Labels: area/ci

fix(renovate): clear dashboard blockers
  .github/renovate.json5
  .github/renovate/customManagers.json5
  kubernetes/apps/kyverno/kyverno/policies/talos-runner-boundary.yaml
Labels: area/ci, area/k8s

fix(renovate): clear dashboard blockers (#4221)
  .github/renovate.json5
  .github/renovate/customManagers.json5
  kubernetes/apps/kyverno/kyverno/policies/talos-runner-boundary.yaml
Labels: area/ci, area/k8s

chore(github): remove Flux failure issue automation (#4225)
  .github/labels.json
  .github/workflows/flux-failure-issue.yaml
  .github/workflows/meta-static-analysis.yaml
  scripts/handle-flux-failure-event
  scripts/tests/test-flux-failure-event.sh
Labels: area/ci

fix(renovate): make OCI group cooldown explicit
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): make OCI group cooldown explicit (#4226)
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): shorten grouped infrastructure cooldowns
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): shorten grouped infrastructure cooldowns (#4227)
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): cap infrastructure cooldowns at three days
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): cap infrastructure cooldowns at three days (#4228)
  .github/renovate/packageRules.json5
Labels: area/ci

feat(maintenance): admit exact known alert baselines
  AGENTS.md
  scripts/cluster-maintenance
  scripts/tests/test-cluster-maintenance.py
Labels: none

feat(envoy): add Sonarr OIDC canary
  .hermes/docs/migrations/2026-07-29-envoy-oidc.md
  kubernetes/apps/arrs/sonarr/app/externalsecret-oidc-canary.yaml
  kubernetes/apps/arrs/sonarr/app/httproute-canary-api.yaml
  kubernetes/apps/arrs/sonarr/app/httproute-canary-browser.yaml
  kubernetes/apps/arrs/sonarr/app/kustomization.yaml
  kubernetes/apps/arrs/sonarr/app/securitypolicy-canary.yaml
  kubernetes/apps/arrs/sonarr/app/service-canary-dns.yaml
Labels: area/k8s

feat(envoy): add Sonarr native OIDC canary (#4229)
  .hermes/docs/migrations/2026-07-29-envoy-oidc.md
  kubernetes/apps/arrs/sonarr/app/externalsecret-oidc-canary.yaml
  kubernetes/apps/arrs/sonarr/app/httproute-canary-api.yaml
  kubernetes/apps/arrs/sonarr/app/httproute-canary-browser.yaml
  kubernetes/apps/arrs/sonarr/app/kustomization.yaml
  kubernetes/apps/arrs/sonarr/app/securitypolicy-canary.yaml
  kubernetes/apps/arrs/sonarr/app/service-canary-dns.yaml
Labels: area/k8s

feat(maintenance): admit exact known alert baselines (#4230)
  AGENTS.md
  scripts/cluster-maintenance
  scripts/tests/test-cluster-maintenance.py
Labels: none

test(envoy): enforce Sonarr OIDC canary contract
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-envoy-oidc-canary.sh
Labels: area/ci

test(envoy): enforce Sonarr OIDC canary contract (#4231)
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-envoy-oidc-canary.sh
Labels: area/ci

docs(envoy): complete protected caller matrix
  .hermes/docs/migrations/2026-07-29-envoy-oidc.md
Labels: none

docs(envoy): complete protected caller matrix (#4232)
  .hermes/docs/migrations/2026-07-29-envoy-oidc.md
Labels: none

test(envoy): retire Sonarr canary contract
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-envoy-oidc-canary.sh
Labels: area/ci

test(envoy): retire Sonarr canary contract (#4233)
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-envoy-oidc-canary.sh
Labels: area/ci

chore(envoy): remove Sonarr OIDC canary
  .hermes/docs/migrations/2026-07-29-envoy-oidc.md
  kubernetes/apps/arrs/sonarr/app/externalsecret-oidc-canary.yaml
  kubernetes/apps/arrs/sonarr/app/httproute-canary-api.yaml
  kubernetes/apps/arrs/sonarr/app/httproute-canary-browser.yaml
  kubernetes/apps/arrs/sonarr/app/kustomization.yaml
  kubernetes/apps/arrs/sonarr/app/securitypolicy-canary.yaml
  kubernetes/apps/arrs/sonarr/app/service-canary-dns.yaml
Labels: area/k8s

chore(envoy): remove Sonarr OIDC canary (#4234)
  .hermes/docs/migrations/2026-07-29-envoy-oidc.md
  kubernetes/apps/arrs/sonarr/app/externalsecret-oidc-canary.yaml
  kubernetes/apps/arrs/sonarr/app/httproute-canary-api.yaml
  kubernetes/apps/arrs/sonarr/app/httproute-canary-browser.yaml
  kubernetes/apps/arrs/sonarr/app/kustomization.yaml
  kubernetes/apps/arrs/sonarr/app/securitypolicy-canary.yaml
  kubernetes/apps/arrs/sonarr/app/service-canary-dns.yaml
Labels: area/k8s

chore(zoo-fleet): deploy v0.2.8
  kubernetes/apps/iot/zoo-fleet/README.md
  kubernetes/apps/iot/zoo-fleet/app/helmrelease.yaml
  kubernetes/apps/iot/zoo-fleet/app/ocirepository.yaml
Labels: area/k8s

Deploy Zoo Fleet v0.2.8 (#4235)
  kubernetes/apps/iot/zoo-fleet/README.md
  kubernetes/apps/iot/zoo-fleet/app/helmrelease.yaml
  kubernetes/apps/iot/zoo-fleet/app/ocirepository.yaml
Labels: area/k8s

feat(konflate): enable MCP endpoint
  kubernetes/apps/flux-system/konflate/app/helmrelease.yaml
Labels: area/k8s

feat(konflate): enable MCP endpoint (#4236)
  kubernetes/apps/flux-system/konflate/app/helmrelease.yaml
Labels: area/k8s

feat(envoy): stage Sonarr production OIDC routes
  kubernetes/apps/arrs/sonarr/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/sonarr/app/httproute-envoy-api.yaml
  kubernetes/apps/arrs/sonarr/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/sonarr/app/kustomization.yaml
  kubernetes/apps/arrs/sonarr/app/securitypolicy-oidc.yaml
Labels: area/k8s

feat(envoy): stage Sonarr production OIDC routes (#4237)
  kubernetes/apps/arrs/sonarr/app/externalsecret-oidc.yaml
  kubernetes/apps/arrs/sonarr/app/httproute-envoy-api.yaml
  kubernetes/apps/arrs/sonarr/app/httproute-envoy-browser.yaml
  kubernetes/apps/arrs/sonarr/app/kustomization.yaml
  kubernetes/apps/arrs/sonarr/app/securitypolicy-oidc.yaml
Labels: area/k8s

fix(cloudnative-pg): force snapshot backup checkpoint
  kubernetes/apps/database/cloudnative-pg/cluster/cluster17.yaml
Labels: area/k8s

fix(cloudnative-pg): force snapshot backup checkpoint (#4238)
  kubernetes/apps/database/cloudnative-pg/cluster/cluster17.yaml
Labels: area/k8s

test(envoy): enforce Sonarr production OIDC contract
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-sonarr-envoy-oidc.sh
Labels: area/ci

test(envoy): enforce Sonarr production OIDC contract (#4239)
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-sonarr-envoy-oidc.sh
Labels: area/ci
