Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*

test: remove ribbon for now
  kubernetes/apps/media/kometa/app/configs/config.yaml
Labels: area/k8s

test: remove ribbon for now
  kubernetes/apps/media/kometa/app/configs/config.yaml
Labels: area/k8s

fix: update holidays
  kubernetes/apps/media/kometa/app/configs/collections/movies_holiday.yaml
Labels: area/k8s

fix: update holidays
  kubernetes/apps/media/kometa/app/configs/collections/movies_holiday.yaml
Labels: area/k8s

fix: move kometa to separate repo
  kubernetes/apps/media/kometa/app/configs/collections/movies_holiday.yaml
  kubernetes/apps/media/kometa/app/configs/config.yaml
  kubernetes/apps/media/kometa/app/externalsecret.yaml
Labels: area/k8s

fix: move kometa to separate repo
  kubernetes/apps/media/kometa/app/configs/collections/movies_holiday.yaml
  kubernetes/apps/media/kometa/app/configs/config.yaml
  kubernetes/apps/media/kometa/app/externalsecret.yaml
Labels: area/k8s

fix: update kometa to download external config
  kubernetes/apps/media/kometa/app/helmrelease.yaml
  kubernetes/apps/media/kometa/app/kustomization.yaml
Labels: area/k8s

fix: update kometa to download external config
  kubernetes/apps/media/kometa/app/helmrelease.yaml
  kubernetes/apps/media/kometa/app/kustomization.yaml
Labels: area/k8s

fix: update kometa secret
  kubernetes/apps/media/kometa/app/externalsecret.yaml
Labels: area/k8s

fix: update kometa secret
  kubernetes/apps/media/kometa/app/externalsecret.yaml
Labels: area/k8s

fix: update posters
  kubernetes/apps/media/posterizarr/app/configs/config.json
Labels: area/k8s

fix: update posters
  kubernetes/apps/media/posterizarr/app/configs/config.json
Labels: area/k8s

fix: no overlay on poster (kometa handles)
  kubernetes/apps/media/posterizarr/app/configs/config.json
Labels: area/k8s

fix: no overlay on poster (kometa handles)
  kubernetes/apps/media/posterizarr/app/configs/config.json
Labels: area/k8s

fix(kyverno): lower defaults
  kubernetes/apps/kyverno/kyverno/policies/defaultPodResources.yaml
Labels: area/k8s

fix(kyverno): lower defaults
  kubernetes/apps/kyverno/kyverno/policies/defaultPodResources.yaml
Labels: area/k8s

fix(renovate): schedule fix?
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): schedule fix?
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): schedule again
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): schedule again
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): update env var
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
Labels: area/k8s

fix(renovate): update env var
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
Labels: area/k8s

fix(renovate): one more for the road
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): one more for the road
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): i dont like this library
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): i dont like this library
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): stupid library
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): stupid library
  .github/renovate/packageRules.json5
Labels: area/ci

chore(mise): add renovate
  .mise.toml
Labels: none

chore(mise): add renovate
  .mise.toml
Labels: none

feat: update flux-diff to use bot token
  .github/workflows/meta-flux-diff.yaml
Labels: area/ci

chore: remove kubeconform
  .github/workflows/check-kubeconform.yaml
  .github/workflows/resources/kubeconform.sh
Labels: area/ci

feat: add hr sync
  .github/workflows/meta-flux-hr-sync.yaml
Labels: area/ci

fix: update k8s schemas
  .github/workflows/publish-schemas.yaml
  .github/workflows/resources/k8s-schemas.sh
Labels: area/ci

fix: add trunk annotations and api token
  .github/workflows/check-trunk.yaml
Labels: area/ci

feat: remove lychee
  .github/workflows/schedule-lychee.yaml
Labels: area/ci

fix: update trunk ignores
  .gitignore
  .trunk/.gitignore
Labels: area/trunk

fix: broken
  .github/workflows/check-trunk.yaml
Labels: area/ci

feat: k8s-177 (#627)
  .github/workflows/check-kubeconform.yaml
  .github/workflows/check-trunk.yaml
  .github/workflows/meta-flux-diff.yaml
  .github/workflows/meta-flux-hr-sync.yaml
  .github/workflows/publish-schemas.yaml
  .github/workflows/resources/k8s-schemas.sh
  .github/workflows/resources/kubeconform.sh
  .github/workflows/schedule-lychee.yaml
  .gitignore
  .trunk/.gitignore
Labels: area/ci, area/trunk

feat: k8s-177 (#627)
  .github/workflows/check-kubeconform.yaml
  .github/workflows/check-trunk.yaml
  .github/workflows/meta-flux-diff.yaml
  .github/workflows/meta-flux-hr-sync.yaml
  .github/workflows/publish-schemas.yaml
  .github/workflows/resources/k8s-schemas.sh
  .github/workflows/resources/kubeconform.sh
  .github/workflows/schedule-lychee.yaml
  .gitignore
  .trunk/.gitignore
Labels: area/ci, area/trunk
