Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*

fix: move platform to env var
  kubernetes/apps/renovate/renovate/app/config/config.js
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
Labels: area/k8s

fix: move platform to env var
  kubernetes/apps/renovate/renovate/app/config/config.js
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
Labels: area/k8s

fix: decode the key first
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
Labels: area/k8s

fix: decode the key first
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
Labels: area/k8s

fix: renovate webook external for github
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
Labels: area/k8s

fix: renovate webook external for github
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
Labels: area/k8s

chore: migrate renovate config
  kubernetes/apps/renovate/renovate/app/config/config.js
Labels: area/k8s

chore: migrate renovate config
  kubernetes/apps/renovate/renovate/app/config/config.js
Labels: area/k8s

feat: start from 0
  .github/renovate.json5
Labels: area/ci

feat: start from 0
  .github/renovate.json5
Labels: area/ci

chore: update to debug while testing
  .gitignore
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
Labels: area/k8s

chore: update to debug while testing
  .gitignore
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
Labels: area/k8s

fix: parent config
  kubernetes/apps/renovate/renovate/app/config/config.js
Labels: area/k8s

fix: parent config
  kubernetes/apps/renovate/renovate/app/config/config.js
Labels: area/k8s

fix: remove some oci stuff to see if renovate fixes
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/repositories/helm/bjw-s.yaml
  kubernetes/flux/repositories/helm/prometheus-community.yaml
  kubernetes/flux/repositories/helm/stevehipwell.yaml
  talos/helmfile.yaml
Labels: area/k8s, distro/talos

fix: remove some oci stuff to see if renovate fixes
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/repositories/helm/bjw-s.yaml
  kubernetes/flux/repositories/helm/prometheus-community.yaml
  kubernetes/flux/repositories/helm/stevehipwell.yaml
  talos/helmfile.yaml
Labels: area/k8s, distro/talos

fix: add chart repo
  talos/helmfile.yaml
Labels: distro/talos

fix: add chart repo
  talos/helmfile.yaml
Labels: distro/talos

fix: bjw-s
  kubernetes/flux/repositories/helm/bjw-s.yaml
Labels: area/k8s

fix: bjw-s
  kubernetes/flux/repositories/helm/bjw-s.yaml
Labels: area/k8s

fix: arc needs to stay
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
Labels: area/k8s

fix: arc needs to stay
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
Labels: area/k8s

chore: repo config
  .github/renovate.json5
Labels: area/ci

chore: repo config
  .github/renovate.json5
Labels: area/ci

chore: renovate
  .github/renovate.json5
  .github/renovate/fileMatch.json5
  .github/renovate/noPin.json5
Labels: area/ci

chore: renovate
  .github/renovate.json5
  .github/renovate/fileMatch.json5
  .github/renovate/noPin.json5
Labels: area/ci

fix: comma
  .github/renovate.json5
Labels: area/ci

fix: comma
  .github/renovate.json5
Labels: area/ci

fix: renovate path
  .github/renovate.json5
Labels: area/ci

fix: renovate path
  .github/renovate.json5
Labels: area/ci

fix: woof
  .github/renovate.json5
Labels: area/ci

fix: woof
  .github/renovate.json5
Labels: area/ci

fix: quotes
  .github/renovate/fileMatch.json5
Labels: area/ci

fix: quotes
  .github/renovate/fileMatch.json5
Labels: area/ci

fix: matchManager
  .github/renovate/noPin.json5
Labels: area/ci

fix: matchManager
  .github/renovate/noPin.json5
Labels: area/ci

chore: moved to global
  .github/renovate/noPin.json5
Labels: area/ci

chore: moved to global
  .github/renovate/noPin.json5
Labels: area/ci

fix: migrate to repo specific configs
  .github/renovate.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
Labels: area/ci

fix: migrate to repo specific configs
  .github/renovate.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
Labels: area/ci
