Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

docs(envoy): record protected auth completion (#4260)
  .hermes/docs/migrations/2026-07-29-envoy-oidc.md
Labels: none

docs(envoy): correct final route count
  .hermes/docs/migrations/2026-07-29-envoy-oidc.md
Labels: none

docs(envoy): correct final route count (#4261)
  .hermes/docs/migrations/2026-07-29-envoy-oidc.md
Labels: none

feat(envoy): stage first internal route cohort
  kubernetes/apps/arrs/cwa-bdl/app/httproute-envoy.yaml
  kubernetes/apps/arrs/cwa-bdl/app/kustomization.yaml
  kubernetes/apps/games/romm/app/httproute-envoy.yaml
  kubernetes/apps/games/romm/app/kustomization.yaml
  kubernetes/apps/media/calibre-web-automated/app/httproute-envoy.yaml
  kubernetes/apps/media/calibre-web-automated/app/kustomization.yaml
  kubernetes/apps/media/calibre-web-automated/ks.yaml
  kubernetes/apps/media/grimmory/app/httproute-envoy.yaml
  kubernetes/apps/media/grimmory/app/kustomization.yaml
  kubernetes/apps/media/grimmory/ks.yaml
  kubernetes/apps/media/pasta/app/httproute-envoy.yaml
  kubernetes/apps/media/pasta/app/kustomization.yaml
  kubernetes/apps/media/stash/app/httproute-envoy.yaml
  kubernetes/apps/media/stash/app/kustomization.yaml
  kubernetes/apps/media/stash/ks.yaml
  kubernetes/apps/observability/siren/app/httproute-envoy.yaml
  kubernetes/apps/observability/siren/app/kustomization.yaml
  kubernetes/apps/observability/tautulli/app/httproute-envoy.yaml
  kubernetes/apps/observability/tautulli/app/kustomization.yaml
  kubernetes/apps/observability/tautulli/ks.yaml
  kubernetes/apps/observability/tracearr/app/httproute-envoy.yaml
  kubernetes/apps/observability/tracearr/app/kustomization.yaml
  kubernetes/apps/services/changedetection/app/httproute-envoy.yaml
  kubernetes/apps/services/changedetection/app/kustomization.yaml
  kubernetes/apps/services/changedetection/ks.yaml
  kubernetes/apps/services/n8n/app/httproute-envoy.yaml
  kubernetes/apps/services/n8n/app/kustomization.yaml
  kubernetes/apps/tools/searxng/app/httproute-envoy.yaml
  kubernetes/apps/tools/searxng/app/kustomization.yaml
Labels: area/k8s

fix(envoy): stage n8n route with active operator
  kubernetes/apps/services/n8n-operator/n8n/httproute-envoy.yaml
  kubernetes/apps/services/n8n-operator/n8n/kustomization.yaml
  kubernetes/apps/services/n8n/app/kustomization.yaml
Labels: area/k8s

feat(envoy): stage first internal route cohort (#4262)
  kubernetes/apps/arrs/cwa-bdl/app/httproute-envoy.yaml
  kubernetes/apps/arrs/cwa-bdl/app/kustomization.yaml
  kubernetes/apps/games/romm/app/httproute-envoy.yaml
  kubernetes/apps/games/romm/app/kustomization.yaml
  kubernetes/apps/media/calibre-web-automated/app/httproute-envoy.yaml
  kubernetes/apps/media/calibre-web-automated/app/kustomization.yaml
  kubernetes/apps/media/calibre-web-automated/ks.yaml
  kubernetes/apps/media/grimmory/app/httproute-envoy.yaml
  kubernetes/apps/media/grimmory/app/kustomization.yaml
  kubernetes/apps/media/grimmory/ks.yaml
  kubernetes/apps/media/pasta/app/httproute-envoy.yaml
  kubernetes/apps/media/pasta/app/kustomization.yaml
  kubernetes/apps/media/stash/app/httproute-envoy.yaml
  kubernetes/apps/media/stash/app/kustomization.yaml
  kubernetes/apps/media/stash/ks.yaml
  kubernetes/apps/observability/siren/app/httproute-envoy.yaml
  kubernetes/apps/observability/siren/app/kustomization.yaml
  kubernetes/apps/observability/tautulli/app/httproute-envoy.yaml
  kubernetes/apps/observability/tautulli/app/kustomization.yaml
  kubernetes/apps/observability/tautulli/ks.yaml
  kubernetes/apps/observability/tracearr/app/httproute-envoy.yaml
  kubernetes/apps/observability/tracearr/app/kustomization.yaml
  kubernetes/apps/services/changedetection/app/httproute-envoy.yaml
  kubernetes/apps/services/changedetection/app/kustomization.yaml
  kubernetes/apps/services/changedetection/ks.yaml
  kubernetes/apps/services/n8n-operator/n8n/httproute-envoy.yaml
  kubernetes/apps/services/n8n-operator/n8n/kustomization.yaml
  kubernetes/apps/tools/searxng/app/httproute-envoy.yaml
  kubernetes/apps/tools/searxng/app/kustomization.yaml
Labels: area/k8s

feat(envoy): stage internal platform routes
  kubernetes/apps/adguard-home/adguard-home/app/httproute-envoy.yaml
  kubernetes/apps/adguard-home/adguard-home/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/httproute-envoy.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/httproute-envoy.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/httproute-envoy.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/httproute-envoy.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/op/onepassword-connect/app/httproute-envoy.yaml
  kubernetes/apps/op/onepassword-connect/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute-dashboard-envoy.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/security/pocket-id/app/httproute-envoy.yaml
  kubernetes/apps/security/pocket-id/app/kustomization.yaml
  kubernetes/apps/tools/plane-mcp/app/httproute-envoy.yaml
  kubernetes/apps/tools/plane-mcp/app/kustomization.yaml
Labels: area/k8s

feat(envoy): stage internal platform routes (#4263)
  kubernetes/apps/adguard-home/adguard-home/app/httproute-envoy.yaml
  kubernetes/apps/adguard-home/adguard-home/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/httproute-envoy.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/httproute-envoy.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/httproute-envoy.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/httproute-envoy.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/op/onepassword-connect/app/httproute-envoy.yaml
  kubernetes/apps/op/onepassword-connect/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute-dashboard-envoy.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/security/pocket-id/app/httproute-envoy.yaml
  kubernetes/apps/security/pocket-id/app/kustomization.yaml
  kubernetes/apps/tools/plane-mcp/app/httproute-envoy.yaml
  kubernetes/apps/tools/plane-mcp/app/kustomization.yaml
Labels: area/k8s

fix(envoy): scope Plane MCP route path
  kubernetes/apps/tools/plane-mcp/app/httproute-envoy.yaml
Labels: area/k8s

fix(envoy): scope Plane MCP route path (#4264)
  kubernetes/apps/tools/plane-mcp/app/httproute-envoy.yaml
Labels: area/k8s

feat(envoy): restore response header parity
  kubernetes/apps/network/envoy-gateway/config/envoy.yaml
Labels: area/k8s

feat(envoy): restore response header parity (#4265)
  kubernetes/apps/network/envoy-gateway/config/envoy.yaml
Labels: area/k8s

feat(envoy): stage final internal routes
  kubernetes/apps/flux-system/konflate/app/httproute-envoy.yaml
  kubernetes/apps/flux-system/konflate/app/kustomization.yaml
  kubernetes/apps/home-assistant/home-assistant/app/httproute-envoy.yaml
  kubernetes/apps/home-assistant/home-assistant/app/kustomization.yaml
  kubernetes/apps/media/audiobookshelf/app/httproute-envoy.yaml
  kubernetes/apps/media/audiobookshelf/app/kustomization.yaml
  kubernetes/apps/media/tubearchivist/app/httproute-envoy.yaml
  kubernetes/apps/media/tubearchivist/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute-storage-envoy.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/services/convex/app/httproute-envoy.yaml
  kubernetes/apps/services/convex/app/kustomization.yaml
  kubernetes/apps/services/documenso/app/httproute-envoy.yaml
  kubernetes/apps/services/documenso/app/kustomization.yaml
  kubernetes/apps/services/plane/app/httproute-envoy.yaml
  kubernetes/apps/services/plane/app/kustomization.yaml
  kubernetes/apps/tools/firecrawl/app/httproute-envoy.yaml
  kubernetes/apps/tools/firecrawl/app/kustomization.yaml
Labels: area/k8s

feat(envoy): stage final internal routes (#4266)
  kubernetes/apps/flux-system/konflate/app/httproute-envoy.yaml
  kubernetes/apps/flux-system/konflate/app/kustomization.yaml
  kubernetes/apps/home-assistant/home-assistant/app/httproute-envoy.yaml
  kubernetes/apps/home-assistant/home-assistant/app/kustomization.yaml
  kubernetes/apps/media/audiobookshelf/app/httproute-envoy.yaml
  kubernetes/apps/media/audiobookshelf/app/kustomization.yaml
  kubernetes/apps/media/tubearchivist/app/httproute-envoy.yaml
  kubernetes/apps/media/tubearchivist/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute-storage-envoy.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/services/convex/app/httproute-envoy.yaml
  kubernetes/apps/services/convex/app/kustomization.yaml
  kubernetes/apps/services/documenso/app/httproute-envoy.yaml
  kubernetes/apps/services/documenso/app/kustomization.yaml
  kubernetes/apps/services/plane/app/httproute-envoy.yaml
  kubernetes/apps/services/plane/app/kustomization.yaml
  kubernetes/apps/tools/firecrawl/app/httproute-envoy.yaml
  kubernetes/apps/tools/firecrawl/app/kustomization.yaml
Labels: area/k8s

fix(envoy): keep Documenso internal-only
  kubernetes/apps/services/documenso/app/httproute-envoy.yaml
Labels: area/k8s

fix(envoy): keep Documenso internal-only (#4267)
  kubernetes/apps/services/documenso/app/httproute-envoy.yaml
Labels: area/k8s

feat(envoy): stage external routes
  kubernetes/apps/arrs/seerr/app/httproute-envoy.yaml
  kubernetes/apps/arrs/seerr/app/kustomization.yaml
  kubernetes/apps/arrs/wizarr/app/httproute-envoy.yaml
  kubernetes/apps/arrs/wizarr/app/kustomization.yaml
  kubernetes/apps/flux-system/konflate/app/httproute-webhook-envoy.yaml
  kubernetes/apps/flux-system/konflate/app/kustomization.yaml
  kubernetes/apps/flux-system/webhooks/app/github/httproute-envoy.yaml
  kubernetes/apps/flux-system/webhooks/app/github/kustomization.yaml
  kubernetes/apps/iot/zoo-fleet/app/httproute-envoy.yaml
  kubernetes/apps/iot/zoo-fleet/app/kustomization.yaml
  kubernetes/apps/media/plex/app/httproute-envoy.yaml
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/observability/gatus/app/httproute-envoy.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
  kubernetes/apps/renovate/renovate/app/httproute-envoy.yaml
  kubernetes/apps/renovate/renovate/app/kustomization.yaml
  kubernetes/apps/services/atuin/app/httproute-envoy.yaml
  kubernetes/apps/services/atuin/app/kustomization.yaml
  kubernetes/apps/services/cowbell/app/httproute-envoy.yaml
  kubernetes/apps/services/cowbell/app/kustomization.yaml
  kubernetes/apps/services/cowtail/app/httproute-envoy.yaml
  kubernetes/apps/services/cowtail/app/kustomization.yaml
  kubernetes/apps/services/git-mirror-operator/app/httproute-envoy.yaml
  kubernetes/apps/services/git-mirror-operator/app/kustomization.yaml
  kubernetes/apps/services/hermes-webhooks/app/httproute-envoy.yaml
  kubernetes/apps/services/hermes-webhooks/app/kustomization.yaml
  kubernetes/apps/services/plane-github-bridge/app/httproute-envoy.yaml
  kubernetes/apps/services/plane-github-bridge/app/kustomization.yaml
  kubernetes/apps/services/static-webserver/app/httproute-envoy.yaml
  kubernetes/apps/services/static-webserver/app/kustomization.yaml
Labels: area/k8s

feat(envoy): stage external routes (#4268)
  kubernetes/apps/arrs/seerr/app/httproute-envoy.yaml
  kubernetes/apps/arrs/seerr/app/kustomization.yaml
  kubernetes/apps/arrs/wizarr/app/httproute-envoy.yaml
  kubernetes/apps/arrs/wizarr/app/kustomization.yaml
  kubernetes/apps/flux-system/konflate/app/httproute-webhook-envoy.yaml
  kubernetes/apps/flux-system/konflate/app/kustomization.yaml
  kubernetes/apps/flux-system/webhooks/app/github/httproute-envoy.yaml
  kubernetes/apps/flux-system/webhooks/app/github/kustomization.yaml
  kubernetes/apps/iot/zoo-fleet/app/httproute-envoy.yaml
  kubernetes/apps/iot/zoo-fleet/app/kustomization.yaml
  kubernetes/apps/media/plex/app/httproute-envoy.yaml
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/observability/gatus/app/httproute-envoy.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
  kubernetes/apps/renovate/renovate/app/httproute-envoy.yaml
  kubernetes/apps/renovate/renovate/app/kustomization.yaml
  kubernetes/apps/services/atuin/app/httproute-envoy.yaml
  kubernetes/apps/services/atuin/app/kustomization.yaml
  kubernetes/apps/services/cowbell/app/httproute-envoy.yaml
  kubernetes/apps/services/cowbell/app/kustomization.yaml
  kubernetes/apps/services/cowtail/app/httproute-envoy.yaml
  kubernetes/apps/services/cowtail/app/kustomization.yaml
  kubernetes/apps/services/git-mirror-operator/app/httproute-envoy.yaml
  kubernetes/apps/services/git-mirror-operator/app/kustomization.yaml
  kubernetes/apps/services/hermes-webhooks/app/httproute-envoy.yaml
  kubernetes/apps/services/hermes-webhooks/app/kustomization.yaml
  kubernetes/apps/services/plane-github-bridge/app/httproute-envoy.yaml
  kubernetes/apps/services/plane-github-bridge/app/kustomization.yaml
  kubernetes/apps/services/static-webserver/app/httproute-envoy.yaml
  kubernetes/apps/services/static-webserver/app/kustomization.yaml
Labels: area/k8s

test(envoy): protect general route migration
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-general-ingress-envoy.py
Labels: area/ci

test(envoy): protect general route migration (#4269)
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-general-ingress-envoy.py
Labels: area/ci

feat(dns): source records from Envoy routes
  kubernetes/apps/network/envoy-gateway/config/envoy.yaml
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
Labels: area/k8s

feat(dns): source records from Envoy routes (#4270)
  kubernetes/apps/network/envoy-gateway/config/envoy.yaml
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
Labels: area/k8s

fix(dns): normalize internal ingress targets
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/k8s

fix(dns): normalize internal ingress targets (#4271)
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/k8s

feat(envoy): cut traffic over from NGINX
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/apps/network/envoy-gateway/config/envoy.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/k8s

feat(envoy): cut traffic over from NGINX (#4272)
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/apps/network/envoy-gateway/config/envoy.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/k8s

refactor(envoy): remove first Ingress cohort
  kubernetes/apps/arrs/cwa-bdl/app/helmrelease.yaml
  kubernetes/apps/games/romm/app/helmrelease.yaml
  kubernetes/apps/media/calibre-web-automated/app/helmrelease.yaml
  kubernetes/apps/media/grimmory/app/helmrelease.yaml
  kubernetes/apps/media/pasta/app/helmrelease.yaml
  kubernetes/apps/media/stash/app/helmrelease.yaml
  kubernetes/apps/observability/siren/app/helmrelease.yaml
  kubernetes/apps/observability/tautulli/app/helmrelease.yaml
  kubernetes/apps/observability/tracearr/app/helmrelease.yaml
  kubernetes/apps/services/changedetection/app/helmrelease.yaml
  kubernetes/apps/services/n8n-operator/n8n/n8ninstance.yaml
  kubernetes/apps/tools/searxng/app/helmrelease.yaml
Labels: area/k8s

refactor(envoy): remove first Ingress cohort (#4273)
  kubernetes/apps/arrs/cwa-bdl/app/helmrelease.yaml
  kubernetes/apps/games/romm/app/helmrelease.yaml
  kubernetes/apps/media/calibre-web-automated/app/helmrelease.yaml
  kubernetes/apps/media/grimmory/app/helmrelease.yaml
  kubernetes/apps/media/pasta/app/helmrelease.yaml
  kubernetes/apps/media/stash/app/helmrelease.yaml
  kubernetes/apps/observability/siren/app/helmrelease.yaml
  kubernetes/apps/observability/tautulli/app/helmrelease.yaml
  kubernetes/apps/observability/tracearr/app/helmrelease.yaml
  kubernetes/apps/services/changedetection/app/helmrelease.yaml
  kubernetes/apps/services/n8n-operator/n8n/n8ninstance.yaml
  kubernetes/apps/tools/searxng/app/helmrelease.yaml
Labels: area/k8s

refactor(envoy): remove platform Ingress cohort
  kubernetes/apps/adguard-home/adguard-home/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/op/onepassword-connect/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/security/pocket-id/app/helmrelease.yaml
  kubernetes/apps/tools/plane-mcp/app/helmrelease.yaml
Labels: area/k8s

refactor(envoy): remove platform Ingress cohort (#4274)
  kubernetes/apps/adguard-home/adguard-home/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/op/onepassword-connect/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/security/pocket-id/app/helmrelease.yaml
  kubernetes/apps/tools/plane-mcp/app/helmrelease.yaml
Labels: area/k8s

refactor(envoy): remove final internal Ingresses
  kubernetes/apps/flux-system/konflate/app/helmrelease.yaml
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/audiobookshelf/app/helmrelease.yaml
  kubernetes/apps/media/tubearchivist/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/plane-uploads-ingress.yaml
  kubernetes/apps/services/convex/app/helmrelease.yaml
  kubernetes/apps/services/documenso/app/helmrelease.yaml
  kubernetes/apps/services/plane/app/helmrelease.yaml
  kubernetes/apps/tools/firecrawl/app/ingress.yaml
  kubernetes/apps/tools/firecrawl/app/kustomization.yaml
Labels: area/k8s

refactor(envoy): remove final internal Ingresses (#4275)
  kubernetes/apps/flux-system/konflate/app/helmrelease.yaml
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/audiobookshelf/app/helmrelease.yaml
  kubernetes/apps/media/tubearchivist/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/plane-uploads-ingress.yaml
  kubernetes/apps/services/convex/app/helmrelease.yaml
  kubernetes/apps/services/documenso/app/helmrelease.yaml
  kubernetes/apps/services/plane/app/helmrelease.yaml
  kubernetes/apps/tools/firecrawl/app/ingress.yaml
  kubernetes/apps/tools/firecrawl/app/kustomization.yaml
Labels: area/k8s

refactor(envoy): remove external Ingresses
  kubernetes/apps/arrs/seerr/app/helmrelease.yaml
  kubernetes/apps/arrs/wizarr/app/helmrelease.yaml
  kubernetes/apps/flux-system/konflate/app/kustomization.yaml
  kubernetes/apps/flux-system/konflate/app/webhook-ingress.yaml
  kubernetes/apps/flux-system/webhooks/app/github/ingress.yaml
  kubernetes/apps/flux-system/webhooks/app/github/kustomization.yaml
  kubernetes/apps/iot/zoo-fleet/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
  kubernetes/apps/services/atuin/app/helmrelease.yaml
  kubernetes/apps/services/cowbell/app/helmrelease.yaml
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
  kubernetes/apps/services/git-mirror-operator/app/ingress.yaml
  kubernetes/apps/services/git-mirror-operator/app/kustomization.yaml
  kubernetes/apps/services/hermes-webhooks/app/ingress.yaml
  kubernetes/apps/services/hermes-webhooks/app/kustomization.yaml
  kubernetes/apps/services/plane-github-bridge/app/ingress.yaml
  kubernetes/apps/services/plane-github-bridge/app/kustomization.yaml
  kubernetes/apps/services/static-webserver/app/helmrelease.yaml
Labels: area/k8s

refactor(envoy): remove external Ingresses (#4276)
  kubernetes/apps/arrs/seerr/app/helmrelease.yaml
  kubernetes/apps/arrs/wizarr/app/helmrelease.yaml
  kubernetes/apps/flux-system/konflate/app/kustomization.yaml
  kubernetes/apps/flux-system/konflate/app/webhook-ingress.yaml
  kubernetes/apps/flux-system/webhooks/app/github/ingress.yaml
  kubernetes/apps/flux-system/webhooks/app/github/kustomization.yaml
  kubernetes/apps/iot/zoo-fleet/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
  kubernetes/apps/services/atuin/app/helmrelease.yaml
  kubernetes/apps/services/cowbell/app/helmrelease.yaml
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
  kubernetes/apps/services/git-mirror-operator/app/ingress.yaml
  kubernetes/apps/services/git-mirror-operator/app/kustomization.yaml
  kubernetes/apps/services/hermes-webhooks/app/ingress.yaml
  kubernetes/apps/services/hermes-webhooks/app/kustomization.yaml
  kubernetes/apps/services/plane-github-bridge/app/ingress.yaml
  kubernetes/apps/services/plane-github-bridge/app/kustomization.yaml
  kubernetes/apps/services/static-webserver/app/helmrelease.yaml
Labels: area/k8s

ci(images): allow explicit retired release skips
  scripts/check-helmrelease-images
  scripts/tests/test-helm-image-inventory.sh
Labels: none

ci(images): mark NGINX release retired
  scripts/helm-image-validation-skips.txt
Labels: none

ci(images): allow explicit retired release skips (#4278)
  scripts/check-helmrelease-images
  scripts/helm-image-validation-skips.txt
  scripts/tests/test-helm-image-inventory.sh
Labels: none

refactor(envoy): retire ingress-nginx
  .github/workflows/meta-static-analysis.yaml
  kubernetes/apps/network/envoy-gateway/certificates/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/certificates/production.yaml
  kubernetes/apps/network/envoy-gateway/certificates/staging.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/ingress-nginx/README.md
  kubernetes/apps/network/ingress-nginx/external/externalsecret.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/external/kustomization.yaml
  kubernetes/apps/network/ingress-nginx/external/ocirepository.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/kustomization.yaml
  kubernetes/apps/network/ingress-nginx/internal/ocirepository.yaml
  kubernetes/apps/network/ingress-nginx/ks.yaml
  kubernetes/apps/services/hermes-webhooks/ks.yaml
  scripts/tests/test-general-ingress-retirement.sh
Labels: area/ci, area/k8s

fix(envoy): remove retired aggregate reference
  kubernetes/apps/network/kustomization.yaml
Labels: area/k8s

fix(ci): keep controller retirement app-only
  .github/workflows/meta-static-analysis.yaml
  scripts/tests/test-general-ingress-retirement.sh
Labels: area/ci

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*
