Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

fix: update spegel
  kubernetes/apps/kube-system/spegel/app/helm-values.yaml
Labels: area/k8s

fix: update spegel
  kubernetes/apps/kube-system/spegel/app/helm-values.yaml
Labels: area/k8s

fix: update talos image
  talos/talconfig.yaml
Labels: distro/talos

fix: update talos image
  talos/talconfig.yaml
Labels: distro/talos

fix: read from helm-values
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
Labels: area/k8s

fix: read from helm-values
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
Labels: area/k8s

fix: update cilium
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
Labels: area/k8s

fix: update cilium
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
Labels: area/k8s

fix: dns broke
  kubernetes/apps/kube-system/coredns/app/helm-values.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/k8s

fix: dns broke
  kubernetes/apps/kube-system/coredns/app/helm-values.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/k8s

fix: talos updates
  talos/patches/global/dns-resolution.yaml
  talos/patches/global/nameserver.yaml
  talos/patches/global/search-domain.yaml
  talos/patches/global/sysctl.yaml
  talos/talconfig.yaml
Labels: distro/talos

fix: talos updates
  talos/patches/global/dns-resolution.yaml
  talos/patches/global/nameserver.yaml
  talos/patches/global/search-domain.yaml
  talos/patches/global/sysctl.yaml
  talos/talconfig.yaml
Labels: distro/talos

fix: cilium values
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
Labels: area/k8s

fix: cilium values
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
Labels: area/k8s

chore: bump cilium
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/helmfile.yaml
Labels: area/k8s, distro/talos

chore: bump cilium
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/helmfile.yaml
Labels: area/k8s, distro/talos

fix: cilium
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
Labels: area/k8s

fix: cilium
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
Labels: area/k8s

fix: cilium
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
Labels: area/k8s

fix: cilium
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
Labels: area/k8s

fix: update cilium
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/helmfile.yaml
Labels: area/k8s, distro/talos

fix: update cilium
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/helmfile.yaml
Labels: area/k8s, distro/talos

feat: update k8s
  talos/patches/global/coredns.yaml
  talos/talconfig.yaml
Labels: distro/talos

feat: update k8s
  talos/patches/global/coredns.yaml
  talos/talconfig.yaml
Labels: distro/talos

fix: add labels to nodes
  talos/patches/global/nodeLabels.yaml
  talos/talconfig.yaml
Labels: distro/talos

fix: add labels to nodes
  talos/patches/global/nodeLabels.yaml
  talos/talconfig.yaml
Labels: distro/talos

feat: enable suc and use default rancher
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/k8s

feat: enable suc and use default rancher
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/k8s

feat: add renovate
  kubernetes/apps/renovate/kustomization.yaml
  kubernetes/apps/renovate/namespace.yaml
  kubernetes/apps/renovate/renovate/app/config/config.js
  kubernetes/apps/renovate/renovate/app/config/onboardingConfig.json5
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
  kubernetes/apps/renovate/renovate/app/kustomization.yaml
  kubernetes/apps/renovate/renovate/app/objectbucketclaim.yaml
  kubernetes/apps/renovate/renovate/ks.yaml
Labels: area/k8s

feat: add renovate
  kubernetes/apps/renovate/kustomization.yaml
  kubernetes/apps/renovate/namespace.yaml
  kubernetes/apps/renovate/renovate/app/config/config.js
  kubernetes/apps/renovate/renovate/app/config/onboardingConfig.json5
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
  kubernetes/apps/renovate/renovate/app/kustomization.yaml
  kubernetes/apps/renovate/renovate/app/objectbucketclaim.yaml
  kubernetes/apps/renovate/renovate/ks.yaml
Labels: area/k8s

fix: remove renovate gh action
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix: remove renovate gh action
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix: update namespace
  kubernetes/apps/renovate/renovate/ks.yaml
Labels: area/k8s

fix: update namespace
  kubernetes/apps/renovate/renovate/ks.yaml
Labels: area/k8s

fix: left in an unused bit
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
Labels: area/k8s

fix: left in an unused bit
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
Labels: area/k8s

fix: add pg init container
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
Labels: area/k8s

fix: add pg init container
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
Labels: area/k8s

fix: pin pg init
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
Labels: area/k8s

fix: pin pg init
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
Labels: area/k8s

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*
