Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

feat(gatus): Configure UI and add connectivity
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/k8s

feat(gatus): Migrate to PagerDuty alerting
  kubernetes/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/k8s

feat(gatus): Migrate to PagerDuty alerting
  kubernetes/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/k8s

chore(kube-prom-stack): Tune config and resources
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/k8s

chore(kube-prom-stack): Tune config and resources
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/k8s

refactor(smartctl): Enhance alert messages
  kubernetes/apps/observability/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/smartctl-exporter/app/prometheusrule.yaml
Labels: area/k8s

refactor(smartctl): Enhance alert messages
  kubernetes/apps/observability/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/smartctl-exporter/app/prometheusrule.yaml
Labels: area/k8s

fix(prometheusrule): Require kubernetes_node label
  kubernetes/apps/observability/smartctl-exporter/app/prometheusrule.yaml
Labels: area/k8s

fix(prometheusrule): Require kubernetes_node label
  kubernetes/apps/observability/smartctl-exporter/app/prometheusrule.yaml
Labels: area/k8s

feat(alerting): Updates client to Siren
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/k8s

feat(alerting): Updates client to Siren
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/k8s

feat(etcd-defrag): Automate etcd defragmentation
  kubernetes/apps/kube-system/etcd-defrag/app/configmap.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/externalsecret.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/helmrelease.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/kustomization.yaml
  kubernetes/apps/kube-system/etcd-defrag/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/k8s

feat(etcd-defrag): Automate etcd defragmentation
  kubernetes/apps/kube-system/etcd-defrag/app/configmap.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/externalsecret.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/helmrelease.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/kustomization.yaml
  kubernetes/apps/kube-system/etcd-defrag/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/k8s

fix(etcd-defrag): Correct Talos secret key
  kubernetes/apps/kube-system/etcd-defrag/app/externalsecret.yaml
Labels: area/k8s

fix(etcd-defrag): Correct Talos secret key
  kubernetes/apps/kube-system/etcd-defrag/app/externalsecret.yaml
Labels: area/k8s

feat(etcd-defrag): Self-contained etcd defrag
  kubernetes/apps/kube-system/etcd-defrag/app/configmap.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/helmrelease.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/kustomization.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/rbac.yaml
Labels: area/k8s

feat(etcd-defrag): Self-contained etcd defrag
  kubernetes/apps/kube-system/etcd-defrag/app/configmap.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/helmrelease.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/kustomization.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/rbac.yaml
Labels: area/k8s

refactor(etcd-defrag): improve script robustness
  kubernetes/apps/kube-system/etcd-defrag/app/configmap.yaml
Labels: area/k8s

refactor(etcd-defrag): improve script robustness
  kubernetes/apps/kube-system/etcd-defrag/app/configmap.yaml
Labels: area/k8s

refactor(etcd-defrag): Move RBAC to Helm values
  kubernetes/apps/kube-system/etcd-defrag/app/helmrelease.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/kustomization.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/rbac.yaml
Labels: area/k8s

refactor(etcd-defrag): Move RBAC to Helm values
  kubernetes/apps/kube-system/etcd-defrag/app/helmrelease.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/kustomization.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/rbac.yaml
Labels: area/k8s

refactor(etcd-defrag): migrate from wget to curl
  kubernetes/apps/kube-system/etcd-defrag/app/configmap.yaml
Labels: area/k8s

refactor(etcd-defrag): migrate from wget to curl
  kubernetes/apps/kube-system/etcd-defrag/app/configmap.yaml
Labels: area/k8s

feat(alertmanager): Inhibit info alerts
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/k8s

feat(alertmanager): Inhibit info alerts
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/k8s

Fix(etcd-defrag): Exit on critical errors
  kubernetes/apps/kube-system/etcd-defrag/app/configmap.yaml
Labels: area/k8s

Fix(etcd-defrag): Exit on critical errors
  kubernetes/apps/kube-system/etcd-defrag/app/configmap.yaml
Labels: area/k8s

docs: Add DeepWiki badge to README
  docs/README.md
Labels: area/docs

docs: Add DeepWiki badge to README
  docs/README.md
Labels: area/docs

chore(flux): Increase reconciliation interval to 30m
  kubernetes/apps/kube-system/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
  kubernetes/flux/apps.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/k8s

chore(flux): Increase reconciliation interval to 30m
  kubernetes/apps/kube-system/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
  kubernetes/flux/apps.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/k8s

perf(cluster): Optimize K8s component settings
  talos/patches/controlplane/apiserver.yaml
  talos/patches/controlplane/etcd.yaml
  talos/patches/global/kubelet.yaml
  talos/talconfig.yaml
Labels: distro/talos

perf(cluster): Optimize K8s component settings
  talos/patches/controlplane/apiserver.yaml
  talos/patches/controlplane/etcd.yaml
  talos/patches/global/kubelet.yaml
  talos/talconfig.yaml
Labels: distro/talos

chore(rbac): Remove Talos ServiceAccount
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/rbac.yaml
Labels: area/k8s

chore(rbac): Remove Talos ServiceAccount
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/rbac.yaml
Labels: area/k8s

feat: Add hypermind service and integrate into kustomization
  kubernetes/apps/services/hypermind/app/helmrelease.yaml
  kubernetes/apps/services/hypermind/app/kustomization.yaml
  kubernetes/apps/services/hypermind/ks.yaml
Labels: area/k8s

feat: Add hypermind service and integrate into kustomization
  kubernetes/apps/services/hypermind/app/helmrelease.yaml
  kubernetes/apps/services/hypermind/app/kustomization.yaml
  kubernetes/apps/services/hypermind/ks.yaml
Labels: area/k8s

Refactor: Use internal ingress and guarded gatus for hypermind
  kubernetes/apps/services/hypermind/app/helmrelease.yaml
  kubernetes/apps/services/hypermind/app/kustomization.yaml
  kubernetes/apps/services/hypermind/ks.yaml
Labels: area/k8s

Refactor: Use internal ingress and guarded gatus for hypermind
  kubernetes/apps/services/hypermind/app/helmrelease.yaml
  kubernetes/apps/services/hypermind/app/kustomization.yaml
  kubernetes/apps/services/hypermind/ks.yaml
Labels: area/k8s

Add hypermind.gg domain to cloudflared, DNS, and ingress configurations
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/apps/network/ingress-nginx/certificates/production.yaml
  kubernetes/apps/services/hypermind/app/helmrelease.yaml
Labels: area/k8s

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*
