Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

chore: remove Garage storage (no longer needed)
  kubernetes/apps/storage/garage/app/externalsecret.yaml
  kubernetes/apps/storage/garage/app/helmrelease.yaml
  kubernetes/apps/storage/garage/app/kustomization.yaml
  kubernetes/apps/storage/garage/app/pvc.yaml
  kubernetes/apps/storage/garage/ks.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/namespace.yaml
Labels: area/k8s

docs(cnpg): update README to remove NAS backup references
  kubernetes/apps/database/cloudnative-pg/README.md
Labels: area/k8s

docs(cnpg): update README to remove NAS backup references
  kubernetes/apps/database/cloudnative-pg/README.md
Labels: area/k8s

ci(flux): Enhance local diff/test, drop HR sync
  .github/workflows/meta-flux-diff.yaml
  .github/workflows/meta-flux-hr-sync.yaml
Labels: area/ci

ci(flux): Enhance local diff/test, drop HR sync
  .github/workflows/meta-flux-diff.yaml
  .github/workflows/meta-flux-hr-sync.yaml
Labels: area/ci

fix(bazarr): add missing volsync template reference
  kubernetes/apps/arrs/bazarr/app/kustomization.yaml
Labels: area/k8s

fix(bazarr): add missing volsync template reference
  kubernetes/apps/arrs/bazarr/app/kustomization.yaml
Labels: area/k8s

chore(config): Remove trunk-yls, allow PG 17
  .github/actionlint.yaml
  .github/renovate/packageRules.json5
  .sops.yaml
  .trunk/configs/.kube-linter.yaml
  .trunk/configs/trunk-yls.yaml
  kubernetes/apps/arrs/bazarr/app/patches/kustomizeconfig.yaml
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/apps/kube-system/cilium/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/coredns/app/helm-values.yaml
  kubernetes/apps/kube-system/coredns/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/spegel/app/helm-values.yaml
  kubernetes/apps/kube-system/spegel/app/kustomizeconfig.yaml
  kubernetes/apps/media/plex/app/resources/lokirule.yaml
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
  kubernetes/apps/observability/vector/app/agent/resources/vector.yaml
  kubernetes/apps/observability/vector/app/aggregator/resources/vector.yaml
  talos/patches/controlplane/admission.yaml
  talos/patches/controlplane/cluster.yaml
  talos/patches/controlplane/etcd.yaml
  talos/patches/controlplane/talos-api.yaml
  talos/patches/global/cluster-discovery.yaml
  talos/patches/global/containerd.yaml
  talos/patches/global/coredns.yaml
  talos/patches/global/dns-resolution.yaml
  talos/patches/global/kubelet.yaml
  talos/patches/global/nameserver.yaml
  talos/patches/global/nfs.yaml
  talos/patches/global/nodeLabels.yaml
  talos/patches/global/ntp.yaml
  talos/patches/global/openebs.yaml
  talos/patches/global/sysctl.yaml
  talos/talsecret.sops.yaml
Labels: area/ci, area/k8s, area/trunk, distro/talos

chore(config): Remove trunk-yls, allow PG 17
  .github/actionlint.yaml
  .github/renovate/packageRules.json5
  .sops.yaml
  .trunk/configs/.kube-linter.yaml
  .trunk/configs/trunk-yls.yaml
  kubernetes/apps/arrs/bazarr/app/patches/kustomizeconfig.yaml
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/apps/kube-system/cilium/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/coredns/app/helm-values.yaml
  kubernetes/apps/kube-system/coredns/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/spegel/app/helm-values.yaml
  kubernetes/apps/kube-system/spegel/app/kustomizeconfig.yaml
  kubernetes/apps/media/plex/app/resources/lokirule.yaml
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
  kubernetes/apps/observability/vector/app/agent/resources/vector.yaml
  kubernetes/apps/observability/vector/app/aggregator/resources/vector.yaml
  talos/patches/controlplane/admission.yaml
  talos/patches/controlplane/cluster.yaml
  talos/patches/controlplane/etcd.yaml
  talos/patches/controlplane/talos-api.yaml
  talos/patches/global/cluster-discovery.yaml
  talos/patches/global/containerd.yaml
  talos/patches/global/coredns.yaml
  talos/patches/global/dns-resolution.yaml
  talos/patches/global/kubelet.yaml
  talos/patches/global/nameserver.yaml
  talos/patches/global/nfs.yaml
  talos/patches/global/nodeLabels.yaml
  talos/patches/global/ntp.yaml
  talos/patches/global/openebs.yaml
  talos/patches/global/sysctl.yaml
  talos/talsecret.sops.yaml
Labels: area/ci, area/k8s, area/trunk, distro/talos

feat(renovate): add auto merge rule for mise tool updates
  .cursor/rules/fluxcd.mdc
  .github/renovate/packageRules.json5
Labels: area/ci

feat(renovate): add auto merge rule for mise tool updates
  .cursor/rules/fluxcd.mdc
  .github/renovate/packageRules.json5
Labels: area/ci

chore(renovate): Match postgres-init packages
  .github/renovate/packageRules.json5
Labels: area/ci

chore(renovate): Match postgres-init packages
  .github/renovate/packageRules.json5
Labels: area/ci

feat(flux): Create issues on deployment failure
  .github/labels.yaml
  .github/workflows/flux-failure-issue.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/alert.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/provider.yaml
Labels: area/ci, area/k8s

feat(flux): Create issues on deployment failure
  .github/labels.yaml
  .github/workflows/flux-failure-issue.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/alert.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/provider.yaml
Labels: area/ci, area/k8s

style: Add trailing newlines
  .github/workflows/flux-failure-issue.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/alert.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/provider.yaml
Labels: area/ci, area/k8s

style: Add trailing newlines
  .github/workflows/flux-failure-issue.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/alert.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/provider.yaml
Labels: area/ci, area/k8s

chore(flux): Remove app-template OCI repo
  kubernetes/flux/repositories/oci/app-template.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
Labels: area/k8s

chore(flux): Remove app-template OCI repo
  kubernetes/flux/repositories/oci/app-template.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
Labels: area/k8s

chore(renovate): Configure rebase strategy
  .github/renovate.json5
Labels: area/ci

chore(renovate): Configure rebase strategy
  .github/renovate.json5
Labels: area/ci

chore(renovate): Refine automerge rules
  .github/renovate/packageRules.json5
Labels: area/ci

chore(renovate): Refine automerge rules
  .github/renovate/packageRules.json5
Labels: area/ci

feat(renovate): Add package rules
  .github/renovate/packageRules.json5
Labels: area/ci

refactor(renovate): Update noPin rule syntax
  .github/renovate/noPin.json5
Labels: area/ci

feat(renovate): Add core config features
  .github/renovate.json5
Labels: area/ci

feat(renovate): Add core config features
  .github/renovate.json5
Labels: area/ci

feat(renovate): Add package rules
  .github/renovate/packageRules.json5
Labels: area/ci

chore(renovate): Use best-practices config
  kubernetes/apps/renovate/renovate/app/config/onboardingConfig.json5
Labels: area/k8s

chore(renovate): Use best-practices config
  kubernetes/apps/renovate/renovate/app/config/onboardingConfig.json5
Labels: area/k8s

refactor(renovate): Update noPin rule syntax
  .github/renovate/noPin.json5
Labels: area/ci

feat(renovate): Enable minor update automerge
  .github/renovate.json5
  .github/renovate/packageRules.json5
Labels: area/ci

feat(renovate): Enable minor update automerge
  .github/renovate.json5
  .github/renovate/packageRules.json5
Labels: area/ci

refactor(arrs): Migrate Overseerr to Seerr
  kubernetes/apps/arrs/kustomization.yaml
  kubernetes/apps/arrs/seerr/app/helmrelease.yaml
  kubernetes/apps/arrs/seerr/app/kustomization.yaml
  kubernetes/apps/arrs/seerr/app/pvc.yaml
  kubernetes/apps/arrs/seerr/ks.yaml
Labels: area/k8s

refactor(arrs): Migrate Overseerr to Seerr
  kubernetes/apps/arrs/kustomization.yaml
  kubernetes/apps/arrs/seerr/app/helmrelease.yaml
  kubernetes/apps/arrs/seerr/app/kustomization.yaml
  kubernetes/apps/arrs/seerr/app/pvc.yaml
  kubernetes/apps/arrs/seerr/ks.yaml
Labels: area/k8s

Revert "chore(cont): image santiagosayshey/profilarr ( v1.1.2 → v1.1.3 ) (#2710)"
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
Labels: area/k8s

Revert "chore(cont): image santiagosayshey/profilarr ( v1.1.2 → v1.1.3 ) (#2710)"
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
Labels: area/k8s

feat(gatus): Configure internal application monitoring
  kubernetes/apps/adguard-home/adguard-home/ks.yaml
  kubernetes/apps/arrs/bazarr/ks.yaml
  kubernetes/apps/arrs/profilarr/ks.yaml
  kubernetes/apps/home-assistant/home-assistant/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/loki/ks.yaml
  kubernetes/apps/services/atuin/app/kustomization.yaml
  kubernetes/templates/gatus/guarded/app.yaml
Labels: area/k8s

feat(gatus): Configure internal application monitoring
  kubernetes/apps/adguard-home/adguard-home/ks.yaml
  kubernetes/apps/arrs/bazarr/ks.yaml
  kubernetes/apps/arrs/profilarr/ks.yaml
  kubernetes/apps/home-assistant/home-assistant/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/loki/ks.yaml
  kubernetes/apps/services/atuin/app/kustomization.yaml
  kubernetes/templates/gatus/guarded/app.yaml
Labels: area/k8s

feat(system-upgrade): Add Tuppr application
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
  kubernetes/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/k8s

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*
