Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*

feat(rook-ceph): use OCI source for operator
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/k8s

feat(rook-ceph): use OCI source for operator (#4115)
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/k8s

feat(rook-ceph): use OCI source for cluster
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/k8s

feat(rook-ceph): use OCI source for cluster (#4116)
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/k8s

chore(flux): remove unused Helm repositories
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/repositories/helm/cilium.yaml
  kubernetes/flux/repositories/helm/cloudnative-pg.yaml
  kubernetes/flux/repositories/helm/coredns.yaml
  kubernetes/flux/repositories/helm/external-secrets.yaml
  kubernetes/flux/repositories/helm/grafana.yaml
  kubernetes/flux/repositories/helm/jetstack.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/kyverno.yaml
  kubernetes/flux/repositories/helm/mariadb-operator.yaml
  kubernetes/flux/repositories/helm/node-feature-discovery.yaml
  kubernetes/flux/repositories/helm/onepassword.yaml
  kubernetes/flux/repositories/helm/openebs.yaml
  kubernetes/flux/repositories/helm/piraeus.yaml
  kubernetes/flux/repositories/helm/postfinance.yaml
  kubernetes/flux/repositories/helm/prometheus-community.yaml
  kubernetes/flux/repositories/helm/rook-ceph.yaml
  kubernetes/flux/repositories/helm/shamubernetes-charts.yaml
  kubernetes/flux/repositories/helm/spegel.yaml
  kubernetes/flux/repositories/helm/stakater.yaml
Labels: area/k8s

chore(flux): remove unused Helm repositories (#4117)
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/repositories/helm/cilium.yaml
  kubernetes/flux/repositories/helm/cloudnative-pg.yaml
  kubernetes/flux/repositories/helm/coredns.yaml
  kubernetes/flux/repositories/helm/external-secrets.yaml
  kubernetes/flux/repositories/helm/grafana.yaml
  kubernetes/flux/repositories/helm/jetstack.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/kyverno.yaml
  kubernetes/flux/repositories/helm/mariadb-operator.yaml
  kubernetes/flux/repositories/helm/node-feature-discovery.yaml
  kubernetes/flux/repositories/helm/onepassword.yaml
  kubernetes/flux/repositories/helm/openebs.yaml
  kubernetes/flux/repositories/helm/piraeus.yaml
  kubernetes/flux/repositories/helm/postfinance.yaml
  kubernetes/flux/repositories/helm/prometheus-community.yaml
  kubernetes/flux/repositories/helm/rook-ceph.yaml
  kubernetes/flux/repositories/helm/shamubernetes-charts.yaml
  kubernetes/flux/repositories/helm/spegel.yaml
  kubernetes/flux/repositories/helm/stakater.yaml
Labels: area/k8s

feat(flux): stage Home Operations OCI sources
  kubernetes/apps/kube-system/csi-driver-nfs/app/kustomization.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/app/ocirepository.yaml
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/app/ocirepository.yaml
  kubernetes/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/apps/kube-system/metrics-server/app/ocirepository.yaml
  kubernetes/apps/network/external-dns/cloudflare/kustomization.yaml
  kubernetes/apps/network/external-dns/cloudflare/ocirepository.yaml
  kubernetes/apps/network/external-dns/unifi/kustomization.yaml
  kubernetes/apps/network/external-dns/unifi/ocirepository.yaml
  kubernetes/apps/network/tailscale-operator/app/kustomization.yaml
  kubernetes/apps/network/tailscale-operator/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/ocirepository.yaml
  kubernetes/apps/volsync-system/volsync/app/kustomization.yaml
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/k8s

feat(flux): stage Home Operations OCI sources (#4118)
  kubernetes/apps/kube-system/csi-driver-nfs/app/kustomization.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/app/ocirepository.yaml
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/app/ocirepository.yaml
  kubernetes/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/apps/kube-system/metrics-server/app/ocirepository.yaml
  kubernetes/apps/network/external-dns/cloudflare/kustomization.yaml
  kubernetes/apps/network/external-dns/cloudflare/ocirepository.yaml
  kubernetes/apps/network/external-dns/unifi/kustomization.yaml
  kubernetes/apps/network/external-dns/unifi/ocirepository.yaml
  kubernetes/apps/network/tailscale-operator/app/kustomization.yaml
  kubernetes/apps/network/tailscale-operator/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi/ocirepository.yaml
  kubernetes/apps/volsync-system/volsync/app/kustomization.yaml
  kubernetes/apps/volsync-system/volsync/app/ocirepository.yaml
Labels: area/k8s

feat(descheduler): use Home Operations OCI mirror
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/k8s

feat(metrics-server): use Home Operations OCI mirror
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
Labels: area/k8s

feat(external-dns): use OCI mirror for Cloudflare
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
Labels: area/k8s

feat(external-dns): use OCI mirror for UniFi
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
Labels: area/k8s

feat(csi-driver-nfs): use Home Operations OCI mirror
  kubernetes/apps/kube-system/csi-driver-nfs/app/helmrelease.yaml
Labels: area/k8s

feat(csi-driver-nfs): use Home Operations OCI mirror (#4121)
  kubernetes/apps/kube-system/csi-driver-nfs/app/helmrelease.yaml
Labels: area/k8s

feat(tailscale-operator): use Home Operations OCI mirror
  kubernetes/apps/network/tailscale-operator/app/helmrelease.yaml
Labels: area/k8s

feat(tailscale-operator): use Home Operations OCI mirror (#4122)
  kubernetes/apps/network/tailscale-operator/app/helmrelease.yaml
Labels: area/k8s

feat(ceph-csi-drivers): use Home Operations OCI mirror
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrelease.yaml
Labels: area/k8s

feat(ceph-csi-drivers): use Home Operations OCI mirror (#4123)
  kubernetes/apps/rook-ceph/rook-ceph/csi/helmrelease.yaml
Labels: area/k8s

feat(volsync): use Home Operations OCI mirror
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/k8s

feat(volsync): use Home Operations OCI mirror (#4124)
  kubernetes/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/k8s

chore(flux): remove migrated Helm repositories
  kubernetes/flux/repositories/helm/backube.yaml
  kubernetes/flux/repositories/helm/ceph-csi-operator.yaml
  kubernetes/flux/repositories/helm/csi-driver-nfs.yaml
  kubernetes/flux/repositories/helm/descheduler.yaml
  kubernetes/flux/repositories/helm/external-dns.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/metrics-server.yaml
  kubernetes/flux/repositories/helm/tailscale.yaml
Labels: area/k8s

chore(flux): remove migrated Helm repositories (#4125)
  kubernetes/flux/repositories/helm/backube.yaml
  kubernetes/flux/repositories/helm/ceph-csi-operator.yaml
  kubernetes/flux/repositories/helm/csi-driver-nfs.yaml
  kubernetes/flux/repositories/helm/descheduler.yaml
  kubernetes/flux/repositories/helm/external-dns.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/metrics-server.yaml
  kubernetes/flux/repositories/helm/tailscale.yaml
Labels: area/k8s

feat(flux): stage final OCI chart sources
  kubernetes/apps/network/ingress-nginx/external/kustomization.yaml
  kubernetes/apps/network/ingress-nginx/external/ocirepository.yaml
  kubernetes/apps/network/ingress-nginx/internal/kustomization.yaml
  kubernetes/apps/network/ingress-nginx/internal/ocirepository.yaml
  kubernetes/apps/observability/kuberhealthy/app/kustomization.yaml
  kubernetes/apps/observability/kuberhealthy/app/ocirepository.yaml
  kubernetes/apps/services/plane/app/kustomization.yaml
  kubernetes/apps/services/plane/app/ocirepository.yaml
Labels: area/k8s

feat(flux): stage final OCI chart sources (#4126)
  kubernetes/apps/network/ingress-nginx/external/kustomization.yaml
  kubernetes/apps/network/ingress-nginx/external/ocirepository.yaml
  kubernetes/apps/network/ingress-nginx/internal/kustomization.yaml
  kubernetes/apps/network/ingress-nginx/internal/ocirepository.yaml
  kubernetes/apps/observability/kuberhealthy/app/kustomization.yaml
  kubernetes/apps/observability/kuberhealthy/app/ocirepository.yaml
  kubernetes/apps/services/plane/app/kustomization.yaml
  kubernetes/apps/services/plane/app/ocirepository.yaml
Labels: area/k8s

feat(ingress-nginx): use signed mirror OCI sources
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/k8s

feat(ingress-nginx): use signed mirror OCI sources (#4127)
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/k8s

feat(kuberhealthy): use signed mirror OCI source
  kubernetes/apps/observability/kuberhealthy/app/helmrelease.yaml
Labels: area/k8s

feat(kuberhealthy): use signed mirror OCI source (#4128)
  kubernetes/apps/observability/kuberhealthy/app/helmrelease.yaml
Labels: area/k8s

feat(plane): use signed mirror OCI source
  kubernetes/apps/services/plane/app/helmrelease.yaml
Labels: area/k8s

feat(plane): use signed mirror OCI source (#4129)
  kubernetes/apps/services/plane/app/helmrelease.yaml
Labels: area/k8s

chore(flux): remove final unused HTTP chart sources
  kubernetes/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/repositories/helm/kuberhealthy.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/makeplane.yaml
Labels: area/k8s

chore(flux): remove final unused HTTP chart sources (#4130)
  kubernetes/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/repositories/helm/kuberhealthy.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/makeplane.yaml
Labels: area/k8s

feat(firecrawl): align local chart with maintained upstream
  kubernetes/apps/tools/firecrawl/app/chart/Chart.yaml
  kubernetes/apps/tools/firecrawl/app/chart/README.md
  kubernetes/apps/tools/firecrawl/app/chart/templates/cclog-worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/configmap.yaml
  kubernetes/apps/tools/firecrawl/app/chart/values.yaml
Labels: area/k8s

fix(ci): skip Helm templates in source handoff guard
  scripts/check-oci-source-handoffs
  scripts/tests/test-oci-source-handoffs.sh
Labels: none

feat(firecrawl): align local chart with maintained upstream (#4131)
  kubernetes/apps/tools/firecrawl/app/chart/Chart.yaml
  kubernetes/apps/tools/firecrawl/app/chart/README.md
  kubernetes/apps/tools/firecrawl/app/chart/templates/cclog-worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/configmap.yaml
  kubernetes/apps/tools/firecrawl/app/chart/values.yaml
  scripts/check-oci-source-handoffs
  scripts/tests/test-oci-source-handoffs.sh
Labels: area/k8s

feat(firecrawl): stage signed OCI chart source
  kubernetes/apps/tools/firecrawl/app/kustomization.yaml
  kubernetes/apps/tools/firecrawl/app/ocirepository.yaml
Labels: area/k8s

test(flate): allow private Firecrawl source offline
  scripts/flate-render-baseline.tsv
Labels: none

feat(firecrawl): stage signed OCI chart source (#4132)
  kubernetes/apps/tools/firecrawl/app/kustomization.yaml
  kubernetes/apps/tools/firecrawl/app/ocirepository.yaml
  scripts/flate-render-baseline.tsv
Labels: area/k8s

feat(firecrawl): switch chart source to OCI
  .github/workflows/meta-static-analysis.yaml
  kubernetes/apps/tools/firecrawl/app/helmrelease.yaml
  scripts/flate-render-baseline.tsv
Labels: area/ci, area/k8s

feat(ci): validate repository-local OCI handoffs
  scripts/check-oci-source-handoffs
  scripts/tests/test-oci-source-handoffs.sh
Labels: none
