Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

fix: revert to 5
  kubernetes/apps/arrs/wizarr/app/helmrelease.yaml
Labels: area/k8s

chore: loki
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/k8s

chore: loki
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/k8s

Revert "⏫(helm): chart loki ( 6.29.0 → 6.30.1 )"
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/k8s

Revert "⏫(helm): chart loki ( 6.29.0 → 6.30.1 )"
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/k8s

Revert "⏫(helm)!: chart app-template ( 3.7.3 → 4.0.1 )"
  kubernetes/apps/adguard-home/adguard-home/app/helmrelease.yaml
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
  kubernetes/apps/arrs/overseerr/app/helmrelease.yaml
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
  kubernetes/apps/arrs/prowlarr/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr-3d/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr/app/helmrelease.yaml
  kubernetes/apps/arrs/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
  kubernetes/apps/arrs/wizarr/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/flux-system/capacitor/app/helmrelease.yaml
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/kometa/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/stash/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/tautulli/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/observability/vector/app/agent/helmrelease.yaml
  kubernetes/apps/observability/vector/app/aggregator/helmrelease.yaml
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
  kubernetes/apps/services/atuin/app/helmrelease.yaml
  kubernetes/apps/services/cs2/app/helmrelease.yaml
  kubernetes/apps/services/static-webserver/app/helmrelease.yaml
Labels: area/k8s

Revert "⏫(helm)!: chart app-template ( 3.7.3 → 4.0.1 )"
  kubernetes/apps/adguard-home/adguard-home/app/helmrelease.yaml
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
  kubernetes/apps/arrs/overseerr/app/helmrelease.yaml
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
  kubernetes/apps/arrs/prowlarr/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr-3d/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr/app/helmrelease.yaml
  kubernetes/apps/arrs/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
  kubernetes/apps/arrs/wizarr/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/flux-system/capacitor/app/helmrelease.yaml
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/kometa/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/stash/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/tautulli/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/observability/vector/app/agent/helmrelease.yaml
  kubernetes/apps/observability/vector/app/aggregator/helmrelease.yaml
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
  kubernetes/apps/services/atuin/app/helmrelease.yaml
  kubernetes/apps/services/cs2/app/helmrelease.yaml
  kubernetes/apps/services/static-webserver/app/helmrelease.yaml
Labels: area/k8s

fix: update gatus app-template
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/k8s

fix: update gatus app-template
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/k8s

fix: gatus sa
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/k8s

fix: gatus sa
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/k8s

chore: kiwigrid → home ops
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/k8s

chore: kiwigrid → home ops
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/k8s

chore: remove dragonfly
  .github/renovate/packageRules.json5
  kubernetes/apps/database/dragonfly/README.md
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/apps/database/dragonfly/app/rbac.yaml
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
  kubernetes/apps/database/dragonfly/cluster/podmonitor.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
  kubernetes/apps/database/emqx/README.md
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
Labels: area/ci, area/k8s

chore: remove dragonfly
  .github/renovate/packageRules.json5
  kubernetes/apps/database/dragonfly/README.md
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/apps/database/dragonfly/app/rbac.yaml
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
  kubernetes/apps/database/dragonfly/cluster/podmonitor.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
  kubernetes/apps/database/emqx/README.md
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
Labels: area/ci, area/k8s

chore: no more pg for renovate
  kubernetes/apps/renovate/renovate/app/config/config.js
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
Labels: area/k8s

chore: no more pg for renovate
  kubernetes/apps/renovate/renovate/app/config/config.js
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
Labels: area/k8s

fix: loki can't find the image
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/k8s

fix: loki can't find the image
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/k8s

Revert "⏫(helm): chart openebs ( 4.2.0 → 4.3.2 )"
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/k8s

Revert "⏫(helm): chart openebs ( 4.2.0 → 4.3.2 )"
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/k8s

feat: update talos & k8s versions
  talos/talconfig.yaml
Labels: distro/talos

feat: update talos & k8s versions
  talos/talconfig.yaml
Labels: distro/talos

fix: install python deps
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix: install python deps
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix: pip
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix: pip
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix: move installs
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix: move installs
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix: crd
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix: crd
  .github/workflows/publish-schemas.yaml
Labels: area/ci

feat: add app-template oci
  kubernetes/flux/repositories/oci/app-template.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
Labels: area/k8s

feat: add app-template oci
  kubernetes/flux/repositories/oci/app-template.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
Labels: area/k8s

feat: smtp-relay
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/smtp-relay/app/externalsecret.yaml
  kubernetes/apps/network/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/network/smtp-relay/app/kustomization.yaml
  kubernetes/apps/network/smtp-relay/app/resources/maddy.conf
  kubernetes/apps/network/smtp-relay/ks.yaml
Labels: area/k8s

feat: smtp-relay
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/smtp-relay/app/externalsecret.yaml
  kubernetes/apps/network/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/network/smtp-relay/app/kustomization.yaml
  kubernetes/apps/network/smtp-relay/app/resources/maddy.conf
  kubernetes/apps/network/smtp-relay/ks.yaml
Labels: area/k8s

fix: doesn't exist
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
Labels: area/k8s

fix: doesn't exist
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
Labels: area/k8s

feat: authentik attemp
  kubernetes/apps/security/authentik/app/externalsecret.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/kustomization.yaml
  kubernetes/apps/security/authentik/app/objectbucketclaim.yaml
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/flux/repositories/helm/authentik.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/k8s

feat: authentik attemp
  kubernetes/apps/security/authentik/app/externalsecret.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/kustomization.yaml
  kubernetes/apps/security/authentik/app/objectbucketclaim.yaml
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/flux/repositories/helm/authentik.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/k8s

fix: missed a space
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/k8s

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*
