Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*

fix: does this work?
  kubernetes/apps/media/stash/app/helmrelease.yaml
Labels: area/k8s

fix: does this work?
  kubernetes/apps/media/stash/app/helmrelease.yaml
Labels: area/k8s

fix: user
  kubernetes/apps/media/stash/app/helmrelease.yaml
Labels: area/k8s

fix: user
  kubernetes/apps/media/stash/app/helmrelease.yaml
Labels: area/k8s

fix: move NFS server IP
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr/app/helmrelease.yaml
  kubernetes/apps/arrs/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
  kubernetes/apps/services/static-webserver/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-ipam.yaml
Labels: area/k8s

fix: move NFS server IP
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr/app/helmrelease.yaml
  kubernetes/apps/arrs/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
  kubernetes/apps/services/static-webserver/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-ipam.yaml
Labels: area/k8s

fix: stash
  kubernetes/apps/media/stash/app/helmrelease.yaml
Labels: area/k8s

fix: stash
  kubernetes/apps/media/stash/app/helmrelease.yaml
Labels: area/k8s

feat: sonar-anime
  kubernetes/apps/arrs/kustomization.yaml
  kubernetes/apps/arrs/sonarr-anime/app/externalsecret.yaml
  kubernetes/apps/arrs/sonarr-anime/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr-anime/app/kustomization.yaml
  kubernetes/apps/arrs/sonarr-anime/app/pvc.yaml
  kubernetes/apps/arrs/sonarr-anime/app/resources/pushover-notify.sh
  kubernetes/apps/arrs/sonarr-anime/ks.yaml
Labels: area/k8s

feat: sonar-anime
  kubernetes/apps/arrs/kustomization.yaml
  kubernetes/apps/arrs/sonarr-anime/app/externalsecret.yaml
  kubernetes/apps/arrs/sonarr-anime/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr-anime/app/kustomization.yaml
  kubernetes/apps/arrs/sonarr-anime/app/pvc.yaml
  kubernetes/apps/arrs/sonarr-anime/app/resources/pushover-notify.sh
  kubernetes/apps/arrs/sonarr-anime/ks.yaml
Labels: area/k8s

fix: sub doesn't work in kustomization...
  kubernetes/apps/arrs/sonarr-anime/app/kustomization.yaml
Labels: area/k8s

fix: sub doesn't work in kustomization...
  kubernetes/apps/arrs/sonarr-anime/app/kustomization.yaml
Labels: area/k8s

fix: lets just use one sonarr
  kubernetes/apps/arrs/kustomization.yaml
  kubernetes/apps/arrs/recyclarr/app/externalsecret.yaml
  kubernetes/apps/arrs/recyclarr/app/resources/recyclarr.yml
  kubernetes/apps/arrs/sonarr-anime/app/externalsecret.yaml
  kubernetes/apps/arrs/sonarr-anime/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr-anime/app/kustomization.yaml
  kubernetes/apps/arrs/sonarr-anime/app/pvc.yaml
  kubernetes/apps/arrs/sonarr-anime/app/resources/pushover-notify.sh
  kubernetes/apps/arrs/sonarr-anime/ks.yaml
Labels: area/k8s

fix: lets just use one sonarr
  kubernetes/apps/arrs/kustomization.yaml
  kubernetes/apps/arrs/recyclarr/app/externalsecret.yaml
  kubernetes/apps/arrs/recyclarr/app/resources/recyclarr.yml
  kubernetes/apps/arrs/sonarr-anime/app/externalsecret.yaml
  kubernetes/apps/arrs/sonarr-anime/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr-anime/app/kustomization.yaml
  kubernetes/apps/arrs/sonarr-anime/app/pvc.yaml
  kubernetes/apps/arrs/sonarr-anime/app/resources/pushover-notify.sh
  kubernetes/apps/arrs/sonarr-anime/ks.yaml
Labels: area/k8s

chore: migrate plex → shamubernetes
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/k8s

chore: migrate plex → shamubernetes
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/k8s

chore: update plex digest
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/k8s

chore: update plex digest
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/k8s

chore: add dash label
  .github/labels.yaml
Labels: area/ci

chore: add dash label
  .github/labels.yaml
Labels: area/ci

fix: increase plex pvc
  kubernetes/apps/media/plex/app/pvc.yaml
Labels: area/k8s

fix: increase plex pvc
  kubernetes/apps/media/plex/app/pvc.yaml
Labels: area/k8s

fix(adguard): 4→6gb
  kubernetes/apps/adguard-home/adguard-home/app/helmrelease.yaml
Labels: area/k8s

fix(adguard): 4→6gb
  kubernetes/apps/adguard-home/adguard-home/app/helmrelease.yaml
Labels: area/k8s

fix(adguard): hungry hungry hippo needs 10gi
  kubernetes/apps/adguard-home/adguard-home/app/helmrelease.yaml
Labels: area/k8s

fix(adguard): hungry hungry hippo needs 10gi
  kubernetes/apps/adguard-home/adguard-home/app/helmrelease.yaml
Labels: area/k8s

fix: namespace.yaml
  kubernetes/apps/arrs/namespace.yaml
  kubernetes/apps/cert-manager/namespace.yaml
  kubernetes/apps/external-secrets/namespace.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/namespace.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/network/namespace.yaml
  kubernetes/apps/observability/namespace.yaml
  kubernetes/apps/op/namespace.yaml
  kubernetes/apps/openebs-system/namespace.yaml
  kubernetes/apps/renovate/namespace.yaml
Labels: area/k8s

fix: namespace.yaml
  kubernetes/apps/arrs/namespace.yaml
  kubernetes/apps/cert-manager/namespace.yaml
  kubernetes/apps/external-secrets/namespace.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/namespace.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/network/namespace.yaml
  kubernetes/apps/observability/namespace.yaml
  kubernetes/apps/op/namespace.yaml
  kubernetes/apps/openebs-system/namespace.yaml
  kubernetes/apps/renovate/namespace.yaml
Labels: area/k8s

feat: add schema hacks
  .github/workflows/publish-schemas.yaml
  .github/workflows/resources/k8s-schema-hacks.sh
  .github/workflows/resources/schema-hacks/kustomize.toolkit.fluxcd.io-v1.yaml
  .github/workflows/resources/schemas/schemahacks.json
  .trunk/trunk.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/ci, area/k8s, area/trunk

fix: update schema workflow
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix: update schema workflow
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix: kustomizations
  kubernetes/apps/op/onepassword-connect/app/kustomization.yaml
  kubernetes/apps/renovate/renovate/app/kustomization.yaml
Labels: area/k8s

fix: kustomizations
  kubernetes/apps/op/onepassword-connect/app/kustomization.yaml
  kubernetes/apps/renovate/renovate/app/kustomization.yaml
Labels: area/k8s

feat: add schema hacks
  .github/workflows/publish-schemas.yaml
  .github/workflows/resources/k8s-schema-hacks.sh
  .github/workflows/resources/schema-hacks/kustomize.toolkit.fluxcd.io-v1.yaml
  .github/workflows/resources/schemas/schemahacks.json
  .trunk/trunk.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/ci, area/k8s, area/trunk

fix: anchors aren't supported 🙄
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix: anchors aren't supported 🙄
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix: missed some
  kubernetes/apps/actions-runner-system/ghar-controller/ks.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/ks.yaml
  kubernetes/apps/adguard-home/adguard-home/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/k8s

fix: missed some
  kubernetes/apps/actions-runner-system/ghar-controller/ks.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/ks.yaml
  kubernetes/apps/adguard-home/adguard-home/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/k8s

fix: uno mas
  kubernetes/apps/adguard-home/adguard-home/ks.yaml
Labels: area/k8s

fix: uno mas
  kubernetes/apps/adguard-home/adguard-home/ks.yaml
Labels: area/k8s
