Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

feat(atuin): configures restricted access and external exposure
  kubernetes/apps/services/atuin/app/helmrelease.yaml
Labels: area/k8s

fix: update nas ip
  kubernetes/flux/vars/cluster-ipam.yaml
Labels: area/k8s

fix: update nas ip
  kubernetes/flux/vars/cluster-ipam.yaml
Labels: area/k8s

fix: move radarr to ceph-block
  kubernetes/apps/arrs/radarr/app/pvc.yaml
Labels: area/k8s

fix: move radarr to ceph-block
  kubernetes/apps/arrs/radarr/app/pvc.yaml
Labels: area/k8s

feat(project): Setup dev tools and project docs
  .cursor/mcp.json
  docs/flux-dependency-diagram.md
  kubernetes/apps/adguard-home/adguard-home/ks.yaml
Labels: area/docs, area/k8s

feat(project): Setup dev tools and project docs
  .cursor/mcp.json
  docs/flux-dependency-diagram.md
  kubernetes/apps/adguard-home/adguard-home/ks.yaml
Labels: area/docs, area/k8s

feat(flux): Add Kustomization setup
  kubernetes/flux/kustomization.yaml
Labels: area/k8s

feat(flux): Add config resource
  kubernetes/flux/kustomization.yaml
Labels: area/k8s

ci(workflow): Broadens flux diff scope
  .github/workflows/meta-flux-diff.yaml
Labels: area/ci

ci(flux): Rework local diff/test & remove HR sync
  .github/workflows/meta-flux-diff.yaml
  .github/workflows/meta-flux-hr-sync.yaml
Labels: area/ci

ci(workflow): Add image pre-pull for PRs
  .github/workflows/meta-flux-diff.yaml
  .github/workflows/meta-image-pull.yaml
  talos/patches/controlplane/talos-api.yaml
Labels: area/ci, distro/talos

feat(ci): Inject Talos config secret
  .github/workflows/meta-image-pull.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/helmrelease.yaml
Labels: area/ci, area/k8s

Add Flux v2.7.4 component manifests
  kubernetes/flux/flux-system/gotk-components.yaml
Labels: area/k8s

Add Flux sync manifests
  kubernetes/flux/flux-system/gotk-sync.yaml
  kubernetes/flux/flux-system/kustomization.yaml
Labels: area/k8s

chore(infra): Configure Flux repo and Helmfile
  kubernetes/flux/config/cluster.yaml
  talos/helmfile.yaml
Labels: area/k8s, distro/talos

chore(infra): Configure Flux repo and Helmfile
  kubernetes/flux/config/cluster.yaml
  talos/helmfile.yaml
Labels: area/k8s, distro/talos

restore?
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/k8s

restore?
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/k8s

feat(database): Upgrade to PostgreSQL 17
  kubernetes/apps/arrs/bazarr/app/externalsecret.yaml
  kubernetes/apps/arrs/prowlarr/app/externalsecret.yaml
  kubernetes/apps/arrs/radarr-3d/app/externalsecret.yaml
  kubernetes/apps/arrs/radarr/app/externalsecret.yaml
  kubernetes/apps/arrs/sonarr/app/externalsecret.yaml
  kubernetes/apps/arrs/whisparr/app/externalsecret.yaml
  kubernetes/apps/database/cloudnative-pg/README.md
  kubernetes/apps/database/cloudnative-pg/cluster/cluster17.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
  kubernetes/apps/services/atuin/app/externalsecret.yaml
Labels: area/k8s

feat(database): Upgrade to PostgreSQL 17
  kubernetes/apps/arrs/bazarr/app/externalsecret.yaml
  kubernetes/apps/arrs/prowlarr/app/externalsecret.yaml
  kubernetes/apps/arrs/radarr-3d/app/externalsecret.yaml
  kubernetes/apps/arrs/radarr/app/externalsecret.yaml
  kubernetes/apps/arrs/sonarr/app/externalsecret.yaml
  kubernetes/apps/arrs/whisparr/app/externalsecret.yaml
  kubernetes/apps/database/cloudnative-pg/README.md
  kubernetes/apps/database/cloudnative-pg/cluster/cluster17.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/apps/renovate/renovate/app/externalsecret.yaml
  kubernetes/apps/services/atuin/app/externalsecret.yaml
Labels: area/k8s

chore(deps): Update postgres-init image
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
  kubernetes/apps/arrs/prowlarr/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr-3d/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/services/atuin/app/helmrelease.yaml
Labels: area/k8s

chore(deps): Update postgres-init image
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
  kubernetes/apps/arrs/prowlarr/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr-3d/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/services/atuin/app/helmrelease.yaml
Labels: area/k8s

refactor(volsync): Unify app PVCs via template
  kubernetes/apps/arrs/bazarr/app/kustomization.yaml
  kubernetes/apps/arrs/bazarr/app/pvc.yaml
  kubernetes/apps/arrs/overseerr/app/kustomization.yaml
  kubernetes/apps/arrs/overseerr/app/pvc.yaml
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
  kubernetes/apps/arrs/profilarr/app/kustomization.yaml
  kubernetes/apps/arrs/profilarr/app/pvc.yaml
  kubernetes/apps/arrs/profilarr/ks.yaml
  kubernetes/apps/arrs/radarr/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr/app/kustomization.yaml
  kubernetes/apps/arrs/radarr/app/pvc.yaml
  kubernetes/apps/arrs/radarr/ks.yaml
  kubernetes/apps/arrs/sabnzbd/app/kustomization.yaml
  kubernetes/apps/arrs/sabnzbd/app/pvc.yaml
  kubernetes/apps/arrs/sabnzbd/ks.yaml
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr/app/kustomization.yaml
  kubernetes/apps/arrs/sonarr/app/pvc.yaml
  kubernetes/apps/arrs/sonarr/ks.yaml
  kubernetes/apps/arrs/wizarr/app/helmrelease.yaml
  kubernetes/apps/arrs/wizarr/app/kustomization.yaml
  kubernetes/apps/arrs/wizarr/app/pvc.yaml
  kubernetes/apps/arrs/wizarr/ks.yaml
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/pvc.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/stash/app/helmrelease.yaml
  kubernetes/apps/media/stash/app/kustomization.yaml
  kubernetes/apps/media/stash/app/pvc.yaml
  kubernetes/apps/media/stash/ks.yaml
  kubernetes/apps/observability/tautulli/app/kustomization.yaml
  kubernetes/apps/observability/tautulli/app/pvc.yaml
Labels: area/k8s

refactor(volsync): Unify app PVCs via template
  kubernetes/apps/arrs/bazarr/app/kustomization.yaml
  kubernetes/apps/arrs/bazarr/app/pvc.yaml
  kubernetes/apps/arrs/overseerr/app/kustomization.yaml
  kubernetes/apps/arrs/overseerr/app/pvc.yaml
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
  kubernetes/apps/arrs/profilarr/app/kustomization.yaml
  kubernetes/apps/arrs/profilarr/app/pvc.yaml
  kubernetes/apps/arrs/profilarr/ks.yaml
  kubernetes/apps/arrs/radarr/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr/app/kustomization.yaml
  kubernetes/apps/arrs/radarr/app/pvc.yaml
  kubernetes/apps/arrs/radarr/ks.yaml
  kubernetes/apps/arrs/sabnzbd/app/kustomization.yaml
  kubernetes/apps/arrs/sabnzbd/app/pvc.yaml
  kubernetes/apps/arrs/sabnzbd/ks.yaml
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr/app/kustomization.yaml
  kubernetes/apps/arrs/sonarr/app/pvc.yaml
  kubernetes/apps/arrs/sonarr/ks.yaml
  kubernetes/apps/arrs/wizarr/app/helmrelease.yaml
  kubernetes/apps/arrs/wizarr/app/kustomization.yaml
  kubernetes/apps/arrs/wizarr/app/pvc.yaml
  kubernetes/apps/arrs/wizarr/ks.yaml
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/pvc.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/stash/app/helmrelease.yaml
  kubernetes/apps/media/stash/app/kustomization.yaml
  kubernetes/apps/media/stash/app/pvc.yaml
  kubernetes/apps/media/stash/ks.yaml
  kubernetes/apps/observability/tautulli/app/kustomization.yaml
  kubernetes/apps/observability/tautulli/app/pvc.yaml
Labels: area/k8s

feat(volsync): add temporary volsync-existing for plex migration
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/templates/volsync-existing/kustomization.yaml
  kubernetes/templates/volsync-existing/nfs-externalsecret.yaml
  kubernetes/templates/volsync-existing/nfs-replicationsource.yaml
Labels: area/k8s

feat(volsync): add temporary volsync-existing for plex migration
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/templates/volsync-existing/kustomization.yaml
  kubernetes/templates/volsync-existing/nfs-externalsecret.yaml
  kubernetes/templates/volsync-existing/nfs-replicationsource.yaml
Labels: area/k8s

fix(volsync): align volsync-existing template with standard volsync
  kubernetes/apps/arrs/bazarr/app/kustomization.yaml
  kubernetes/templates/volsync-existing/nfs-externalsecret.yaml
  kubernetes/templates/volsync-existing/nfs-replicationsource.yaml
Labels: area/k8s

fix(volsync): align volsync-existing template with standard volsync
  kubernetes/apps/arrs/bazarr/app/kustomization.yaml
  kubernetes/templates/volsync-existing/nfs-externalsecret.yaml
  kubernetes/templates/volsync-existing/nfs-replicationsource.yaml
Labels: area/k8s

chore(bazarr): Remove explicit PVC resource
  kubernetes/apps/arrs/bazarr/app/kustomization.yaml
Labels: area/k8s

chore(bazarr): Remove explicit PVC resource
  kubernetes/apps/arrs/bazarr/app/kustomization.yaml
Labels: area/k8s

fix(plex): preserve PVC during volsync migration
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/plex-pvc.yaml
Labels: area/k8s

fix(plex): preserve PVC during volsync migration
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/plex-pvc.yaml
Labels: area/k8s

fix(plex): bind PVC to existing PV during migration
  kubernetes/apps/media/plex/app/plex-pvc.yaml
Labels: area/k8s

fix(plex): bind PVC to existing PV during migration
  kubernetes/apps/media/plex/app/plex-pvc.yaml
Labels: area/k8s

feat(plex): migrate to standard volsync template
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/plex-pvc.yaml
Labels: area/k8s

feat(plex): migrate to standard volsync template
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/plex-pvc.yaml
Labels: area/k8s

chore: remove volsync-existing template (no longer needed)
  kubernetes/templates/volsync-existing/kustomization.yaml
  kubernetes/templates/volsync-existing/nfs-externalsecret.yaml
  kubernetes/templates/volsync-existing/nfs-replicationsource.yaml
Labels: area/k8s

chore: remove volsync-existing template (no longer needed)
  kubernetes/templates/volsync-existing/kustomization.yaml
  kubernetes/templates/volsync-existing/nfs-externalsecret.yaml
  kubernetes/templates/volsync-existing/nfs-replicationsource.yaml
Labels: area/k8s

feat(volsync): add backup for stash-data and adguard-home
  kubernetes/apps/adguard-home/adguard-home/app/helmrelease.yaml
  kubernetes/apps/adguard-home/adguard-home/app/kustomization.yaml
  kubernetes/apps/adguard-home/adguard-home/app/volsync.yaml
  kubernetes/apps/media/stash/app/kustomization.yaml
  kubernetes/apps/media/stash/app/volsync-data.yaml
Labels: area/k8s

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*
