Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

feat(system-upgrade): Add Tuppr application
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
  kubernetes/apps/system-upgrade/tuppr/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/tuppr/app/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/k8s

chore(renovate): Disable digest pinning for OCI charts
  .github/renovate/noPin.json5
Labels: area/ci

chore(renovate): Disable digest pinning for OCI charts
  .github/renovate/noPin.json5
Labels: area/ci

chore(renovate): allow latest alpine in bootstrap
  .github/renovate/noPin.json5
Labels: area/ci

chore(renovate): allow latest alpine in bootstrap
  .github/renovate/noPin.json5
Labels: area/ci

chore(renovate): No digest pin for spegel chart
  .github/renovate/noPin.json5
Labels: area/ci

chore(renovate): No digest pin for spegel chart
  .github/renovate/noPin.json5
Labels: area/ci

feat(renovate): Add regex manager for annotated deps
  .github/renovate/customManagers.json5
Labels: area/ci

feat(renovate): Add regex manager for annotated deps
  .github/renovate/customManagers.json5
Labels: area/ci

feat(descheduler): Add Descheduler application
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/k8s

feat(descheduler): Add Descheduler application
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/k8s

feat(descheduler): Add metrics, new plugins & protections
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/k8s

feat(descheduler): Add metrics, new plugins & protections
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/k8s

feat(plex): Adds Plex cache capacity
  kubernetes/apps/media/plex/ks.yaml
Labels: area/k8s

feat(plex): Adds Plex cache capacity
  kubernetes/apps/media/plex/ks.yaml
Labels: area/k8s

fix(descheduler): Remove evictLocalStoragePods argument from DefaultEvictor plugin configuration
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/k8s

fix(descheduler): Remove evictLocalStoragePods argument from DefaultEvictor plugin configuration
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/k8s

fix(k8s-apps): Prevent descheduler eviction
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/stash/app/helmrelease.yaml
  kubernetes/apps/services/cs2/app/helmrelease.yaml
Labels: area/k8s

fix(k8s-apps): Prevent descheduler eviction
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/stash/app/helmrelease.yaml
  kubernetes/apps/services/cs2/app/helmrelease.yaml
Labels: area/k8s

chore(cs2): remove application deployment
  kubernetes/apps/services/cs2/app/externalsecret.yaml
  kubernetes/apps/services/cs2/app/helmrelease.yaml
  kubernetes/apps/services/cs2/app/kustomization.yaml
  kubernetes/apps/services/cs2/app/pvc.yaml
  kubernetes/apps/services/cs2/ks.yaml
  kubernetes/apps/services/kustomization.yaml
Labels: area/k8s

chore(cs2): remove application deployment
  kubernetes/apps/services/cs2/app/externalsecret.yaml
  kubernetes/apps/services/cs2/app/helmrelease.yaml
  kubernetes/apps/services/cs2/app/kustomization.yaml
  kubernetes/apps/services/cs2/app/pvc.yaml
  kubernetes/apps/services/cs2/ks.yaml
  kubernetes/apps/services/kustomization.yaml
Labels: area/k8s

feat(volsync): Configure fsGroupChangePolicy
  kubernetes/templates/volsync/nfs-replicationdestination.yaml
  kubernetes/templates/volsync/nfs-replicationsource.yaml
  kubernetes/templates/volsync/r2-replicationsource.yaml
Labels: area/k8s

feat(volsync): Configure fsGroupChangePolicy
  kubernetes/templates/volsync/nfs-replicationdestination.yaml
  kubernetes/templates/volsync/nfs-replicationsource.yaml
  kubernetes/templates/volsync/r2-replicationsource.yaml
Labels: area/k8s

refactor(volsync): Move fsGroupChangePolicy to restic
  kubernetes/templates/volsync/nfs-replicationdestination.yaml
  kubernetes/templates/volsync/nfs-replicationsource.yaml
  kubernetes/templates/volsync/r2-replicationsource.yaml
Labels: area/k8s

refactor(volsync): Move fsGroupChangePolicy to restic
  kubernetes/templates/volsync/nfs-replicationdestination.yaml
  kubernetes/templates/volsync/nfs-replicationsource.yaml
  kubernetes/templates/volsync/r2-replicationsource.yaml
Labels: area/k8s

feat(renovate): Add timezone and K8s upgrade schedule
  .github/renovate.json5
  .github/renovate/packageRules.json5
Labels: area/ci

feat(renovate): Add timezone and K8s upgrade schedule
  .github/renovate.json5
  .github/renovate/packageRules.json5
Labels: area/ci

feat(volsync): Allow custom replication schedule
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/templates/volsync/nfs-replicationsource.yaml
Labels: area/k8s

feat(volsync): Allow custom replication schedule
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/templates/volsync/nfs-replicationsource.yaml
Labels: area/k8s

feat(kubelet): Configures image garbage collection
  talos/patches/global/kubelet.yaml
Labels: distro/talos

feat(kubelet): Configures image garbage collection
  talos/patches/global/kubelet.yaml
Labels: distro/talos

fix(loki): configure S3 endpoint protocol
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/k8s

fix(loki): configure S3 endpoint protocol
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/k8s

feat(kuberhealthy): Add Plex stream upgrade gate
  kubernetes/apps/observability/kuberhealthy/app/externalsecret.yaml
  kubernetes/apps/observability/kuberhealthy/app/helmrelease.yaml
  kubernetes/apps/observability/kuberhealthy/app/kustomization.yaml
  kubernetes/apps/observability/kuberhealthy/app/tautulli-check.yaml
  kubernetes/apps/observability/kuberhealthy/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
  kubernetes/flux/repositories/helm/kuberhealthy.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/k8s

feat(kuberhealthy): Add Plex stream upgrade gate
  kubernetes/apps/observability/kuberhealthy/app/externalsecret.yaml
  kubernetes/apps/observability/kuberhealthy/app/helmrelease.yaml
  kubernetes/apps/observability/kuberhealthy/app/kustomization.yaml
  kubernetes/apps/observability/kuberhealthy/app/tautulli-check.yaml
  kubernetes/apps/observability/kuberhealthy/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
  kubernetes/flux/repositories/helm/kuberhealthy.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/k8s

refactor(kuberhealthy): Restructure checks deployment
  kubernetes/apps/observability/kuberhealthy/checks/kustomization.yaml
  kubernetes/apps/observability/kuberhealthy/checks/tautulli-check.yaml
  kubernetes/apps/observability/kuberhealthy/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
Labels: area/k8s

refactor(kuberhealthy): Restructure checks deployment
  kubernetes/apps/observability/kuberhealthy/checks/kustomization.yaml
  kubernetes/apps/observability/kuberhealthy/checks/tautulli-check.yaml
  kubernetes/apps/observability/kuberhealthy/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
Labels: area/k8s

fix(kuberhealthy): Downgrade chart version
  kubernetes/apps/observability/kuberhealthy/app/helmrelease.yaml
Labels: area/k8s

fix(kuberhealthy): Downgrade chart version
  kubernetes/apps/observability/kuberhealthy/app/helmrelease.yaml
Labels: area/k8s

chore(kuberhealthy): Bump chart version to 104
  kubernetes/apps/observability/kuberhealthy/app/helmrelease.yaml
Labels: area/k8s

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*
