Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*

fix(observability): make Loki buckets render offline
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  scripts/flate-render-baseline.tsv
Labels: area/k8s

fix(observability): make Loki buckets render offline (#4187)
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  scripts/flate-render-baseline.tsv
Labels: area/k8s

fix(actions): reject truncated Talos PR file lists
  .github/workflows/image-gate.yaml
  .github/workflows/image-pull.yaml
  scripts/talos-pr-files
  scripts/tests/test-talos-pr-files.sh
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

FLEET-11 configure Talos GHCR authentication
  .sops.yaml
  .taskfiles/Talos/Taskfile.yaml
  talos/patches/global/ghcr-auth.sops.yaml
  talos/talconfig.yaml
Labels: area/task, distro/talos

FLEET-11 Configure Talos private GHCR authentication (#4194)
  .sops.yaml
  .taskfiles/Talos/Taskfile.yaml
  talos/patches/global/ghcr-auth.sops.yaml
  talos/talconfig.yaml
Labels: area/task, distro/talos

FLEET-11 activate Zoo Fleet v0.2.0
  kubernetes/apps/iot/zoo-fleet/README.md
  kubernetes/apps/iot/zoo-fleet/ks.yaml
Labels: area/k8s

[FLEET-11] Activate Zoo Fleet v0.2.0 (#4186)
  kubernetes/apps/iot/zoo-fleet/README.md
  kubernetes/apps/iot/zoo-fleet/ks.yaml
Labels: area/k8s

fix(coredns): resolve mqtt service internally
  kubernetes/apps/kube-system/coredns/app/helm-values.yaml
Labels: area/k8s

fix(coredns): resolve mqtt service internally (#4196)
  kubernetes/apps/kube-system/coredns/app/helm-values.yaml
Labels: area/k8s

feat(gatus): monitor NFS listener
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/k8s

feat(gatus): monitor NFS listener (#4197)
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/k8s

ci(flate): authenticate private OCI chart renders
  .github/workflows/meta-flux-diff.yaml
Labels: area/ci

feat(zoo-fleet): consume first-party OCI chart
  kubernetes/apps/iot/zoo-fleet/README.md
  kubernetes/apps/iot/zoo-fleet/app/helmrelease.yaml
  kubernetes/apps/iot/zoo-fleet/app/ocirepository.yaml
Labels: area/k8s

test(flate): baseline Zoo Fleet pull-secret fixtures
  scripts/flate-render-baseline.tsv
Labels: none

chore(renovate): group release artifacts
  .github/renovate/packageRules.json5
Labels: area/ci

chore(renovate): group release artifacts (#4200)
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): unblock grouped OCI charts
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): unblock grouped OCI charts (#4204)
  .github/renovate/packageRules.json5
Labels: area/ci

fix(actions): allow Helm image baseline app updates
  scripts/talos-image-gate-scope
  scripts/tests/test-talos-image-gate-scope.sh
Labels: none

fix(actions): allow Helm image baseline app updates (#4205)
  scripts/talos-image-gate-scope
  scripts/tests/test-talos-image-gate-scope.sh
Labels: none

fix(ci): treat image baseline as data
  scripts/talos-image-gate-scope
  scripts/tests/test-talos-image-gate-scope.sh
Labels: none

fix(rook-ceph): pin chart-managed images
  .github/renovate/packageRules.json5
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  scripts/helm-image-pin-baseline.txt
Labels: area/ci, area/k8s

fix(rook-ceph): pin chart-managed images (#4207)
  .github/renovate/packageRules.json5
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  scripts/helm-image-pin-baseline.txt
Labels: area/ci, area/k8s

fix(renovate): keep Rook patch releases atomic
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): keep Rook patch releases atomic (#4208)
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): align Rook image release timing
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): align Rook image release timing (#4210)
  .github/renovate/packageRules.json5
Labels: area/ci

fix(ci): protect full Talos boundary scope
  scripts/talos-image-gate-scope
  scripts/tests/test-talos-image-gate-scope.sh
Labels: none

fix(ci): protect full Talos boundary scope (#4212)
  scripts/talos-image-gate-scope
  scripts/tests/test-talos-image-gate-scope.sh
Labels: none

fix(actions): harden Talos runner boundary
  .github/workflows/image-pull.yaml
  .github/workflows/meta-static-analysis.yaml
  .mise.toml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/networkpolicy.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/networkpolicy-default-deny.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/talos-runner-boundary.yaml
  scripts/check-talos-runner-boundary
  scripts/talos-image-pull
  scripts/talos-image-size
  scripts/tests/test-talos-arc-boundary.sh
  scripts/tests/test-talos-image-resource-limits.sh
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci, area/k8s

fix(actions): harden Talos runner boundary (#4211)
  .github/workflows/image-pull.yaml
  .github/workflows/meta-static-analysis.yaml
  .mise.toml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/networkpolicy.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/networkpolicy-default-deny.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/talos-runner-boundary.yaml
  scripts/check-talos-runner-boundary
  scripts/talos-image-pull
  scripts/talos-image-size
  scripts/tests/test-talos-arc-boundary.sh
  scripts/tests/test-talos-image-resource-limits.sh
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci, area/k8s

fix(actions): use valid namespace default deny
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/networkpolicy-default-deny.yaml
  scripts/check-talos-runner-boundary
  scripts/tests/test-talos-arc-boundary.sh
Labels: area/k8s

fix(actions): use valid namespace default deny (#4214)
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/networkpolicy-default-deny.yaml
  scripts/check-talos-runner-boundary
  scripts/tests/test-talos-arc-boundary.sh
Labels: area/k8s

test(actions): exercise Talos image pre-pull
  kubernetes/apps/services/changedetection/app/helmrelease.yaml
Labels: area/k8s

fix(actions): make runner shape admission robust
  kubernetes/apps/kyverno/kyverno/policies/talos-runner-boundary.yaml
Labels: area/k8s

fix(actions): make runner shape admission robust (#4216)
  kubernetes/apps/kyverno/kyverno/policies/talos-runner-boundary.yaml
Labels: area/k8s

fix(actions): harden Talos pull cleanup
  scripts/talos-image-pull
  scripts/talos-image-size
  scripts/tests/test-talos-image-resource-limits.sh
Labels: none

fix(actions): harden Talos pull cleanup (#4217)
  scripts/talos-image-pull
  scripts/talos-image-size
  scripts/tests/test-talos-image-resource-limits.sh
Labels: none

fix(actions): consume complete Talos image inventory
  scripts/talos-image-pull
  scripts/tests/test-talos-image-resource-limits.sh
Labels: none

fix(actions): consume complete Talos image inventory (#4218)
  scripts/talos-image-pull
  scripts/tests/test-talos-image-resource-limits.sh
Labels: none
