Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*

fix: snapshot
  kubernetes/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
Labels: area/k8s

fix: snapshot
  kubernetes/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
Labels: area/k8s

fix(arc): drift detect
  kubernetes/apps/actions-runner-system/ghar-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/helmrelease.yaml
Labels: area/k8s

fix(arc): drift detect
  kubernetes/apps/actions-runner-system/ghar-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/helmrelease.yaml
Labels: area/k8s

fix: downgrade
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/k8s

fix: downgrade
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/k8s

fix(ceph): update to support snapshot-controller v4
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/k8s

fix(ceph): update to support snapshot-controller v4
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/k8s

fix(spegel): official image
  kubernetes/apps/kube-system/spegel/app/helm-values.yaml
Labels: area/k8s

fix(spegel): official image
  kubernetes/apps/kube-system/spegel/app/helm-values.yaml
Labels: area/k8s

fix(cilium): talos chart is out of sync
  talos/helmfile.yaml
Labels: distro/talos

fix(cilium): talos chart is out of sync
  talos/helmfile.yaml
Labels: distro/talos

fix(csr): how was this ever working? poor rhea
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
Labels: area/k8s

fix(csr): how was this ever working? poor rhea
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
Labels: area/k8s

feat: whispaar v3
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
Labels: area/k8s

feat: whispaar v3
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
Labels: area/k8s

remove pvc.yaml
  kubernetes/apps/arrs/whisparr/app/pvc.yaml
Labels: area/k8s

remove pvc.yaml
  kubernetes/apps/arrs/whisparr/app/pvc.yaml
Labels: area/k8s

add volsync
  kubernetes/apps/arrs/whisparr/app/kustomization.yaml
Labels: area/k8s

add volsync
  kubernetes/apps/arrs/whisparr/app/kustomization.yaml
Labels: area/k8s

change db
  kubernetes/apps/arrs/whisparr/app/externalsecret.yaml
Labels: area/k8s

change db
  kubernetes/apps/arrs/whisparr/app/externalsecret.yaml
Labels: area/k8s

chore: tool update
  .mise.toml
Labels: none

chore: tool update
  .mise.toml
Labels: none

chore: update talos/k8s versions
  talos/talconfig.yaml
Labels: distro/talos

chore: update talos/k8s versions
  talos/talconfig.yaml
Labels: distro/talos

fix: static-webserver gatus path
  kubernetes/apps/services/static-webserver/ks.yaml
Labels: area/k8s

fix: static-webserver gatus path
  kubernetes/apps/services/static-webserver/ks.yaml
Labels: area/k8s

test: dragonfly gatus?
  kubernetes/apps/database/dragonfly/cluster/gatus.yaml
  kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
Labels: area/k8s

test: dragonfly gatus?
  kubernetes/apps/database/dragonfly/cluster/gatus.yaml
  kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
Labels: area/k8s

fix: more gatus
  kubernetes/apps/arrs/wizarr/app/kustomization.yaml
  kubernetes/apps/flux-system/capacitor/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/gatus-hubble.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/media/ersatztv/app/kustomization.yaml
  kubernetes/apps/media/metube/app/kustomization.yaml
  kubernetes/apps/media/stash/app/kustomization.yaml
  kubernetes/apps/network/echo-server/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/gatus-alertmanager.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/gatus-rook.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/gatus-rwg.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/k8s

fix: more gatus
  kubernetes/apps/arrs/wizarr/app/kustomization.yaml
  kubernetes/apps/flux-system/capacitor/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/gatus-hubble.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/media/ersatztv/app/kustomization.yaml
  kubernetes/apps/media/metube/app/kustomization.yaml
  kubernetes/apps/media/stash/app/kustomization.yaml
  kubernetes/apps/network/echo-server/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/gatus-alertmanager.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/gatus-rook.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/gatus-rwg.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/k8s

fix: wizarr domain
  kubernetes/apps/arrs/wizarr/ks.yaml
Labels: area/k8s

fix: wizarr domain
  kubernetes/apps/arrs/wizarr/ks.yaml
Labels: area/k8s

test: atuin http
  kubernetes/apps/services/atuin/app/gatus.yaml
  kubernetes/apps/services/atuin/app/kustomization.yaml
Labels: area/k8s

test: atuin http
  kubernetes/apps/services/atuin/app/gatus.yaml
  kubernetes/apps/services/atuin/app/kustomization.yaml
Labels: area/k8s

test: atuin port
  kubernetes/apps/services/atuin/app/gatus.yaml
Labels: area/k8s

test: atuin port
  kubernetes/apps/services/atuin/app/gatus.yaml
Labels: area/k8s

chore: remove atuin gatus test
  kubernetes/apps/services/atuin/app/gatus.yaml
  kubernetes/apps/services/atuin/app/kustomization.yaml
Labels: area/k8s

chore: remove atuin gatus test
  kubernetes/apps/services/atuin/app/gatus.yaml
  kubernetes/apps/services/atuin/app/kustomization.yaml
Labels: area/k8s
