Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*

fix(authentik): Adjust configuration and dependencies
  kubernetes/apps/security/authentik/app/configmap-blueprints.yaml
  kubernetes/apps/security/authentik/app/externalsecret.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/ks.yaml
Labels: area/k8s

feat(authentik): Add PLEX_TOKEN to Plex provider
  kubernetes/apps/security/authentik/app/configmap-blueprints.yaml
  kubernetes/apps/security/authentik/app/externalsecret.yaml
Labels: area/k8s

feat(authentik): Add PLEX_TOKEN to Plex provider
  kubernetes/apps/security/authentik/app/configmap-blueprints.yaml
  kubernetes/apps/security/authentik/app/externalsecret.yaml
Labels: area/k8s

feat(bazarr): Enable Authentik forward auth
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
Labels: area/k8s

feat(bazarr): Enable Authentik forward auth
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
Labels: area/k8s

chore(authentik): Removes application
  docs/flux-dependency-diagram.md
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/configmap-blueprints.yaml
  kubernetes/apps/security/authentik/app/externalsecret.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/ingress-outpost.yaml
  kubernetes/apps/security/authentik/app/kustomization.yaml
  kubernetes/apps/security/authentik/app/objectbucketclaim.yaml
  kubernetes/apps/security/authentik/app/rbac.yaml
  kubernetes/apps/security/authentik/app/secretstore.yaml
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/security/kustomization.yaml
  kubernetes/flux/repositories/helm/authentik.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/templates/authentik/forward-auth/kustomization.yaml
Labels: area/docs, area/k8s

chore(authentik): Removes application
  docs/flux-dependency-diagram.md
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/configmap-blueprints.yaml
  kubernetes/apps/security/authentik/app/externalsecret.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/ingress-outpost.yaml
  kubernetes/apps/security/authentik/app/kustomization.yaml
  kubernetes/apps/security/authentik/app/objectbucketclaim.yaml
  kubernetes/apps/security/authentik/app/rbac.yaml
  kubernetes/apps/security/authentik/app/secretstore.yaml
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/security/kustomization.yaml
  kubernetes/flux/repositories/helm/authentik.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/templates/authentik/forward-auth/kustomization.yaml
Labels: area/docs, area/k8s

chore(renovate): Decrease minor stability, drop schedule
  .github/renovate/packageRules.json5
Labels: area/ci

chore(renovate): Decrease minor stability, drop schedule
  .github/renovate/packageRules.json5
Labels: area/ci

chore(renovate): Do not pin CNPG image digests
  .github/renovate/noPin.json5
Labels: area/ci

chore(renovate): Do not pin CNPG image digests
  .github/renovate/noPin.json5
Labels: area/ci

chore(renovate): Do not pin Talos kubelet
  .github/renovate/noPin.json5
Labels: area/ci

chore(renovate): Do not pin Talos kubelet
  .github/renovate/noPin.json5
Labels: area/ci

chore(renovate): No digest pin for installer
  .github/renovate/noPin.json5
Labels: area/ci

chore(renovate): No digest pin for installer
  .github/renovate/noPin.json5
Labels: area/ci

feat(games): Adds Minecraft StoneBlock 4 server
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/mc-router/app/helmrelease.yaml
  kubernetes/apps/games/mc-router/app/kustomization.yaml
  kubernetes/apps/games/mc-router/ks.yaml
  kubernetes/apps/games/minecraft-stoneblock4/app/externalsecret.yaml
  kubernetes/apps/games/minecraft-stoneblock4/app/helmrelease.yaml
  kubernetes/apps/games/minecraft-stoneblock4/app/kustomization.yaml
  kubernetes/apps/games/minecraft-stoneblock4/ks.yaml
  kubernetes/apps/games/namespace.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/minecraft-server-charts.yaml
  kubernetes/flux/vars/cluster-ipam.yaml
Labels: area/k8s

feat(games): Adds Minecraft StoneBlock 4 server
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/mc-router/app/helmrelease.yaml
  kubernetes/apps/games/mc-router/app/kustomization.yaml
  kubernetes/apps/games/mc-router/ks.yaml
  kubernetes/apps/games/minecraft-stoneblock4/app/externalsecret.yaml
  kubernetes/apps/games/minecraft-stoneblock4/app/helmrelease.yaml
  kubernetes/apps/games/minecraft-stoneblock4/app/kustomization.yaml
  kubernetes/apps/games/minecraft-stoneblock4/ks.yaml
  kubernetes/apps/games/namespace.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/minecraft-server-charts.yaml
  kubernetes/flux/vars/cluster-ipam.yaml
Labels: area/k8s

refactor(k8s): Refine app RBAC and dependency config
  kubernetes/apps/games/mc-router/app/helmrelease.yaml
  kubernetes/apps/games/minecraft-stoneblock4/ks.yaml
Labels: area/k8s

refactor(k8s): Refine app RBAC and dependency config
  kubernetes/apps/games/mc-router/app/helmrelease.yaml
  kubernetes/apps/games/minecraft-stoneblock4/ks.yaml
Labels: area/k8s

feat(cloudflare-ddns): add application
  kubernetes/apps/network/cloudflare-ddns/app/dnsendpoint.yaml
  kubernetes/apps/network/cloudflare-ddns/app/externalsecret.yaml
  kubernetes/apps/network/cloudflare-ddns/app/helmrelease.yaml
  kubernetes/apps/network/cloudflare-ddns/app/kustomization.yaml
  kubernetes/apps/network/cloudflare-ddns/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/k8s

feat(cloudflare-ddns): add application
  kubernetes/apps/network/cloudflare-ddns/app/dnsendpoint.yaml
  kubernetes/apps/network/cloudflare-ddns/app/externalsecret.yaml
  kubernetes/apps/network/cloudflare-ddns/app/helmrelease.yaml
  kubernetes/apps/network/cloudflare-ddns/app/kustomization.yaml
  kubernetes/apps/network/cloudflare-ddns/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/k8s

refactor(minecraft): Rename secret keys
  kubernetes/apps/games/minecraft-stoneblock4/app/externalsecret.yaml
  kubernetes/apps/games/minecraft-stoneblock4/app/helmrelease.yaml
Labels: area/k8s

refactor(minecraft): Rename secret keys
  kubernetes/apps/games/minecraft-stoneblock4/app/externalsecret.yaml
  kubernetes/apps/games/minecraft-stoneblock4/app/helmrelease.yaml
Labels: area/k8s

chore(cloudflare-ddns): Update image tag to edge-alpine
  kubernetes/apps/network/cloudflare-ddns/app/helmrelease.yaml
Labels: area/k8s

chore(cloudflare-ddns): Update image tag to edge-alpine
  kubernetes/apps/network/cloudflare-ddns/app/helmrelease.yaml
Labels: area/k8s

feat(dns): Disable Cloudflare proxy
  kubernetes/apps/network/cloudflare-ddns/app/dnsendpoint.yaml
Labels: area/k8s

feat(dns): Disable Cloudflare proxy
  kubernetes/apps/network/cloudflare-ddns/app/dnsendpoint.yaml
Labels: area/k8s

feat(stoneblock4): Configure modpack and DNS
  kubernetes/apps/games/minecraft-stoneblock4/app/helmrelease.yaml
  kubernetes/apps/network/cloudflare-ddns/app/dnsendpoint.yaml
Labels: area/k8s

feat(stoneblock4): Configure modpack and DNS
  kubernetes/apps/games/minecraft-stoneblock4/app/helmrelease.yaml
  kubernetes/apps/network/cloudflare-ddns/app/dnsendpoint.yaml
Labels: area/k8s

fix(stoneblock4): Quote fileId as string
  kubernetes/apps/games/minecraft-stoneblock4/app/helmrelease.yaml
Labels: area/k8s

fix(stoneblock4): Quote fileId as string
  kubernetes/apps/games/minecraft-stoneblock4/app/helmrelease.yaml
Labels: area/k8s

feat(stoneblock4): Use FTBA modpack type
  kubernetes/apps/games/minecraft-stoneblock4/app/externalsecret.yaml
  kubernetes/apps/games/minecraft-stoneblock4/app/helmrelease.yaml
Labels: area/k8s

feat(stoneblock4): Use FTBA modpack type
  kubernetes/apps/games/minecraft-stoneblock4/app/externalsecret.yaml
  kubernetes/apps/games/minecraft-stoneblock4/app/helmrelease.yaml
Labels: area/k8s

fix(cloudflare): Update proxied provider name
  kubernetes/apps/network/cloudflare-ddns/app/dnsendpoint.yaml
Labels: area/k8s

fix(cloudflare): Update proxied provider name
  kubernetes/apps/network/cloudflare-ddns/app/dnsendpoint.yaml
Labels: area/k8s

chore(network): Remove game domain CNAMEs
  kubernetes/apps/network/cloudflare-ddns/app/dnsendpoint.yaml
  kubernetes/apps/network/cloudflare-ddns/app/kustomization.yaml
Labels: area/k8s

chore(network): Remove game domain CNAMEs
  kubernetes/apps/network/cloudflare-ddns/app/dnsendpoint.yaml
  kubernetes/apps/network/cloudflare-ddns/app/kustomization.yaml
Labels: area/k8s

feat(minecraft-stoneblock4): Enable server whitelist
  kubernetes/apps/games/minecraft-stoneblock4/app/externalsecret.yaml
  kubernetes/apps/games/minecraft-stoneblock4/app/helmrelease.yaml
Labels: area/k8s

feat(minecraft-stoneblock4): Enable server whitelist
  kubernetes/apps/games/minecraft-stoneblock4/app/externalsecret.yaml
  kubernetes/apps/games/minecraft-stoneblock4/app/helmrelease.yaml
Labels: area/k8s

chore(home-assistant): Update app image
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
Labels: area/k8s
