Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

feat(operations): add bounded maintenance silences
  .github/workflows/meta-static-analysis.yaml
  AGENTS.md
  scripts/cluster-maintenance
  scripts/tests/test-cluster-maintenance.py
Labels: area/ci

feat(operations): add bounded maintenance silences (#4166)
  .github/workflows/meta-static-analysis.yaml
  AGENTS.md
  scripts/cluster-maintenance
  scripts/tests/test-cluster-maintenance.py
Labels: area/ci

fix(actions): allow Talos API service backends
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/networkpolicy.yaml
Labels: area/k8s

fix(actions): allow Talos API service backends (#4167)
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/networkpolicy.yaml
Labels: area/k8s

fix(actions): deny Talos node entities to general runners
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/networkpolicy.yaml
Labels: area/k8s

fix(actions): deny Talos node entities to general runners (#4168)
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/networkpolicy.yaml
Labels: area/k8s

fix(actions): allow Talos node entities to dedicated runners
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/networkpolicy.yaml
Labels: area/k8s

fix(actions): allow Talos node entities to dedicated runners (#4169)
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/networkpolicy.yaml
Labels: area/k8s

fix(actions): audit Talos image sizes by digest
  .github/workflows/image-pull.yaml
  scripts/tests/test-talos-image-plan.sh
Labels: area/ci

fix(actions): audit Talos image sizes by digest (#4170)
  .github/workflows/image-pull.yaml
  scripts/tests/test-talos-image-plan.sh
Labels: area/ci

fix(actions): close Talos workflow trust gaps
  .github/workflows/image-plan.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/meta-static-analysis.yaml
  scripts/talos-check-gate
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

fix(actions): close Talos workflow trust gaps (#4171)
  .github/workflows/image-plan.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/meta-static-analysis.yaml
  scripts/talos-check-gate
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

fix(actions): trust the repository Renovate bot
  .github/workflows/image-plan.yaml
  .github/workflows/image-pull.yaml
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

fix(actions): trust the repository Renovate bot (#4172)
  .github/workflows/image-plan.yaml
  .github/workflows/image-pull.yaml
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

fix(actions): read the hosted event payload path
  .github/workflows/image-plan.yaml
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

fix(actions): read the hosted event payload path (#4173)
  .github/workflows/image-plan.yaml
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

fix(actions): enforce Talos image availability
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
  .github/workflows/image-gate.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/meta-static-analysis.yaml
  .mise.toml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/helmrelease.yaml
  scripts/check-talos-tooling-sync
  scripts/talos-image-gate-scope
  scripts/tests/test-talos-image-gate-scope.sh
  scripts/tests/test-talos-tooling-sync.sh
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci, area/k8s

test(actions): satisfy hosted ShellCheck
  scripts/tests/test-talos-workflow-trust.sh
Labels: none

fix(actions): admit trusted PR synchronizations
  .github/workflows/image-pull.yaml
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

fix(actions): automate Talos image planning
  .github/workflows/image-gate.yaml
  .github/workflows/image-plan.yaml
  .github/workflows/image-pull.yaml
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

FLEET-8 deploy Mosquitto with runtime authorization
  kubernetes/apps/iot/kustomization.yaml
  kubernetes/apps/iot/mosquitto/README.md
  kubernetes/apps/iot/mosquitto/app/certificate.yaml
  kubernetes/apps/iot/mosquitto/app/externalsecret.yaml
  kubernetes/apps/iot/mosquitto/app/helmrelease.yaml
  kubernetes/apps/iot/mosquitto/app/kustomization.yaml
  kubernetes/apps/iot/mosquitto/app/ocirepository.yaml
  kubernetes/apps/iot/mosquitto/app/resources/mosquitto.conf
  kubernetes/apps/iot/mosquitto/app/resources/verify.sh
  kubernetes/apps/iot/mosquitto/app/verification-cronjob.yaml
  kubernetes/apps/iot/mosquitto/ks.yaml
  kubernetes/apps/iot/namespace.yaml
Labels: area/k8s

FLEET-11 prepare suspended Zoo Fleet deployment
  kubernetes/apps/iot/kustomization.yaml
  kubernetes/apps/iot/zoo-fleet/README.md
  kubernetes/apps/iot/zoo-fleet/app/externalsecret.yaml
  kubernetes/apps/iot/zoo-fleet/app/helmrelease.release-required.yaml.tmpl
  kubernetes/apps/iot/zoo-fleet/app/kustomization.yaml
  kubernetes/apps/iot/zoo-fleet/app/ocirepository.yaml
  kubernetes/apps/iot/zoo-fleet/app/storage.yaml
  kubernetes/apps/iot/zoo-fleet/ks.yaml
Labels: area/k8s

test(actions): verify automatic image availability
  kubernetes/apps/observability/vector/app/kustomization.yaml
Labels: area/k8s

FLEET-8 pin Mosquitto load balancer address
  kubernetes/apps/iot/mosquitto/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-ipam.yaml
Labels: area/k8s

fix(renovate): keep PostgreSQL on 17
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): keep PostgreSQL on 17 (#4181)
  .github/renovate/packageRules.json5
Labels: area/ci

FLEET-11 stage Zoo Fleet v0.2.0 deployment
  kubernetes/apps/iot/zoo-fleet/README.md
  kubernetes/apps/iot/zoo-fleet/app/helmrelease.yaml
  kubernetes/apps/iot/zoo-fleet/app/kustomization.yaml
  kubernetes/apps/iot/zoo-fleet/ks.yaml
Labels: area/k8s

fix(actions): bind Talos gate to fresh evidence
  .github/workflows/image-gate.yaml
  .github/workflows/image-plan.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/meta-static-analysis.yaml
  scripts/talos-image-plan
  scripts/talos-pr-files
  scripts/tests/test-talos-image-plan.sh
  scripts/tests/test-talos-pr-files.sh
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

test(actions): verify automatic image queue A
  kubernetes/apps/observability/vector/app/kustomization.yaml
Labels: area/k8s

test(actions): verify automatic image queue B
  kubernetes/apps/observability/gatus/app/kustomization.yaml
Labels: area/k8s

fix(actions): use current trusted Talos verifier
  .github/workflows/image-plan.yaml
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

fix(actions): allow protected base advancement
  .github/workflows/image-pull.yaml
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

fix(actions): verify Talos result artifacts
  .github/workflows/image-gate.yaml
  .github/workflows/image-pull.yaml
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

fix(actions): allow Flate baseline app updates
  scripts/talos-image-gate-scope
  scripts/tests/test-talos-image-gate-scope.sh
Labels: none

fix(actions): allow Flate baseline app updates (#4189)
  scripts/talos-image-gate-scope
  scripts/tests/test-talos-image-gate-scope.sh
Labels: none

chore(services): remove home-k8s Codeberg mirror
  kubernetes/apps/services/git-mirror-operator/app/externalsecret.yaml
  kubernetes/apps/services/git-mirror-operator/app/gitmirror.yaml
  kubernetes/apps/services/git-mirror-operator/app/kustomization.yaml
Labels: area/k8s

fix(actions): verify Talos result artifacts (#4190)
  .github/workflows/image-gate.yaml
  .github/workflows/image-pull.yaml
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

chore(services): remove home-k8s Codeberg mirror (#4191)
  kubernetes/apps/services/git-mirror-operator/app/externalsecret.yaml
  kubernetes/apps/services/git-mirror-operator/app/gitmirror.yaml
  kubernetes/apps/services/git-mirror-operator/app/kustomization.yaml
Labels: area/k8s

fix(actions): share Talos prepull scope policy
  .github/workflows/image-pull.yaml
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

fix(actions): share Talos prepull scope policy (#4192)
  .github/workflows/image-pull.yaml
  scripts/tests/test-talos-workflow-trust.sh
Labels: area/ci

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*
