Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*

docs(wiki): Reorganize and refine content
  .devin/wiki.json
Labels: none

feat(tracearr): add application
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/tracearr/app/externalsecret.yaml
  kubernetes/apps/observability/tracearr/app/helmrelease.yaml
  kubernetes/apps/observability/tracearr/app/kustomization.yaml
  kubernetes/apps/observability/tracearr/ks.yaml
Labels: area/k8s

feat(tracearr): add application
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/tracearr/app/externalsecret.yaml
  kubernetes/apps/observability/tracearr/app/helmrelease.yaml
  kubernetes/apps/observability/tracearr/app/kustomization.yaml
  kubernetes/apps/observability/tracearr/ks.yaml
Labels: area/k8s

chore(tracearr): Removes postgres dependency from helm release
  kubernetes/apps/observability/tracearr/app/helmrelease.yaml
Labels: area/k8s

chore(tracearr): Removes postgres dependency from helm release
  kubernetes/apps/observability/tracearr/app/helmrelease.yaml
Labels: area/k8s

feat(tracearr): Refine K8s probes and env
  kubernetes/apps/observability/tracearr/app/helmrelease.yaml
Labels: area/k8s

feat(tracearr): Refine K8s probes and env
  kubernetes/apps/observability/tracearr/app/helmrelease.yaml
Labels: area/k8s

feat(dragonfly): Allow undeclared Lua keys
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
Labels: area/k8s

feat(dragonfly): Allow undeclared Lua keys
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
Labels: area/k8s

chore(sops): Updates 1Password token encryption
  kubernetes/flux/vars/op-connect-token.sops.yaml
Labels: area/k8s

chore(sops): Updates 1Password token encryption
  kubernetes/flux/vars/op-connect-token.sops.yaml
Labels: area/k8s

feat(clustersecretstore): Add k8susage vault
  kubernetes/apps/external-secrets/external-secrets/secretstore/clustersecretstore.yaml
Labels: area/k8s

feat(clustersecretstore): Add k8susage vault
  kubernetes/apps/external-secrets/external-secrets/secretstore/clustersecretstore.yaml
Labels: area/k8s

feat(kyverno): Track ES usage per-namespace item
  kubernetes/apps/kyverno/kyverno/policies/externalsecret-usage-tracking.yaml
Labels: area/k8s

feat(kyverno): Track ES usage per-namespace item
  kubernetes/apps/kyverno/kyverno/policies/externalsecret-usage-tracking.yaml
Labels: area/k8s

feat(flux): Add PagerDuty notifications
  kubernetes/apps/flux-system/notifications/app/pagerduty/alert.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/externalsecret.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/provider.yaml
Labels: area/k8s

feat(flux): Add PagerDuty notifications
  kubernetes/apps/flux-system/notifications/app/pagerduty/alert.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/externalsecret.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/provider.yaml
Labels: area/k8s

feat(notifications): Migrate to PagerDuty
  kubernetes/apps/flux-system/notifications/app/github-dispatch/alert.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/provider.yaml
  kubernetes/apps/flux-system/notifications/app/github/alert.yaml
  kubernetes/apps/flux-system/notifications/app/github/externalsecret.yaml
  kubernetes/apps/flux-system/notifications/app/github/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/github/provider.yaml
  kubernetes/apps/flux-system/notifications/app/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/alert.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
Labels: area/k8s

feat(notifications): Migrate to PagerDuty
  kubernetes/apps/flux-system/notifications/app/github-dispatch/alert.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/github-dispatch/provider.yaml
  kubernetes/apps/flux-system/notifications/app/github/alert.yaml
  kubernetes/apps/flux-system/notifications/app/github/externalsecret.yaml
  kubernetes/apps/flux-system/notifications/app/github/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/github/provider.yaml
  kubernetes/apps/flux-system/notifications/app/kustomization.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/alert.yaml
  kubernetes/apps/flux-system/notifications/app/pagerduty/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
Labels: area/k8s

feat(alertmanager): Enhance PagerDuty alert details
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/k8s

feat(alertmanager): Enhance PagerDuty alert details
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/k8s

refactor(alertmanager): Clarify template defaults
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/k8s

refactor(alertmanager): Clarify template defaults
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/k8s

style(workflow): Remove trailing newline from issue body
  .github/workflows/flux-failure-issue.yaml
Labels: area/ci

style(workflow): Remove trailing newline from issue body
  .github/workflows/flux-failure-issue.yaml
Labels: area/ci

feat(observability): Add Siren alert router
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/siren/app/helmrelease.yaml
  kubernetes/apps/observability/siren/app/kustomization.yaml
  kubernetes/apps/observability/siren/ks.yaml
Labels: area/k8s

feat(observability): Add Siren alert router
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/siren/app/helmrelease.yaml
  kubernetes/apps/observability/siren/app/kustomization.yaml
  kubernetes/apps/observability/siren/ks.yaml
Labels: area/k8s

ci(renovate): Create PRs immediately
  .github/renovate.json5
Labels: area/ci

ci(renovate): Create PRs immediately
  .github/renovate.json5
Labels: area/ci

ci(renovate): configure commit messages
  .github/renovate.json5
  .github/renovate/commitmessages.json5
Labels: area/ci

ci(renovate): configure commit messages
  .github/renovate.json5
  .github/renovate/commitmessages.json5
Labels: area/ci

chore(renovate): improve auto-merge and digest pinning
  .github/renovate/noPin.json5
  .github/renovate/packageRules.json5
Labels: area/ci

chore(renovate): improve auto-merge and digest pinning
  .github/renovate/noPin.json5
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): Fix image tag regex
  .github/renovate/customManagers.json5
Labels: area/ci

fix(renovate): Fix image tag regex
  .github/renovate/customManagers.json5
Labels: area/ci

chore(whisparr): Update to 3.0.2.1859
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
Labels: area/k8s

chore(whisparr): Update to 3.0.2.1859
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
Labels: area/k8s

feat(gatus): Add internal port for Gatus
  kubernetes/apps/observability/tracearr/ks.yaml
Labels: area/k8s

feat(gatus): Add internal port for Gatus
  kubernetes/apps/observability/tracearr/ks.yaml
Labels: area/k8s

feat(gatus): Configure UI and add connectivity
  kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/k8s
