Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*

chore(flux): suspend legacy distribution (#4020)
  kubernetes/flux/config/flux.yaml
Labels: area/k8s

chore(flux): remove legacy distribution declaration
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/config/kustomization.yaml
Labels: area/k8s

fix(flux): detach operator from legacy root
  kubernetes/apps/flux-system/flux-operator/ks.yaml
  scripts/flate-render-baseline.tsv
Labels: area/k8s

chore(flux): remove legacy distribution declaration (#4021)
  kubernetes/apps/flux-system/flux-operator/ks.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/config/kustomization.yaml
  scripts/flate-render-baseline.tsv
Labels: area/k8s

chore(flux): restore root pruning
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/cluster.yaml
Labels: area/k8s

chore(flux): restore root pruning (#4022)
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/cluster.yaml
Labels: area/k8s

docs(flux): record operator migration
  .hermes/docs/migrations/2026-07-27-flux-operator.md
Labels: none

docs(flux): record operator migration (#4023)
  .hermes/docs/migrations/2026-07-27-flux-operator.md
Labels: none

chore(renovate): raise concurrent PR limit
  .github/renovate.json5
Labels: area/ci

chore(renovate): raise concurrent PR limit (#4024)
  .github/renovate.json5
Labels: area/ci

fix(renovate): remove concurrent PR limit
  .github/renovate.json5
Labels: area/ci

fix(renovate): remove concurrent PR limit (#4027)
  .github/renovate.json5
Labels: area/ci

feat(ci): guard OCI chart source handoffs
  .github/workflows/meta-static-analysis.yaml
  AGENTS.md
  scripts/check-oci-source-handoffs
  scripts/tests/test-oci-source-handoffs.sh
Labels: area/ci

feat(ci): guard OCI chart source handoffs (#4041)
  .github/workflows/meta-static-analysis.yaml
  AGENTS.md
  scripts/check-oci-source-handoffs
  scripts/tests/test-oci-source-handoffs.sh
Labels: area/ci

feat(pasta): stage OCI chart source
  kubernetes/apps/media/pasta/app/kustomization.yaml
  kubernetes/apps/media/pasta/app/ocirepository.yaml
Labels: area/k8s

feat(pasta): stage OCI chart source (#4042)
  kubernetes/apps/media/pasta/app/kustomization.yaml
  kubernetes/apps/media/pasta/app/ocirepository.yaml
Labels: area/k8s

feat(pasta): use OCI chart source
  kubernetes/apps/media/pasta/app/helmrelease.yaml
Labels: area/k8s

feat(pasta): use OCI chart source (#4043)
  kubernetes/apps/media/pasta/app/helmrelease.yaml
Labels: area/k8s

test(pasta): prove OCI source rollback
  kubernetes/apps/media/pasta/app/helmrelease.yaml
Labels: area/k8s

test(pasta): prove OCI source rollback (#4044)
  kubernetes/apps/media/pasta/app/helmrelease.yaml
Labels: area/k8s

feat(pasta): reapply OCI chart source
  kubernetes/apps/media/pasta/app/helmrelease.yaml
Labels: area/k8s

feat(pasta): reapply OCI chart source (#4045)
  kubernetes/apps/media/pasta/app/helmrelease.yaml
Labels: area/k8s

feat(reflector): stage OCI chart source
  kubernetes/apps/tools/reflector/app/kustomization.yaml
  kubernetes/apps/tools/reflector/app/ocirepository.yaml
Labels: area/k8s

feat(reflector): stage OCI chart source (#4051)
  kubernetes/apps/tools/reflector/app/kustomization.yaml
  kubernetes/apps/tools/reflector/app/ocirepository.yaml
Labels: area/k8s

feat(reflector): use OCI chart source
  kubernetes/apps/tools/reflector/app/helmrelease.yaml
Labels: area/k8s

feat(reflector): use OCI chart source (#4052)
  kubernetes/apps/tools/reflector/app/helmrelease.yaml
Labels: area/k8s

test(reflector): prove OCI source rollback
  kubernetes/apps/tools/reflector/app/helmrelease.yaml
Labels: area/k8s

test(reflector): prove OCI source rollback (#4053)
  kubernetes/apps/tools/reflector/app/helmrelease.yaml
Labels: area/k8s

feat(reflector): reapply OCI chart source
  kubernetes/apps/tools/reflector/app/helmrelease.yaml
Labels: area/k8s

feat(reflector): reapply OCI chart source (#4054)
  kubernetes/apps/tools/reflector/app/helmrelease.yaml
Labels: area/k8s

fix(apps): complete app-template OCI staging
  kubernetes/apps/games/mc-router/app/kustomization.yaml
  kubernetes/apps/services/documenso/app/gotenberg-ocirepository.yaml
  kubernetes/apps/services/documenso/app/kustomization.yaml
  kubernetes/apps/services/n8n/app/kustomization.yaml
  kubernetes/apps/services/n8n/app/ocirepository.yaml
Labels: area/k8s

fix(apps): complete app-template OCI staging (#4056)
  kubernetes/apps/games/mc-router/app/kustomization.yaml
  kubernetes/apps/services/documenso/app/gotenberg-ocirepository.yaml
  kubernetes/apps/services/documenso/app/kustomization.yaml
  kubernetes/apps/services/n8n/app/kustomization.yaml
  kubernetes/apps/services/n8n/app/ocirepository.yaml
Labels: area/k8s

feat(apps): use app-template OCI cohort 1
  kubernetes/apps/network/cloudflare-ddns/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/apps/network/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/observability/siren/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
  kubernetes/apps/services/static-webserver/app/helmrelease.yaml
  kubernetes/apps/tools/plane-mcp/app/helmrelease.yaml
  kubernetes/apps/tools/searxng/app/helmrelease.yaml
Labels: area/k8s

feat(apps): use app-template OCI cohort 1 (#4057)
  kubernetes/apps/network/cloudflare-ddns/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/apps/network/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/observability/siren/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/renovate/renovate/app/helmrelease.yaml
  kubernetes/apps/services/static-webserver/app/helmrelease.yaml
  kubernetes/apps/tools/plane-mcp/app/helmrelease.yaml
  kubernetes/apps/tools/searxng/app/helmrelease.yaml
Labels: area/k8s

feat(apps): use app-template OCI cohort 2
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/tautulli/app/helmrelease.yaml
  kubernetes/apps/observability/tracearr/app/helmrelease.yaml
  kubernetes/apps/observability/vector/app/agent/helmrelease.yaml
  kubernetes/apps/observability/vector/app/aggregator/helmrelease.yaml
  kubernetes/apps/services/changedetection/app/helmrelease.yaml
  kubernetes/apps/services/convex/app/helmrelease.yaml
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
  kubernetes/apps/volsync-system/homelab-assistant/app/helmrelease.yaml
Labels: area/k8s

feat(apps): use app-template OCI cohort 2 (#4063)
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/tautulli/app/helmrelease.yaml
  kubernetes/apps/observability/tracearr/app/helmrelease.yaml
  kubernetes/apps/observability/vector/app/agent/helmrelease.yaml
  kubernetes/apps/observability/vector/app/aggregator/helmrelease.yaml
  kubernetes/apps/services/changedetection/app/helmrelease.yaml
  kubernetes/apps/services/convex/app/helmrelease.yaml
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
  kubernetes/apps/volsync-system/homelab-assistant/app/helmrelease.yaml
Labels: area/k8s

feat(apps): use app-template OCI cohort 3
  kubernetes/apps/adguard-home/adguard-home/app/helmrelease.yaml
  kubernetes/apps/games/palworld/app/helmrelease.yaml
  kubernetes/apps/games/romm/app/helmrelease.yaml
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
  kubernetes/apps/security/pocket-id/app/helmrelease.yaml
  kubernetes/apps/services/atuin/app/helmrelease.yaml
  kubernetes/apps/services/cs2/app/helmrelease.yaml
  kubernetes/apps/services/documenso/app/gotenberg-helmrelease.yaml
  kubernetes/apps/services/documenso/app/helmrelease.yaml
  kubernetes/apps/services/homarr/app/helmrelease.yaml
Labels: area/k8s

feat(apps): use app-template OCI cohort 3 (#4064)
  kubernetes/apps/adguard-home/adguard-home/app/helmrelease.yaml
  kubernetes/apps/games/palworld/app/helmrelease.yaml
  kubernetes/apps/games/romm/app/helmrelease.yaml
  kubernetes/apps/home-assistant/home-assistant/app/helmrelease.yaml
  kubernetes/apps/security/pocket-id/app/helmrelease.yaml
  kubernetes/apps/services/atuin/app/helmrelease.yaml
  kubernetes/apps/services/cs2/app/helmrelease.yaml
  kubernetes/apps/services/documenso/app/gotenberg-helmrelease.yaml
  kubernetes/apps/services/documenso/app/helmrelease.yaml
  kubernetes/apps/services/homarr/app/helmrelease.yaml
Labels: area/k8s

feat(apps): use app-template OCI cohort 4
  kubernetes/apps/arrs/cwa-bdl/app/helmrelease.yaml
  kubernetes/apps/arrs/listenarr/app/helmrelease.yaml
  kubernetes/apps/arrs/seerr/app/helmrelease.yaml
  kubernetes/apps/arrs/wizarr/app/helmrelease.yaml
  kubernetes/apps/media/audiobookshelf/app/helmrelease.yaml
  kubernetes/apps/media/calibre-web-automated/app/helmrelease.yaml
  kubernetes/apps/media/grimmory/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/stash/app/helmrelease.yaml
  kubernetes/apps/media/tubearchivist/app/helmrelease.yaml
Labels: area/k8s

feat(apps): use app-template OCI cohort 4 (#4065)
  kubernetes/apps/arrs/cwa-bdl/app/helmrelease.yaml
  kubernetes/apps/arrs/listenarr/app/helmrelease.yaml
  kubernetes/apps/arrs/seerr/app/helmrelease.yaml
  kubernetes/apps/arrs/wizarr/app/helmrelease.yaml
  kubernetes/apps/media/audiobookshelf/app/helmrelease.yaml
  kubernetes/apps/media/calibre-web-automated/app/helmrelease.yaml
  kubernetes/apps/media/grimmory/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/stash/app/helmrelease.yaml
  kubernetes/apps/media/tubearchivist/app/helmrelease.yaml
Labels: area/k8s
