Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*

feat(apps): use app-template OCI cohort 5
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
  kubernetes/apps/arrs/oauth2-proxy/app/helmrelease.yaml
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
  kubernetes/apps/arrs/prowlarr/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr-3d/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr/app/helmrelease.yaml
  kubernetes/apps/arrs/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
  kubernetes/apps/database/elasticsearch/app/helmrelease.yaml
Labels: area/k8s

feat(apps): use app-template OCI cohort 5 (#4066)
  kubernetes/apps/arrs/bazarr/app/helmrelease.yaml
  kubernetes/apps/arrs/oauth2-proxy/app/helmrelease.yaml
  kubernetes/apps/arrs/profilarr/app/helmrelease.yaml
  kubernetes/apps/arrs/prowlarr/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr-3d/app/helmrelease.yaml
  kubernetes/apps/arrs/radarr/app/helmrelease.yaml
  kubernetes/apps/arrs/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
  kubernetes/apps/database/elasticsearch/app/helmrelease.yaml
Labels: area/k8s

feat(etcd-defrag): use OCI chart source
  kubernetes/apps/kube-system/etcd-defrag/app/helmrelease.yaml
Labels: area/k8s

feat(etcd-defrag): use OCI chart source (#4067)
  kubernetes/apps/kube-system/etcd-defrag/app/helmrelease.yaml
Labels: area/k8s

feat(apps): stage native OCI chart sources
  kubernetes/apps/actions-runner-system/ghar-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-controller/app/ocirepository.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/ocirepository.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/ocirepository.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
  kubernetes/apps/services/git-mirror-operator/operator/kustomization.yaml
  kubernetes/apps/services/git-mirror-operator/operator/ocirepository.yaml
  kubernetes/apps/services/n8n-operator/operator/kustomization.yaml
  kubernetes/apps/services/n8n-operator/operator/ocirepository.yaml
Labels: area/k8s

ci(flate): allow public operator charts
  .github/workflows/meta-flux-diff.yaml
Labels: area/ci

feat(apps): stage native OCI chart sources (#4068)
  .github/workflows/meta-flux-diff.yaml
  kubernetes/apps/actions-runner-system/ghar-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-controller/app/ocirepository.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/ocirepository.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/ocirepository.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
  kubernetes/apps/services/git-mirror-operator/operator/kustomization.yaml
  kubernetes/apps/services/git-mirror-operator/operator/ocirepository.yaml
  kubernetes/apps/services/n8n-operator/operator/kustomization.yaml
  kubernetes/apps/services/n8n-operator/operator/ocirepository.yaml
Labels: area/ci, area/k8s

feat(apps): use native OCI chart sources
  kubernetes/apps/actions-runner-system/ghar-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/services/git-mirror-operator/operator/helmrelease.yaml
  kubernetes/apps/services/n8n-operator/operator/helmrelease.yaml
  scripts/check-oci-source-handoffs
  scripts/tests/test-oci-source-handoffs.sh
Labels: area/k8s

test(flate): drop stale operator failures
  scripts/flate-render-baseline.tsv
Labels: none

feat(apps): use native OCI chart sources (#4069)
  kubernetes/apps/actions-runner-system/ghar-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/services/git-mirror-operator/operator/helmrelease.yaml
  kubernetes/apps/services/n8n-operator/operator/helmrelease.yaml
  scripts/check-oci-source-handoffs
  scripts/flate-render-baseline.tsv
  scripts/tests/test-oci-source-handoffs.sh
Labels: area/k8s

revert(apps): restore native OCI Helm sources
  kubernetes/apps/actions-runner-system/ghar-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/services/git-mirror-operator/operator/helmrelease.yaml
  kubernetes/apps/services/n8n-operator/operator/helmrelease.yaml
Labels: area/k8s

test(flate): restore legacy OCI failures
  scripts/flate-render-baseline.tsv
Labels: none

revert(apps): restore native OCI Helm sources (#4070)
  kubernetes/apps/actions-runner-system/ghar-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/services/git-mirror-operator/operator/helmrelease.yaml
  kubernetes/apps/services/n8n-operator/operator/helmrelease.yaml
  scripts/flate-render-baseline.tsv
Labels: area/k8s

chore(apps): remove rejected OCI sources
  AGENTS.md
  kubernetes/apps/actions-runner-system/ghar-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-controller/app/ocirepository.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/ocirepository.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/ocirepository.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
  kubernetes/apps/services/git-mirror-operator/operator/kustomization.yaml
  kubernetes/apps/services/git-mirror-operator/operator/ocirepository.yaml
  kubernetes/apps/services/n8n-operator/operator/kustomization.yaml
  kubernetes/apps/services/n8n-operator/operator/ocirepository.yaml
  scripts/check-oci-source-handoffs
  scripts/tests/test-oci-source-handoffs.sh
Labels: area/k8s

chore(apps): remove rejected OCI sources (#4071)
  AGENTS.md
  kubernetes/apps/actions-runner-system/ghar-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-controller/app/ocirepository.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/ocirepository.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/ocirepository.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
  kubernetes/apps/services/git-mirror-operator/operator/kustomization.yaml
  kubernetes/apps/services/git-mirror-operator/operator/ocirepository.yaml
  kubernetes/apps/services/n8n-operator/operator/kustomization.yaml
  kubernetes/apps/services/n8n-operator/operator/ocirepository.yaml
  scripts/check-oci-source-handoffs
  scripts/tests/test-oci-source-handoffs.sh
Labels: area/k8s

feat(apps): stage remaining HTTP OCI sources
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
  kubernetes/apps/database/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/app/ocirepository.yaml
  kubernetes/apps/database/mariadb-operator/app/kustomization.yaml
  kubernetes/apps/database/mariadb-operator/app/ocirepository.yaml
  kubernetes/apps/database/mariadb-operator/crds/kustomization.yaml
  kubernetes/apps/database/mariadb-operator/crds/ocirepository.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/ocirepository.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/ocirepository.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
  kubernetes/apps/observability/smartctl-exporter/app/kustomization.yaml
  kubernetes/apps/observability/smartctl-exporter/app/ocirepository.yaml
  kubernetes/apps/op/onepassword-connect/app/kustomization.yaml
  kubernetes/apps/op/onepassword-connect/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/ocirepository.yaml
Labels: area/k8s

feat(apps): stage remaining HTTP OCI sources (#4077)
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
  kubernetes/apps/database/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/app/ocirepository.yaml
  kubernetes/apps/database/mariadb-operator/app/kustomization.yaml
  kubernetes/apps/database/mariadb-operator/app/ocirepository.yaml
  kubernetes/apps/database/mariadb-operator/crds/kustomization.yaml
  kubernetes/apps/database/mariadb-operator/crds/ocirepository.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/ocirepository.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/ocirepository.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
  kubernetes/apps/observability/smartctl-exporter/app/kustomization.yaml
  kubernetes/apps/observability/smartctl-exporter/app/ocirepository.yaml
  kubernetes/apps/op/onepassword-connect/app/kustomization.yaml
  kubernetes/apps/op/onepassword-connect/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/ocirepository.yaml
Labels: area/k8s

feat(cert-manager): use OCI chart source
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/k8s

feat(cert-manager): use OCI chart source (#4078)
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/k8s

revert(cert-manager): restore HTTP chart source
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/k8s

revert(cert-manager): restore HTTP chart source (#4079)
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/k8s

chore(apps): clean rejected OCI sources
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
  kubernetes/apps/database/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/app/ocirepository.yaml
  kubernetes/apps/database/mariadb-operator/app/kustomization.yaml
  kubernetes/apps/database/mariadb-operator/app/ocirepository.yaml
  kubernetes/apps/database/mariadb-operator/crds/kustomization.yaml
  kubernetes/apps/database/mariadb-operator/crds/ocirepository.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/ocirepository.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/ocirepository.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
  kubernetes/apps/observability/smartctl-exporter/app/kustomization.yaml
  kubernetes/apps/observability/smartctl-exporter/app/ocirepository.yaml
  kubernetes/apps/op/onepassword-connect/app/kustomization.yaml
  kubernetes/apps/op/onepassword-connect/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/ocirepository.yaml
  kubernetes/flux/repositories/helm/emberstack.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/k8s

chore(apps): clean rejected OCI sources (#4080)
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
  kubernetes/apps/database/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/app/ocirepository.yaml
  kubernetes/apps/database/mariadb-operator/app/kustomization.yaml
  kubernetes/apps/database/mariadb-operator/app/ocirepository.yaml
  kubernetes/apps/database/mariadb-operator/crds/kustomization.yaml
  kubernetes/apps/database/mariadb-operator/crds/ocirepository.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/ocirepository.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/ocirepository.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
  kubernetes/apps/observability/smartctl-exporter/app/kustomization.yaml
  kubernetes/apps/observability/smartctl-exporter/app/ocirepository.yaml
  kubernetes/apps/op/onepassword-connect/app/kustomization.yaml
  kubernetes/apps/op/onepassword-connect/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/ocirepository.yaml
  kubernetes/flux/repositories/helm/emberstack.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/k8s

chore(flux): adopt orphaned OCI sources
  kubernetes/apps/flux-system/oci-source-cleanup/app/cilium.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/kubelet-csr-approver.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/kustomization.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/prometheus-operator-crds.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/rook-ceph-cluster.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/rook-ceph-operator.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/ks.yaml
Labels: area/k8s

chore(flux): adopt orphaned OCI sources (#4081)
  kubernetes/apps/flux-system/oci-source-cleanup/app/cilium.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/kubelet-csr-approver.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/kustomization.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/prometheus-operator-crds.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/rook-ceph-cluster.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/rook-ceph-operator.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/ks.yaml
Labels: area/k8s

fix(flux): wire OCI source cleanup
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/k8s

fix(flux): wire OCI source cleanup (#4082)
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/k8s

chore(flux): delete orphaned OCI sources
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/cilium.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/kubelet-csr-approver.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/kustomization.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/prometheus-operator-crds.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/rook-ceph-cluster.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/rook-ceph-operator.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/ks.yaml
Labels: area/k8s

chore(flux): delete orphaned OCI sources (#4083)
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/cilium.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/kubelet-csr-approver.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/kustomization.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/prometheus-operator-crds.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/rook-ceph-cluster.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/app/rook-ceph-operator.yaml
  kubernetes/apps/flux-system/oci-source-cleanup/ks.yaml
Labels: area/k8s

feat(apps): use OCI sources for controller cohort
  kubernetes/apps/actions-runner-system/ghar-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/observability/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/op/onepassword-connect/app/helmrelease.yaml
  kubernetes/apps/services/git-mirror-operator/operator/helmrelease.yaml
  kubernetes/apps/services/n8n-operator/operator/helmrelease.yaml
Labels: area/k8s

chore(flate): remove rendered operator exceptions
  scripts/flate-render-baseline.tsv
Labels: none

feat(apps): use OCI sources for controller cohort (#4110)
  kubernetes/apps/actions-runner-system/ghar-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-maudecode/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/observability/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/op/onepassword-connect/app/helmrelease.yaml
  kubernetes/apps/services/git-mirror-operator/operator/helmrelease.yaml
  kubernetes/apps/services/n8n-operator/operator/helmrelease.yaml
  scripts/flate-render-baseline.tsv
Labels: area/k8s

feat(apps): use OCI sources for operator cohort
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/database/mariadb-operator/app/helmrelease.yaml
  kubernetes/apps/database/mariadb-operator/crds/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
Labels: area/k8s

feat(apps): use OCI sources for operator cohort (#4111)
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/database/mariadb-operator/app/helmrelease.yaml
  kubernetes/apps/database/mariadb-operator/crds/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
Labels: area/k8s

feat(observability): use OCI chart sources
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
Labels: area/k8s

feat(observability): use OCI chart sources (#4112)
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
Labels: area/k8s

feat(coredns): use OCI chart source
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/k8s

feat(coredns): use OCI chart source (#4113)
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/k8s

feat(cilium): use OCI chart source
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/k8s

feat(cilium): use OCI chart source (#4114)
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/k8s
