Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*

ci: authenticate private GHCR chart checks
  .github/workflows/meta-static-analysis.yaml
Labels: area/ci

feat(firecrawl): switch chart source to OCI (#4133)
  .github/workflows/meta-static-analysis.yaml
  kubernetes/apps/tools/firecrawl/app/helmrelease.yaml
  scripts/check-oci-source-handoffs
  scripts/flate-render-baseline.tsv
  scripts/tests/test-oci-source-handoffs.sh
Labels: area/ci, area/k8s

chore(firecrawl): remove unreferenced local chart
  kubernetes/apps/tools/firecrawl/app/chart/.helmignore
  kubernetes/apps/tools/firecrawl/app/chart/Chart.yaml
  kubernetes/apps/tools/firecrawl/app/chart/README.md
  kubernetes/apps/tools/firecrawl/app/chart/overlays/dev/values.yaml
  kubernetes/apps/tools/firecrawl/app/chart/overlays/prod/values.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/_helpers.tpl
  kubernetes/apps/tools/firecrawl/app/chart/templates/cclog-worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/configmap.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/extract-worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/nuq-postgres-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/nuq-postgres-pvc.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/nuq-prefetch-worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/nuq-worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/playwright-configmap.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/playwright-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/playwright-service.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/rabbitmq-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/redis-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/redis-service.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/secret.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/service.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/values.yaml
Labels: area/k8s

test: decouple local chart fixture from Firecrawl
  scripts/tests/fixtures/helmreleases.yaml
  scripts/tests/fixtures/local-chart/Chart.yaml
  scripts/tests/fixtures/local-chart/templates/configmap.yaml
  scripts/tests/fixtures/local-chart/values.yaml
  scripts/tests/test-validation.sh
Labels: none

chore(firecrawl): remove unreferenced local chart (#4134)
  kubernetes/apps/tools/firecrawl/app/chart/.helmignore
  kubernetes/apps/tools/firecrawl/app/chart/Chart.yaml
  kubernetes/apps/tools/firecrawl/app/chart/README.md
  kubernetes/apps/tools/firecrawl/app/chart/overlays/dev/values.yaml
  kubernetes/apps/tools/firecrawl/app/chart/overlays/prod/values.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/_helpers.tpl
  kubernetes/apps/tools/firecrawl/app/chart/templates/cclog-worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/configmap.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/extract-worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/nuq-postgres-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/nuq-postgres-pvc.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/nuq-prefetch-worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/nuq-worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/playwright-configmap.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/playwright-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/playwright-service.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/rabbitmq-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/redis-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/redis-service.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/secret.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/service.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/values.yaml
  scripts/tests/fixtures/helmreleases.yaml
  scripts/tests/fixtures/local-chart/Chart.yaml
  scripts/tests/fixtures/local-chart/templates/configmap.yaml
  scripts/tests/fixtures/local-chart/values.yaml
  scripts/tests/test-validation.sh
Labels: area/k8s

fix(renovate): clean dependency lookups
  .github/renovate.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
  .mise.toml
Labels: area/ci

fix(renovate): clean dependency lookups (#4135)
  .github/renovate.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
  .mise.toml
Labels: area/ci

fix(renovate): avoid unsupported digest writes
  .github/renovate/packageRules.json5
Labels: area/ci

fix(renovate): avoid unsupported digest writes (#4136)
  .github/renovate/packageRules.json5
Labels: area/ci

fix(tuppr): clean stale legacy node state
  kubernetes/apps/system-upgrade/tuppr/upgrades/legacy-plan-cleanup-rbac.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/legacy-plan-cleanup.yaml
Labels: area/k8s

fix(tuppr): clean stale legacy node state (#4139)
  kubernetes/apps/system-upgrade/tuppr/upgrades/legacy-plan-cleanup-rbac.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/legacy-plan-cleanup.yaml
Labels: area/k8s

fix(tuppr): preserve cleanup shell variables
  kubernetes/apps/system-upgrade/tuppr/upgrades/legacy-plan-cleanup.yaml
Labels: area/k8s

fix(tuppr): preserve cleanup shell variables (#4140)
  kubernetes/apps/system-upgrade/tuppr/upgrades/legacy-plan-cleanup.yaml
Labels: area/k8s

fix(renovate): skip non-writable digest pins
  .github/renovate.json5
Labels: area/ci

fix(renovate): skip non-writable digest pins (#4141)
  .github/renovate.json5
Labels: area/ci

chore(firecrawl): update maintained chart to 0.2.0-maude.2
  kubernetes/apps/tools/firecrawl/app/ocirepository.yaml
Labels: area/k8s

chore(firecrawl): update chart to 0.2.0-maude.2
  kubernetes/apps/tools/firecrawl/app/ocirepository.yaml
Labels: area/k8s

chore(firecrawl): update maintained chart to 0.2.0-maude.2 (#4142)
  kubernetes/apps/tools/firecrawl/app/ocirepository.yaml
Labels: area/k8s

feat(firecrawl): automate chart promotion
  .github/workflows/firecrawl-chart-promotion.yaml
  .github/workflows/meta-static-analysis.yaml
  AGENTS.md
  kubernetes/apps/services/hermes-webhooks/app/endpointslice.yaml
  kubernetes/apps/services/hermes-webhooks/app/ingress.yaml
  kubernetes/apps/services/hermes-webhooks/app/kustomization.yaml
  kubernetes/apps/services/hermes-webhooks/app/service.yaml
  kubernetes/apps/services/hermes-webhooks/ks.yaml
  kubernetes/apps/tools/firecrawl/app/ocirepository.yaml
  scripts/promote-firecrawl-chart
  scripts/tests/test-firecrawl-promotion.sh
  scripts/verify-firecrawl-live
Labels: area/ci, area/k8s

feat(firecrawl): automate signed chart promotion (#4145)
  .github/workflows/firecrawl-chart-promotion.yaml
  .github/workflows/meta-static-analysis.yaml
  AGENTS.md
  kubernetes/apps/services/hermes-webhooks/app/endpointslice.yaml
  kubernetes/apps/services/hermes-webhooks/app/ingress.yaml
  kubernetes/apps/services/hermes-webhooks/app/kustomization.yaml
  kubernetes/apps/services/hermes-webhooks/app/service.yaml
  kubernetes/apps/services/hermes-webhooks/ks.yaml
  kubernetes/apps/tools/firecrawl/app/ocirepository.yaml
  scripts/promote-firecrawl-chart
  scripts/tests/test-firecrawl-promotion.sh
  scripts/verify-firecrawl-live
Labels: area/ci, area/k8s

feat(services): enable Hermes webhook relay
  kubernetes/apps/services/kustomization.yaml
Labels: area/k8s

fix(firecrawl): authenticate Cosign to private GHCR
  .github/workflows/firecrawl-chart-promotion.yaml
Labels: area/ci

feat(services): enable Hermes webhook relay (#4150)
  .github/workflows/firecrawl-chart-promotion.yaml
  kubernetes/apps/services/kustomization.yaml
Labels: area/ci, area/k8s

fix(whisparr): deploy restored Eros image
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
Labels: area/k8s

fix(whisparr): deploy restored Eros image (#4151)
  kubernetes/apps/arrs/whisparr/app/helmrelease.yaml
Labels: area/k8s

fix(firecrawl): use Node for live TCP probes
  scripts/verify-firecrawl-live
Labels: none

fix(firecrawl): use Node for live TCP probes (#4152)
  scripts/verify-firecrawl-live
Labels: none

fix(renovate): clear dashboard blockers
  .github/labels.json
  .github/labels.yaml
  .github/renovate.json5
  .github/renovate/commitmessages.json5
  .github/renovate/packageRules.json5
  .github/workflows/meta-enforce-labels.yaml
  .github/workflows/meta-label-sync.yaml
  scripts/sync-github-labels
Labels: area/ci

fix(arrs): guard CWA books mount readiness
  kubernetes/apps/arrs/cwa-bdl/app/helmrelease.yaml
  kubernetes/apps/arrs/cwa-bdl/ks.yaml
Labels: area/k8s

fix(renovate): clear dashboard blockers (#4158)
  .github/labels.json
  .github/labels.yaml
  .github/renovate.json5
  .github/renovate/commitmessages.json5
  .github/renovate/packageRules.json5
  .github/workflows/meta-enforce-labels.yaml
  .github/workflows/meta-label-sync.yaml
  scripts/sync-github-labels
Labels: area/ci

fix(arrs): guard CWA books mount readiness (#4159)
  kubernetes/apps/arrs/cwa-bdl/app/helmrelease.yaml
  kubernetes/apps/arrs/cwa-bdl/ks.yaml
Labels: area/k8s

fix(renovate): match Helm canonical package name
  .github/renovate.json5
Labels: area/ci

fix(renovate): match Helm canonical package name (#4160)
  .github/renovate.json5
Labels: area/ci

feat(actions): isolate Talos image pull runners
  .github/actionlint.yaml
  .github/workflows/image-plan.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/meta-static-analysis.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/externalsecret.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/networkpolicy.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/ocirepository.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/talos-serviceaccount.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/networkpolicy.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/rbac.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/talos-ks.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/actions-runner-system/namespace-talos.yaml
  scripts/talos-image-plan
  scripts/tests/test-talos-image-plan.sh
  talos/patches/controlplane/talos-api.yaml
Labels: area/ci, area/k8s, distro/talos

feat(actions): isolate Talos image pull runners (#4161)
  .github/actionlint.yaml
  .github/workflows/image-plan.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/meta-static-analysis.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/externalsecret.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/helmrelease.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/kustomization.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/networkpolicy.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/ocirepository.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/talos-serviceaccount.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/networkpolicy.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/rbac.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/talos-ks.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/actions-runner-system/namespace-talos.yaml
  scripts/talos-image-plan
  scripts/tests/test-talos-image-plan.sh
  talos/patches/controlplane/talos-api.yaml
Labels: area/ci, area/k8s, distro/talos

test(actions): exercise Talos image pull
  kubernetes/apps/network/echo-server/app/helmrelease.yaml
Labels: area/k8s

fix(actions): use numeric Talos runner identity
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/helmrelease.yaml
Labels: area/k8s

fix(actions): use numeric Talos runner identity (#4164)
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/helmrelease.yaml
Labels: area/k8s

fix(actions): route Talos runner through service endpoint
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/networkpolicy.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/networkpolicy.yaml
Labels: area/k8s

fix(actions): route Talos runner through service endpoint (#4165)
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-talos/networkpolicy.yaml
  kubernetes/apps/actions-runner-system/ghar-scale-set/arc-zoo/networkpolicy.yaml
Labels: area/k8s
