Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

feat(talos): harden config lifecycle
  .github/renovate/noPin.json5
  .github/workflows/talos-validate.yaml
  .mise.toml
  .taskfiles/Bootstrap/Taskfile.yaml
  .taskfiles/Bootstrap/resources/rook-data-job.tmpl.yaml
  .taskfiles/Bootstrap/resources/rook-disk-job.tmpl.yaml
  .taskfiles/Bootstrap/resources/wait-for-job.sh
  .taskfiles/Talos/Taskfile.yaml
  AGENTS.md
  Taskfile.yaml
  kubernetes/apps/system-upgrade/tuppr/app/ocirepository.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
  talos/patches/controlplane/admission.yaml
  talos/patches/global/nodeLabels.yaml
Labels: area/ci, area/k8s, area/task, distro/talos

fix(alerts): finish Cowtail ingestion cutover
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
Labels: area/k8s

fix(alerts): preserve Cowtail investigation routing
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/k8s

fix(ci): install node for schema publishing
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix(ci): install node for schema publishing (#3974)
  .github/workflows/publish-schemas.yaml
Labels: area/ci

chore(cowtail): deploy v0.15.2
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

chore(cowtail): deploy v0.15.2 (#3975)
  kubernetes/apps/services/cowtail/app/helmrelease.yaml
Labels: area/k8s

fix(cowtail): wire Hermes alert job delivery
  kubernetes/apps/services/convex/app/externalsecret.yaml
Labels: area/k8s

fix(cowtail): wire Hermes alert job delivery (#3976)
  kubernetes/apps/services/convex/app/externalsecret.yaml
Labels: area/k8s

perf(ci): parallelize Helm image validation
  .github/workflows/meta-static-analysis.yaml
  scripts/check-helmrelease-images
  scripts/tests/test-helm-image-inventory.sh
Labels: area/ci

perf(ci): keep static analysis under one minute (#3977)
  .github/workflows/meta-static-analysis.yaml
  scripts/check-helmrelease-images
  scripts/tests/test-helm-image-inventory.sh
Labels: area/ci

perf(ci): scale Helm image shards dynamically
  .github/workflows/meta-static-analysis.yaml
  scripts/check-helmrelease-images
  scripts/plan-helm-image-shards
  scripts/tests/test-helm-image-inventory.sh
Labels: area/ci

perf(ci): scale Helm image shards dynamically (#3978)
  .github/workflows/meta-static-analysis.yaml
  scripts/check-helmrelease-images
  scripts/plan-helm-image-shards
  scripts/tests/test-helm-image-inventory.sh
Labels: area/ci

feat(renovate): deny automerge by default
  .github/renovate.json5
  .github/renovate/packageRules.json5
  kubernetes/apps/renovate/renovate/app/config/config.js
Labels: area/ci, area/k8s

feat(talos): enforce coordinated update targets
  .github/workflows/meta-static-analysis.yaml
  .github/workflows/talos-validate.yaml
  scripts/check-talos-version-sync
  scripts/tests/test-talos-version-sync.sh
Labels: area/ci

feat(ci): replace flux-local with Flate
  .github/workflows/meta-flux-diff.yaml
  .github/workflows/meta-static-analysis.yaml
  .mise.toml
  scripts/check-flate-render
  scripts/flate-render-baseline.tsv
  scripts/tests/test-flate-render.sh
Labels: area/ci

perf(ci): parallelize Flate diffs
  .github/workflows/meta-flux-diff.yaml
Labels: area/ci

feat(ci): harden Renovate and adopt Flate (#3979)
  .github/renovate.json5
  .github/renovate/packageRules.json5
  .github/workflows/meta-flux-diff.yaml
  .github/workflows/meta-static-analysis.yaml
  .github/workflows/talos-validate.yaml
  .mise.toml
  kubernetes/apps/renovate/renovate/app/config/config.js
  scripts/check-flate-render
  scripts/check-talos-version-sync
  scripts/flate-render-baseline.tsv
  scripts/tests/test-flate-render.sh
  scripts/tests/test-talos-version-sync.sh
Labels: area/ci, area/k8s

perf(ci): batch HelmRelease discovery
  scripts/check-helmrelease-images
  scripts/tests/test-helm-image-inventory.sh
Labels: none

fix(ci): fail fast on malformed shard input
  scripts/check-helmrelease-images
Labels: none

fix(ci): bound HelmRelease discovery time
  scripts/check-helmrelease-images
  scripts/tests/test-helm-image-inventory.sh
Labels: none

fix(ci): isolate HelmRelease candidate parsing
  scripts/check-helmrelease-images
  scripts/tests/test-helm-image-inventory.sh
Labels: none

fix(ci): fall back from batch Helm discovery
  scripts/check-helmrelease-images
  scripts/tests/test-helm-image-inventory.sh
Labels: none

fix(ci): bound Helm discovery fallback
  scripts/check-helmrelease-images
  scripts/tests/test-helm-image-inventory.sh
Labels: none

fix(ci): invoke yq fallback explicitly
  scripts/check-helmrelease-images
Labels: none

test(ci): isolate yq fallback shim
  scripts/tests/test-helm-image-inventory.sh
Labels: none

chore(deps): update prometheus-operator-crds to v30
  kubernetes/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  talos/helmfile.yaml
Labels: area/k8s, distro/talos

chore(n8n): update stable image to 2.30.8
  .github/workflows/meta-flux-diff.yaml
  kubernetes/apps/services/n8n-operator/n8n/n8ninstance.yaml
  kubernetes/apps/services/n8n/app/helmrelease.yaml
Labels: area/ci, area/k8s

fix(app-template): preserve Kubernetes API access
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/games/mc-router/app/helmrelease.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/helmrelease.yaml
  kubernetes/apps/volsync-system/homelab-assistant/app/helmrelease.yaml
Labels: area/k8s

fix(app-template): mount API tokens at pod scope
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/games/mc-router/app/helmrelease.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/helmrelease.yaml
  kubernetes/apps/volsync-system/homelab-assistant/app/helmrelease.yaml
Labels: area/k8s

chore(deps): finish app-template v5 rollout
  kubernetes/apps/arrs/oauth2-proxy/app/helmrelease.yaml
  kubernetes/apps/games/palworld/app/helmrelease.yaml
  kubernetes/apps/media/pasta/app/helmrelease.yaml
  kubernetes/apps/security/pocket-id/app/helmrelease.yaml
  kubernetes/apps/services/homarr/app/helmrelease.yaml
Labels: area/k8s

chore(deps): finish app-template v5 rollout (#3985)
  kubernetes/apps/arrs/oauth2-proxy/app/helmrelease.yaml
  kubernetes/apps/games/palworld/app/helmrelease.yaml
  kubernetes/apps/media/pasta/app/helmrelease.yaml
  kubernetes/apps/security/pocket-id/app/helmrelease.yaml
  kubernetes/apps/services/homarr/app/helmrelease.yaml
Labels: area/k8s

ci: document immutable Homebrew actions release
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix(sonarr): update to 4.0.18.2978
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
Labels: area/k8s

fix(sonarr): update to 4.0.18.2978 (#3987)
  kubernetes/apps/arrs/sonarr/app/helmrelease.yaml
Labels: area/k8s

fix(radarr-3d): update to 6.4.0.10523
  kubernetes/apps/arrs/radarr-3d/app/helmrelease.yaml
Labels: area/k8s

fix(gatus): preserve Kubernetes API token on app-template v5
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/k8s

fix(gatus): preserve Kubernetes API token on app-template v5 (#3988)
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/k8s

fix(firecrawl): recreate schema job on image updates
  kubernetes/apps/tools/firecrawl/app/init-nuq-schema-job.yaml
Labels: area/k8s

fix(firecrawl): recreate schema job on image updates (#3992)
  kubernetes/apps/tools/firecrawl/app/init-nuq-schema-job.yaml
Labels: area/k8s

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*
