Repository shamubernetes/home-k8s, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/docs, area/k8s, area/task, area/trunk, distro/talos

fix(services): reload plane on smtp secret changes
  kubernetes/apps/services/plane/app/helmrelease.yaml
Labels: area/k8s

feat(services): migrate plane to enterprise chart
  kubernetes/apps/services/plane/app/helmrelease.yaml
  kubernetes/apps/services/plane/prereqs/externalsecret.yaml
  kubernetes/apps/services/plane/prereqs/init-enterprise-db-job.yaml
  kubernetes/apps/services/plane/prereqs/kustomization.yaml
Labels: area/k8s

fix(services): raise plane worker memory limit
  kubernetes/apps/services/plane/app/helmrelease.yaml
Labels: area/k8s

fix(services): reconcile plane auth provider status
  kubernetes/apps/services/plane/app/auth-config-repair-configmap.yaml
  kubernetes/apps/services/plane/app/helmrelease.yaml
  kubernetes/apps/services/plane/app/kustomization.yaml
Labels: area/k8s

fix(services): expose plane github webhook
  kubernetes/apps/services/plane/app/github-webhook-ingress.yaml
  kubernetes/apps/services/plane/app/kustomization.yaml
  kubernetes/apps/services/plane/prereqs/externalsecret.yaml
Labels: area/k8s

feat(services): deploy plane github bridge
  kubernetes/apps/services/kustomization.yaml
  kubernetes/apps/services/plane-github-bridge/app/deployment.yaml
  kubernetes/apps/services/plane-github-bridge/app/externalsecret.yaml
  kubernetes/apps/services/plane-github-bridge/app/ingress.yaml
  kubernetes/apps/services/plane-github-bridge/app/kustomization.yaml
  kubernetes/apps/services/plane-github-bridge/app/service.yaml
  kubernetes/apps/services/plane-github-bridge/ks.yaml
  kubernetes/apps/services/plane/app/github-webhook-ingress.yaml
Labels: area/k8s

fix(services): pull plane bridge image anonymously
  kubernetes/apps/services/plane-github-bridge/app/deployment.yaml
  kubernetes/apps/services/plane-github-bridge/app/externalsecret.yaml
Labels: area/k8s

chore(services): update plane bridge image
  kubernetes/apps/services/plane-github-bridge/app/deployment.yaml
Labels: area/k8s

fix(services): pass Plane app OAuth scopes
  kubernetes/apps/services/plane-github-bridge/app/deployment.yaml
  kubernetes/apps/services/plane-github-bridge/app/externalsecret.yaml
Labels: area/k8s

fix(services): use internal Plane API for bridge
  kubernetes/apps/services/plane-github-bridge/app/deployment.yaml
  kubernetes/apps/services/plane-github-bridge/app/externalsecret.yaml
Labels: area/k8s

fix(services): continue Plane install to GitHub app
  kubernetes/apps/services/plane-github-bridge/app/deployment.yaml
  kubernetes/apps/services/plane-github-bridge/app/externalsecret.yaml
Labels: area/k8s

fix(services): deploy bridge GitHub setup loop fix
  kubernetes/apps/services/plane-github-bridge/app/deployment.yaml
Labels: area/k8s

feat(services): deploy polished bridge completion page
  kubernetes/apps/services/plane-github-bridge/app/deployment.yaml
Labels: area/k8s

fix(services): deploy bridge countdown close flow
  kubernetes/apps/services/plane-github-bridge/app/deployment.yaml
Labels: area/k8s

fix(services): deploy simplified bridge completion page
  kubernetes/apps/services/plane-github-bridge/app/deployment.yaml
Labels: area/k8s

feat(services): deploy bridge PR state mapping
  kubernetes/apps/services/plane-github-bridge/app/deployment.yaml
  kubernetes/apps/services/plane-github-bridge/app/externalsecret.yaml
Labels: area/k8s

fix(services): deploy edited PR body handling
  kubernetes/apps/services/plane-github-bridge/app/deployment.yaml
Labels: area/k8s

fix(services): deploy Plane token refresh for GitHub bridge
  kubernetes/apps/services/plane-github-bridge/app/deployment.yaml
Labels: area/k8s

feat(database): add mariadb operator
  kubernetes/apps/database/mariadb-operator/app/helmrelease.yaml
  kubernetes/apps/database/mariadb-operator/app/kustomization.yaml
  kubernetes/apps/database/mariadb-operator/crds/helmrelease.yaml
  kubernetes/apps/database/mariadb-operator/crds/kustomization.yaml
  kubernetes/apps/database/mariadb-operator/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/mariadb-operator.yaml
Labels: area/k8s

feat(services): add seafile and onlyoffice
  kubernetes/apps/services/kustomization.yaml
  kubernetes/apps/services/onlyoffice/app/externalsecret.yaml
  kubernetes/apps/services/onlyoffice/app/helmrelease.yaml
  kubernetes/apps/services/onlyoffice/app/kustomization.yaml
  kubernetes/apps/services/onlyoffice/ks.yaml
  kubernetes/apps/services/seafile/app/configmap.yaml
  kubernetes/apps/services/seafile/app/externalsecret.yaml
  kubernetes/apps/services/seafile/app/helmrelease.yaml
  kubernetes/apps/services/seafile/app/kustomization.yaml
  kubernetes/apps/services/seafile/app/nfs.yaml
  kubernetes/apps/services/seafile/db/externalsecret.yaml
  kubernetes/apps/services/seafile/db/kustomization.yaml
  kubernetes/apps/services/seafile/db/mariadb.yaml
  kubernetes/apps/services/seafile/ks.yaml
Labels: area/k8s

fix(services): unblock seafile startup on nfs
  kubernetes/apps/services/seafile/app/configmap.yaml
  kubernetes/apps/services/seafile/app/helmrelease.yaml
Labels: area/k8s

fix(seafile): run with nfs-compatible permissions
  kubernetes/apps/services/seafile/app/helmrelease.yaml
Labels: area/k8s

feat(services): replace seafile with documenso
  kubernetes/apps/services/documenso/app/externalsecret.yaml
  kubernetes/apps/services/documenso/app/gotenberg-helmrelease.yaml
  kubernetes/apps/services/documenso/app/helmrelease.yaml
  kubernetes/apps/services/documenso/app/kustomization.yaml
  kubernetes/apps/services/documenso/ks.yaml
  kubernetes/apps/services/kustomization.yaml
  kubernetes/apps/services/onlyoffice/app/externalsecret.yaml
  kubernetes/apps/services/onlyoffice/app/helmrelease.yaml
  kubernetes/apps/services/onlyoffice/app/kustomization.yaml
  kubernetes/apps/services/onlyoffice/ks.yaml
  kubernetes/apps/services/seafile/app/configmap.yaml
  kubernetes/apps/services/seafile/app/externalsecret.yaml
  kubernetes/apps/services/seafile/app/helmrelease.yaml
  kubernetes/apps/services/seafile/app/kustomization.yaml
  kubernetes/apps/services/seafile/app/nfs.yaml
  kubernetes/apps/services/seafile/db/externalsecret.yaml
  kubernetes/apps/services/seafile/db/mariadb.yaml
  kubernetes/apps/services/seafile/ks.yaml
Labels: area/k8s

fix(documenso): configure signing certificate
  kubernetes/apps/services/documenso/app/externalsecret.yaml
Labels: area/k8s

feat(tools): deploy searxng
  kubernetes/apps/tools/searxng/app/helmrelease.yaml
  kubernetes/apps/tools/searxng/app/kustomization.yaml
  kubernetes/apps/tools/searxng/app/secret.sops.yaml
  kubernetes/apps/tools/searxng/ks.yaml
Labels: area/k8s

fix(tools): source searxng secret from 1password
  kubernetes/apps/tools/searxng/app/externalsecret.yaml
  kubernetes/apps/tools/searxng/app/kustomization.yaml
  kubernetes/apps/tools/searxng/app/secret.sops.yaml
Labels: area/k8s

chore(kubernetes): add app validation helpers
  .taskfiles/Kubernetes/Taskfile.yaml
  AGENTS.md
  scripts/pin-image
  scripts/validate-app
Labels: area/task

chore(kubernetes): add app scaffold and rollout helpers
  .taskfiles/Kubernetes/Taskfile.yaml
  AGENTS.md
  kubernetes/apps/tools/searxng/ks.yaml
  scripts/check-image-pins
  scripts/new-app
  scripts/reconcile-app
  scripts/validate-app
Labels: area/k8s, area/task

docs: document shared data service conventions
  AGENTS.md
Labels: none

docs: clarify repo tooling expectations
  AGENTS.md
Labels: none

feat(database): add shared RabbitMQ for Plane
  kubernetes/apps/database/rabbitmq/cluster/cluster.yaml
  kubernetes/apps/database/rabbitmq/cluster/externalsecret-firecrawl.yaml
  kubernetes/apps/database/rabbitmq/cluster/externalsecret-plane.yaml
  kubernetes/apps/database/rabbitmq/cluster/kustomization.yaml
  kubernetes/apps/database/rabbitmq/cluster/networkpolicy.yaml
  kubernetes/apps/database/rabbitmq/cluster/topology.yaml
  kubernetes/apps/database/rabbitmq/ks.yaml
  kubernetes/apps/database/rabbitmq/operator/cluster/kustomization.yaml
  kubernetes/apps/database/rabbitmq/operator/topology/kustomization.yaml
  kubernetes/apps/services/plane/app/helmrelease.yaml
  kubernetes/apps/services/plane/ks.yaml
  kubernetes/apps/services/plane/prereqs/externalsecret.yaml
Labels: area/k8s

fix(kubernetes): watch flux instead of forcing reconcile
  .taskfiles/Kubernetes/Taskfile.yaml
  AGENTS.md
  scripts/reconcile-app
Labels: area/task

fix(database): isolate RabbitMQ topology metrics cert
  kubernetes/apps/database/rabbitmq/operator/topology/kustomization.yaml
Labels: area/k8s

fix(database): align RabbitMQ memory request
  kubernetes/apps/database/rabbitmq/cluster/cluster.yaml
Labels: area/k8s

fix(database): allow RabbitMQ topology operator
  kubernetes/apps/database/rabbitmq/cluster/networkpolicy.yaml
Labels: area/k8s

fix(database): health-check RabbitMQ operator deployments
  kubernetes/apps/database/rabbitmq/ks.yaml
Labels: area/k8s

fix(plane): set RabbitMQ frameMax for silo
  kubernetes/apps/services/plane/prereqs/externalsecret.yaml
Labels: area/k8s

fix(plane): scope RabbitMQ frameMax to silo
  kubernetes/apps/services/plane/app/helmrelease.yaml
  kubernetes/apps/services/plane/prereqs/externalsecret.yaml
Labels: area/k8s

feat(tools): deploy firecrawl with shared services
  kubernetes/apps/database/dragonfly/cluster/networkpolicy-clients.yaml
  kubernetes/apps/tools/firecrawl/app/chart/.helmignore
  kubernetes/apps/tools/firecrawl/app/chart/Chart.yaml
  kubernetes/apps/tools/firecrawl/app/chart/README.md
  kubernetes/apps/tools/firecrawl/app/chart/overlays/dev/values.yaml
  kubernetes/apps/tools/firecrawl/app/chart/overlays/prod/values.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/_helpers.tpl
  kubernetes/apps/tools/firecrawl/app/chart/templates/configmap.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/extract-worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/nuq-postgres-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/nuq-postgres-pvc.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/nuq-prefetch-worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/nuq-worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/playwright-configmap.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/playwright-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/playwright-service.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/rabbitmq-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/redis-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/redis-service.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/secret.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/service.yaml
  kubernetes/apps/tools/firecrawl/app/chart/templates/worker-deployment.yaml
  kubernetes/apps/tools/firecrawl/app/chart/values.yaml
  kubernetes/apps/tools/firecrawl/app/externalsecret.yaml
  kubernetes/apps/tools/firecrawl/app/helmrelease.yaml
  kubernetes/apps/tools/firecrawl/app/ingress.yaml
  kubernetes/apps/tools/firecrawl/app/init-db-job.yaml
  kubernetes/apps/tools/firecrawl/app/kustomization.yaml
  kubernetes/apps/tools/firecrawl/ks.yaml
Labels: area/k8s

fix(tools): initialize firecrawl nuq schema
  kubernetes/apps/tools/firecrawl/app/init-nuq-schema-job.yaml
  kubernetes/apps/tools/firecrawl/app/kustomization.yaml
  kubernetes/apps/tools/firecrawl/app/nuq-schema-configmap.yaml
Labels: area/k8s

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/k8s:
- changed-files:
  - any-glob-to-any-file: kubernetes/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
distro/talos:
- changed-files:
  - any-glob-to-any-file: talos/**/*
